<form role="form" action="{{ link.pages-js-dashboard }}">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="text" placeholder="name@email.com">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success col-xs-12" onclick="window.location='{{ link.pages-js-dashboard }}';">{{ signButtonText }}</button>
        </div>
    </div>
</form>