<form role="form">
    <div class="form-group">
        <select class="form-control">
            <option value="1">What should I do while I'm in school to prepare for a job?</option>
            <option value="2">What are the best ways to get a good salary?</option>
            <option value="3">I would like help with my resume</option>
            <option value="4">Please help me prepare for a job interview</option>
            <option value="5">How can career services help me get a job?</option>
        </select>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button type="submit" class="btn btn-success col-xs-12">Send</button>
        </div>
    </div>
</form>