<div class="form-group">
    <div class="input-group">
        <input id="edit-field-user-resume-und-0-upload" name="files[field_user_resume_und_0]" size="22" class="form-file" type="file">
    </div>
</div>