<form role="form" action="{{ link.pages-l-register }}">
    <div class="input-group">
        {{#campus}}
            {{> atoms-select-list }}
        {{/campus}}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success col-xs-12" onclick="window.location='{{ link.pages-l-register }}';">{{ signButtonText }}</button>
        </div>
    </div>
</form>