<form role="form" class="form-inline" action="#">
    <div class="form-group">
        {{#sort-cs}}
            {{> atoms-select-list }}
        {{/sort-cs}}
    </div>
    <button type="submit" class="btn btn-info" onclick="window.location='#';">{{ sort-cs-buttonlabel }}</button>
</form>