<div class="row">
    <form class="form-inline text-center giant">
        <div class="form-group">
            <input id ="firstname" class="form-control" type="text" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <input id ="lastname" class="form-control" type="text" placeholder="Last Name" required>
        </div>
        <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-jsj-intro-journey-2 }}';">Send</button>
    </form>
</div>