<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="//centaurus.adbee.technology/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/libs/nanoscroller.css" />
				<link rel="stylesheet" href="../../css/centaurus/centaurus.css?{{ cacheBuster }}" media="all" />
				<link rel="stylesheet" href="../../css/betterweekdays/betterweekdays.css?{{ cacheBuster }}" media="all" />
				{{# page-specific-css }}
		        <link rel="stylesheet" type="text/css" href="../../css/{{ path }}">
				{{/ page-specific-css }}
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
					<script src="../../js/html5shiv.js"></script>
						<script src="../../js/respond.min.js"></script>
        <![endif]-->
			<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
			{% pattern-lab-head %}
			<!-- End Pattern Lab -->
        {{# keen-header-js }}
            <script type="text/javascript">
                !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.3.0/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
            </script>
        {{/ keen-header-js }}
	</head>
	<body class="{{ bodyClass }}" id="{{ bodyId }}">
