<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

<!-- intercom -->
<script>
    window.intercomSettings = {
        app_id: "c8ondh7h",
        name: "Nikola Tesla", // Full name
        email: "nikola@example.com" // Email address
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>


<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.4/javascripts/jquery.nanoscroller.min.js"></script>

<!-- this page specific scripts -->
{{# form-footer-js }}
<script src="../../js/jquery.maskedinput.min.js"></script>
<script src="../../js/bootstrap-datepicker.js"></script>
<script src="../../js/moment.js"></script>
<script src="../../js/daterangepicker.js"></script>
<!-- <script src="../../js/bootstrap-timepicker.min.js"></script> -->
<script src="../../js/select2.min.js"></script>
<script src="../../js/hogan.js"></script>
<script src="../../js/typeahead.min.js"></script>
{{/ form-footer-js }}

{{# table-footer-js }}
    <script src="../../js/jquery.dataTables.js"></script>
    <script src="../../js/dataTables.fixedHeader.js"></script>
    <script src="../../js/dataTables.tableTools.js"></script>
    <script src="../../js/jquery.dataTables.bootstrap.js"></script>
    <script src="../../js/daterangepicker.js"></script>
    <script src="../../js/bootstrap-datepicker.js"></script>
    <script src="../../js/moment.js"></script>
{{/table-footer-js}}

{{# graph-footer-js }}
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot/excanvas.min.js"></script><![endif]-->
    <script src="../../js/flot/jquery.flot.js"></script>
    <script src="../../js/flot/jquery.flot.min.js"></script>
    <script src="../../js/flot/jquery.flot.pie.min.js"></script>
    <script src="../../js/flot/jquery.flot.stack.min.js"></script>
    <script src="../../js/flot/jquery.flot.resize.min.js"></script>
    <script src="../../js/flot/jquery.flot.time.min.js"></script>
    <script src="../../js/flot/jquery.flot.orderBars.js"></script>
{{/graph-footer-js}}

{{# morris-graph-footer-js }}
    <script src="../../js/jquery.knob.js"></script>
    <script src="../../js/raphael-min.js"></script>
    <script src="../../js/morris.js"></script>
{{/morris-graph-footer-js}}

{{# timeline-js }}
    <script src="../../js/modernizr.js"></script>
    <script src="../../js/timeline.js"></script>
{{/timeline-js}}

<!-- theme scripts -->
<script src="../../js/scripts.js"></script>
<!-- <script src="//raw.githubusercontent.com/HubSpot/pace/v0.5.6/pace.min.js"></script> -->

{{# select-js }}
    <!-- selectjs -->
    <script>
        $('select#playlists').change(function(){
            var target = $('#dropdowndesc');
            var show = $("option:selected", this).data('custom');
            $(target).text(show);
        });
    </script>
{{/select-js}}

{{# reports-js }}
    <script src="../../js/reports.js"></script>
{{/ reports-js}}

{{# rules-js }}
    <script src="../../js/rules.js"></script>
{{/ rules-js}}

{{# checkbox-js }}
    <script src="../../js/checkbox.js"></script>
{{/ checkbox-js}}

{{# bootstrap-wizard-js }}
    <script src="../../js/bootstrap-wizard.js"></script>
{{/ bootstrap-wizard-js}}

{{# custom-wizard-js }}
    <script src="../../js/custom-wizard.js"></script>
{{/ custom-wizard-js}}

{{# form-footer-js }}

<script>
$('.nav li a').click(function(e) {
    $('.loading-spinner').removeClass('hidden');
});
</script>

<!-- this page specific inline scripts -->

<script>
    $(function($) {
        //tooltip init
        $('#exampleTooltip').tooltip();

        //nice select boxes
        $('#sel1').select2();
        $('#sel2').select2();
        $('#sel3').select2();
        $('#sel4').select2();

        $('#sel1Multi').select2({
            placeholder: 'Select a Job',
            allowClear: true
        });
        $('#sel2Multi').select2({
            placeholder: 'Select interest',
            allowClear: true
        });
        $('#sel3Multi').select2({
            placeholder: 'Job',
            allowClear: true
        });
        $('#sel4Multi').select2({
            placeholder: 'Location',
            allowClear: true
        });

        //masked inputs
        $("#maskedDate").mask("99/99/9999");
        $("#maskedPhone").mask("(999) 999-9999");
        $("#maskedPhoneExt").mask("(999) 999-9999? x99999");
        $("#maskedTax").mask("99-9999999");
        $("#maskedSsn").mask("999-99-9999");

        $("#maskedProductKey").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});

        $.mask.definitions['~']='[+-]';
        $("#maskedEye").mask("~9.99 ~9.99 999");

        //datepicker
        $('#datepickerDate').datepicker({
            format: 'mm-dd-yyyy'
        });

        $('#datepickerDateComponent').datepicker();

        //daterange picker
        $('#datepickerDateRange').daterangepicker();

        //timepicker
        // $('#timepicker').timepicker({
        //     minuteStep: 5,
        //     showSeconds: true,
        //     showMeridian: false,
        //     disableFocus: false,
        //     showWidget: true
        // }).focus(function() {
        //     $(this).next().trigger('click');
        // });

        //password strength meter
        // $('#examplePwdMeter').pwstrength({
        //     label: '.pwdstrength-label'
        // });

    });
</script>
{{/ form-footer-js }}

{{# table-footer-js }}
    <script>
        $(document).ready(function() {
            var table = $('#table-example').dataTable({
                'info': false,
                'sDom': 'lTfr<"clearfix">tip',
                'oTableTools': {
                    'aButtons': [
                        {
                            'sExtends':    'collection',
                            'sButtonText': '<i class="fa fa-cloud-download"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i>',
                            'aButtons':    [ 'csv', 'pdf' ]
                        }
                    ]
                }
            });

            var tableactivity = $('#table-activity').dataTable({
                "order": [[ 0, "desc" ]],
                'info': false,
                'sDom': 'lTfr<"clearfix">tip',
                'oTableTools': {
                    'aButtons': [
                        {
                            'sExtends':    'collection',
                            'sButtonText': '<i class="fa fa-cloud-download"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i>',
                            'aButtons':    [ 'csv', 'pdf' ]
                        }
                    ]
                }
            });

            //datepicker
            $('#datepickerDate').datepicker({
                format: 'mm-dd-yyyy'
            });

            $('#datepickerDateComponent').datepicker();

            //daterange picker
            $('#datepickerDateRange').daterangepicker();
        });
    </script>
{{/table-footer-js}}

{{# graph-footer-js }}
    <script>
        $(function() {

            // bar chart
            if ($('#graph-bar').length) {
                var db1 = [];
                for (var i = 0; i <= 10; i += 1) {
                    db1.push([i, parseInt(Math.random() * 30)]);
                }

                var db2 = [];
                for (var i = 0; i <= 10; i += 1) {
                    db2.push([i, parseInt(Math.random() * 30)]);
                }

                var db3 = [];
                for (var i = 0; i <= 10; i += 1) {
                    db3.push([i, parseInt(Math.random() * 30)]);
                }

                var series = new Array();

                series.push({
                    data : db1,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 1,
                        lineWidth: 1,
                        fill: 1
                    }
                });
                series.push({
                    data : db2,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 2,
                        lineWidth: 1,
                        fill: 1
                    }
                });
                series.push({
                    data : db3,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 3,
                        lineWidth: 1,
                        fill: 1
                    }
                });

                $.plot("#graph-bar", series, {
                    colors: ['#e74c3c', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#95a5a6'],
                    grid: {
                        tickColor: "#ddd",
                        borderWidth: 0
                    },
                    shadowSize: 0
                });
            }

            // bar chart - horizontal
            if ($('#graph-flot-bar-horizontal').length) {
                var db1 = [];
//                var programs = ['Dental Assistant', 'Paralegal', 'Music Production', 'Cosmetology'];
//                programs.forEach(function(program) {
//                    db1.push([parseInt(Math.random() * 30), program]);
//                });
                for (var i = 0; i <= 4; i += 1) {
                    db1.push([parseInt(Math.random() * 30), i]);
                }

                var db2 = [];
                for (var i = 0; i <= 4; i += 1) {
                    db2.push([parseInt(Math.random() * 30), i]);
                }

                var db3 = [];
                for (var i = 0; i <= 4; i += 1) {
                    db3.push([parseInt(Math.random() * 30), i]);
                }

                var series = new Array();

                series.push({
                    data : db1,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 1,
                        lineWidth: 1,
                        horizontal: true,
                        fill: 1
                    }
                });
                series.push({
                    data : db2,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 2,
                        lineWidth: 1,
                        horizontal: true,
                        fill: 1
                    }
                });
                series.push({
                    data : db3,
                    bars : {
                        show : true,
                        barWidth : 0.2,
                        order : 3,
                        lineWidth: 1,
                        horizontal: true,
                        fill: 1
                    }
                });

                $.plot("#graph-flot-bar-horizontal", series, {
                    colors: ['#e74c3c', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#95a5a6'],
                    grid: {
                        tickColor: "#ddd",
                        borderWidth: 0
                    },
                    shadowSize: 0
                });
            }

            // graph with points - sin/cos example
            if ($('#graph-flot-sin').length) {
                var sin = [],
                        cos = [];

                for (var i = 0; i < 14; i += 0.5) {
                    sin.push([i, Math.sin(i)]);
                    cos.push([i, Math.cos(i)]);
                }

                var plot = $.plot("#graph-flot-sin", [
                    { data: sin, label: "sin(x)"},
                    { data: cos, label: "cos(x)"}
                ], {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2
                        },
                        points: {
                            show: true
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#ddd",
                        borderWidth: 0
                    },
                    yaxis: {
                        min: -1.2,
                        max: 1.2
                    },
                    colors: ['#e74c3c', '#2ecc71', '#f1c40f', '#3498db', '#9b59b6', '#95a5a6'],
                    shadowSize: 0
                });

                function showTooltip(x, y, contents) {
                    $("<div id='tooltip'>" + contents + "</div>").css({
                        position: "absolute",
                        display: "none",
                        top: y + 5,
                        left: x + 5,
                        border: "1px solid #fdd",
                        padding: "2px",
                        "background-color": "#fee",
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#graph-flot-sin").bind("plothover", function (event, pos, item) {

                    if ($("#enablePosition:checked").length > 0) {
                        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
                        $("#hoverdata").text(str);
                    }

                    if ($("#enableTooltip:checked").length > 0) {
                        if (item) {
                            if (previousPoint != item.dataIndex) {

                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                        y = item.datapoint[1].toFixed(2);

                                showTooltip(item.pageX, item.pageY,
                                        item.series.label + " of " + x + " = " + y);
                            }
                        } else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                    }
                });

                $("#graph-flot-sin").bind("plotclick", function (event, pos, item) {
                    if (item) {
                        $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                        plot.highlight(item.series, item.datapoint);
                    }
                });
            }

            // stack graph
            if ($('#graph-flot-stacking').length) {
                var d1 = [];
                for (var i = 0; i <= 10; i += 1) {
                    d1.push([i, parseInt(Math.random() * 30)]);
                }

                var d2 = [];
                for (var i = 0; i <= 10; i += 1) {
                    d2.push([i, parseInt(Math.random() * 30)]);
                }

                var d3 = [];
                for (var i = 0; i <= 10; i += 1) {
                    d3.push([i, parseInt(Math.random() * 30)]);
                }

                var stack = 0,
                        bars = true,
                        lines = false,
                        steps = false;

                function plotWithOptions() {
                    $.plot("#graph-flot-stacking", [ d1, d2, d3 ], {
                        series: {
                            stack: stack,
                            lines: {
                                show: lines,
                                fill: true,
                                steps: steps,
                                lineWidth: 1,
                                fill: 1
                            },
                            bars: {
                                show: bars,
                                barWidth: 0.3,
                                lineWidth: 1,
                                fill: 1
                            }
                        },
                        colors: ['#e74c3c', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#95a5a6'],
                        grid: {
                            tickColor: "#ddd",
                            borderWidth: 0
                        },
                        shadowSize: 0
                    });
                }

                plotWithOptions();

                $(".stackControls button").click(function (e) {
                    e.preventDefault();
                    stack = $(this).text() == "With stacking" ? true : null;
                    plotWithOptions();
                });

                $(".graphControls button").click(function (e) {
                    e.preventDefault();
                    bars = $(this).text().indexOf("Bars") != -1;
                    lines = $(this).text().indexOf("Lines") != -1;
                    steps = $(this).text().indexOf("steps") != -1;
                    plotWithOptions();
                });
            }

            // donut chart
            if ($('#graph-flot-donut').length) {
                var dataDonut = [
                    { label: "Has Password",  data: 10},
                    { label: "Job Preferences",  data: 30},
                    { label: "Resume Uploaded",  data: 90},
                    { label: "Job Matches",  data: 70},
                    { label: "Viewed Job",  data: 80},
                    { label: "Applied to Job",  data: 110}
                ];

                $.plot('#graph-flot-donut', dataDonut, {
                    series: {
                        pie: {
                            show: true,
                            innerRadius: 0.4,
                            label: {
                                show: true,
                            }
                        }
                    },
                    colors: ['#e74c3c', '#f1c40f', '#2ecc71', '#3498db', '#9b59b6', '#95a5a6'],
                    legend: {
                        show: false,
                    }
                });
            }

            // graph with points
            if ($('#graph-flot-points').length) {
                var likes = [[1, 5], [2, 10], [3, 15], [4, 20],[5, 25],[6, 30],[7, 35],[8, 40],[9, 45],[10, 50],[11, 55],[12, 60],[13, 65],[14, 70],[15, 75],[16, 80],[17, 85],[18, 90],[19, 85],[20, 80],[21, 75],[22, 80],[23, 75],[24, 70],[25, 65],[26, 75],[27,80],[28, 85],[29, 90], [30, 95]];

                var plot = $.plot($("#graph-flot-points"),
                        [ { data: likes, label: "Fans"} ], {
                            series: {
                                lines: {
                                    show: true,
                                    lineWidth: 2,
                                    fill: true,
                                    fillColor: { colors: [ { opacity: 0.3 }, { opacity: 0.3 } ] }
                                },
                                points: { show: true,
                                    lineWidth: 2
                                },
                                shadowSize: 0
                            },
                            grid: { hoverable: true,
                                clickable: true,
                                tickColor: "#f9f9f9",
                                borderWidth: 0
                            },
                            colors: ["#3498db"],
                            xaxis: {ticks:6, tickDecimals: 0},
                            yaxis: {ticks:3, tickDecimals: 0},
                        });

                function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css( {
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 5,
                        border: '1px solid #fdd',
                        padding: '2px',
                        'background-color': '#dfeffc',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#graph-flot-points").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    if (item) {
                        if (previousPoint != item.dataIndex) {
                            previousPoint = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + x + " = " + y);
                        }
                    }
                    else {
                        $("#tooltip").remove();
                        previousPoint = null;
                    }
                });
            }

            // graph real time
            if ($('#graph-flot-realtime').length) {

                var data = [],
                        totalPoints = 300;

                function getRandomData() {

                    if (data.length > 0)
                        data = data.slice(1);

                    // Do a random walk

                    while (data.length < totalPoints) {

                        var prev = data.length > 0 ? data[data.length - 1] : 50,
                                y = prev + Math.random() * 10 - 5;

                        if (y < 0) {
                            y = 0;
                        } else if (y > 100) {
                            y = 100;
                        }

                        data.push(y);
                    }

                    // Zip the generated y values with the x values

                    var res = [];
                    for (var i = 0; i < data.length; ++i) {
                        res.push([i, data[i]])
                    }

                    return res;
                }

                // Set up the control widget

                var updateInterval = 30;
                $("#updateInterval").val(updateInterval).change(function () {
                    var v = $(this).val();
                    if (v && !isNaN(+v)) {
                        updateInterval = +v;
                        if (updateInterval < 1) {
                            updateInterval = 1;
                        } else if (updateInterval > 2000) {
                            updateInterval = 2000;
                        }
                        $(this).val("" + updateInterval);
                    }
                });

                var plot = $.plot("#graph-flot-realtime", [ getRandomData() ], {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: { colors: [ { opacity: 0.3 }, { opacity: 0.3 } ] }
                        },
                        shadowSize: 0	// Drawing is faster without shadows
                    },
                    colors: ["#e74c3c"],
                    yaxis: {
                        min: 0,
                        max: 100
                    },
                    xaxis: {
                        show: false
                    }
                });

                function update() {

                    plot.setData([getRandomData()]);

                    // Since the axes don't change, we don't need to call plot.setupGrid()

                    plot.draw();
                    setTimeout(update, updateInterval);
                }

                update();
            }
        });

        function labelFormatter(label, series) {
            return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
        }
    </script>
{{/graph-footer-js}}

{{# morris-graph-footer-js }}
    <script>
        $(function($) {
            graphDonut = Morris.Donut({
                element: 'hero-donut',
                data: [
                    { label: "Has Password",  value: 20},
                    { label: "Job Preferences",  value: 36},
                    { label: "Resume Uploaded",  value: 10},
                    { label: "Job Matches",  value: 17},
                    { label: "Viewed Job",  value: 20},
                    { label: "Applied to Job",  value: 14}
                ],
                colors: ['#f1c40f', '#9b59b6', '#3498db', '#2ecc71', '#e74c3c', '#95a5a6'],
                formatter: function (y) { return y + "%" },
                resize: true
            });

            graphLine = Morris.Line({
                element: 'graph-line-1',
                data: [
                    {date: '2016-01-01', campus: 0, program: 0},
                    {date: '2016-01-02', campus: 5, program: 4},
                    {date: '2016-01-03', campus: 10, program: 8},
                    {date: '2016-01-04', campus: 15, program: 12},
                    {date: '2016-01-05', campus: 25, program: 16},
                    {date: '2016-01-06', campus: 50, program: 22},
                    {date: '2016-01-07', campus: 75, program: 30},
                    {date: '2016-01-08', campus: 100, program: 38}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['% of St. Louis Campus Students', '% of Medical Assistant Degree Program Students'],
                lineColors: ['#0691F9','#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            graphLine2 = Morris.Line({
                element: 'graph-line-2',
                data: [
                    {date: '2016-01-01', campus: 0, program: 0},
                    {date: '2016-01-07', campus: -5, program: 1},
                    {date: '2016-01-14', campus: 5, program: -5},
                    {date: '2016-01-21', campus: -10, program: 10},
                    {date: '2016-01-28', campus: 25, program: 10}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['%Δ of St. Louis Campus Students', '%Δ of Medical Assistant Degree Program Students'],

                lineColors: ['#0691F9','#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            graphLine3 = Morris.Line({
                element: 'graph-line-3',
                data: [
                    {date: '2016-01-01', campus: 155, program: 125},
                    {date: '2016-01-02', campus: 199, program: 166},
                    {date: '2016-01-03', campus: 115, program: 120},
                    {date: '2016-01-04', campus: 176, program: 140},
                    {date: '2016-01-05', campus: 173, program: 160},
                    {date: '2016-01-06', campus: 115, program: 190},
                    {date: '2016-01-07', campus: 140, program: 180},
                    {date: '2016-01-08', campus: 190, program: 140}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['Campus Students', 'Degree Program Students'],
                lineColors: ['#e74c3c','#9b59b6'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine3.redraw();
            });

            graphLine4 = Morris.Line({
                element: 'graph-line-4',
                data: [
                    {date: '2016-01-01', campus: 0, program: 0},
                    {date: '2016-01-07', campus: 10, program: -10},
                    {date: '2016-01-14', campus: -5, program: 0},
                    {date: '2016-01-21', campus: 15, program: 15},
                    {date: '2016-01-28', campus: 25, program: 20}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['%Δ Campus Students', '%Δ Degree Program Students'],
                lineColors: ['#e74c3c','#9b59b6'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine4.redraw();
            });

            graphLine5 = Morris.Line({
                element: 'graph-line-5',
                data: [
                    {date: '2016-01-01', small: 50, middle: 100, enterprise: 150},
                    {date: '2016-01-07', small: 75, middle: 150, enterprise: 215},
                    {date: '2016-01-14', small: 15, middle: 130, enterprise: 250},
                    {date: '2016-01-21', small: 12, middle: 160, enterprise: 150},
                    {date: '2016-01-28', small: 75, middle: 135, enterprise: 175}
                ],
                xkey: 'date',
                ykeys: ['small', 'middle', 'enterprise'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['Small Business', 'Mid-Sized Business', 'Enterprise Business'],
                lineColors: ['#e74c3c','#9b59b6', '#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine5.redraw();
            });

            graphLine6 = Morris.Line({
                element: 'graph-line-6',
                data: [
                    {date: '2016-01-01', small: 5, middle: 0, enterprise: 15},
                    {date: '2016-01-07', small: -5, middle: 15, enterprise: 20},
                    {date: '2016-01-14', small: 15, middle: 20, enterprise: 0},
                    {date: '2016-01-21', small: 0, middle: 15, enterprise: 5},
                    {date: '2016-01-28', small: 25, middle: -20, enterprise: -5}
                ],
                xkey: 'date',
                ykeys: ['small', 'middle', 'enterprise'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['%Δ Small Business', '%Δ Mid-Sized Business', '%Δ Enterprise Business'],
                lineColors: ['#e74c3c','#9b59b6', '#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine6.redraw();
            });

            graphLine7 = Morris.Line({
                element: 'graph-line-7',
                data: [
                    {date: '2016-01-01', campus: 10, program: 80},
                    {date: '2016-01-02', campus: 50, program: 50},
                    {date: '2016-01-03', campus: 30, program: 120},
                    {date: '2016-01-04', campus: 78, program: 140},
                    {date: '2016-01-05', campus: 130, program: 160},
                    {date: '2016-01-06', campus: 100, program: 190},
                    {date: '2016-01-07', campus: 128, program: 180},
                    {date: '2016-01-08', campus: 150, program: 190}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['# of Students from St. Louis Campus', '# of Students from Chicago Campus'],
                lineColors: ['#0691F9','#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine7.redraw();
            });

            graphLine8 = Morris.Line({
                element: 'graph-line-8',
                data: [
                    {date: '2016-01-01', campus: 155, program: 125},
                    {date: '2016-01-02', campus: 199, program: 166},
                    {date: '2016-01-03', campus: 115, program: 120},
                    {date: '2016-01-04', campus: 176, program: 140},
                    {date: '2016-01-05', campus: 173, program: 160},
                    {date: '2016-01-06', campus: 115, program: 190},
                    {date: '2016-01-07', campus: 140, program: 180},
                    {date: '2016-01-08', campus: 190, program: 140}
                ],
                xkey: 'date',
                ykeys: ['campus', 'program'],
                xLabelFormat: function(date) {
                    return (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear();
                },
                labels: ['# of Students from St. Louis Campus', '# of Students from Chicago Campus'],
                lineColors: ['#0691F9','#F7941E'],
                lineWidth: 2,
                pointSize: 3,
                hideHover: 'auto',
                gridTextColor: '#555',
                gridLineColor: '#ccc',
                resize: true,
                dateFormat: function(date) {
                    d = new Date(date);
                    return (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear();
                }
            });

            // Redraw graph for tabs
            $('ul.nav a').on('shown.bs.tab', function (e) {
                graphLine8.redraw();
            });

            /* KNOB CHART LIBRARY */

            $(".knob").knob({
                change : function (value) {
                    //console.log("change : " + value);
                },
                release : function (value) {
                    //console.log(this.$.attr('value'));
                    console.log("release : " + value);
                },
                cancel : function () {
                    console.log("cancel : ", this);
                },
                draw : function () {

                    // "tron" case
                    if(this.$.data('skin') == 'tron') {

                        var a = this.angle(this.cv)  // Angle
                                , sa = this.startAngle		  // Previous start angle
                                , sat = this.startAngle		 // Start angle
                                , ea							// Previous end angle
                                , eat = sat + a				 // End angle
                                , r = 1;

                        this.g.lineWidth = this.lineWidth;

                        this.o.cursor
                        && (sat = eat - 0.3)
                        && (eat = eat + 0.3);

                        if (this.o.displayPrevious) {
                            ea = this.startAngle + this.angle(this.v);
                            this.o.cursor
                            && (sa = ea - 0.3)
                            && (ea = ea + 0.3);
                            this.g.beginPath();
                            this.g.strokeStyle = this.pColor;
                            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false);
                            this.g.stroke();
                        }

                        this.g.beginPath();
                        this.g.strokeStyle = r ? this.o.fgColor : this.fgColor ;
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false);
                        this.g.stroke();

                        this.g.lineWidth = 2;
                        this.g.beginPath();
                        this.g.strokeStyle = this.o.fgColor;
                        this.g.arc( this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                        this.g.stroke();

                        return false;
                    }
                }
            });

            // Example of infinite knob, iPod click wheel
            var v, up=0,down=0,i=0
                    ,$idir = $("div.idir")
                    ,$ival = $("div.ival")
                    ,incr = function() { i++; $idir.show().html("+").fadeOut(); $ival.html(i); }
                    ,decr = function() { i--; $idir.show().html("-").fadeOut(); $ival.html(i); };

            $("input.infinite").knob({
                min : 0
                , max : 20
                , stopper : false
                , change : function () {
                    if(v > this.cv){
                        if(up){
                            decr();
                            up=0;
                        }else{up=1;down=0;}
                    } else {
                        if(v < this.cv){
                            if(down){
                                incr();
                                down=0;
                            }else{down=1;up=0;}
                        }
                    }
                    v = this.cv;
                }
            });
        });
    </script>
{{/morris-graph-footer-js}}
{{#multi-step-modal-js}}
    <script src="../../js/multi-step-modal.js"></script>
{{/multi-step-modal-js}}

</body>
</html>
