<div id="login-full-wrapper" style="background: url('{{ background-image }}') no-repeat scroll center center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="login-box">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="{{ logosource }}" alt="" style="width:80%; height:80%;"/>
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <h4 class="text-center">Create your Better Weekdays account at {{ college }}</h4>
                                {{> molecules-register }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>