<div id="theme-wrapper" class="card-posting">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{#is_cs}}
                            {{> molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{> molecules-left-nav }}
                        {{/is_js}}

                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">

                            <div class="posting-wrapper">

                                    {{#is_cs}}

                                    <div class="row hidden-lg">
                                        <div class="col-md-12">

                                        <div class="col-xs-4 margin-bottom-16">
                                            {{> organisms-create-to-do-button }}
                                        </div>
                                        <div class="col-xs-4 margin-bottom-16">
                                            {{> organisms-recommend-button }}
                                        </div>

                                        </div>
                                    </div>

                                    {{/is_cs}}

                                <div class="row hidden-lg">
                                    <div class="col-md-12">

                                     {{> organisms-what-do-you-think }}

                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="main-box clearfix">
                                        <div class="col-lg-8">
                                            <h1>{{ title }}</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="main-box card job-detail-card">
                                                <h2>Company</h2>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2 text-center">
                                                        <h4>
                                                            <a href="#">
                                                                Veterans Affairs                                        </a>
                                                        </h4>
                                                        <img src="/img/job-new/va-logo.png">
                                                        <ul>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="bottom-links">
                                                            <li><a href="#" target="_blank">Website</a></li>
                                                            <li><a href="#">Details</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="main-box card-orange card job-detail-card">
                                                <h2>Location</h2>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2 text-center">
                                                        <h4>San Diego, CA</h4>
                                                        <img src="/img/job-new/map.png" />
                                                        <!--<ul>
                                                            <li>Population: <i class="fa fa-star-half"></i>N/A</li>
                                                            <li>Avg. Monthly Cost: <i class="fa fa-star-half"></i>N/A</li>
                                                            <li>Climate <i class="fa fa-star-half"></i>N/A</li>
                                                        </ul>-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="bottom-links">
                                                            <li><a href="http://eventful.com/events?q=music&amp;l=San Diego+CA" target="_blank">Events</a></li>
                                                            <!--<li><a href="#">Points of Interest</a></li>
                                                            <li><a href="#">Neighborhoods</a></li>-->
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="main-box card-purple card job-detail-card">
                                                <h2>Quality</h2>
                                                <div class="row">
                                                    <div class="col-sm-12 text-center margin-top-60">
                                                        <div class="col-sm-6">
                                                            <h4>Work / Life Balance <a data-original-title="How current employees feel about not having to work all the time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                            <p>&#9733;&#9733;&#9733;&#189;</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h4>Opportunity <a data-original-title="How current employees feel about the ability to advance within the company." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                            <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center">
                                                        <div class="col-xs-6">
                                                            <h4>Culture & Values <a data-original-title="How employees measure company culture." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                            <p>&#9733;&#9733;</p>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <h4>Leadership <a data-original-title="How employees measure the vision and confidence in the company\'s executive team." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                            <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center margin-top-20">
                                                        <p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="main-box card-yellow card job-detail-card">
                                                <h2>Industry Median Compensation</h2>
                                                <div class="row">
                                                    <div class="col-sm-12 text-center">
                                                        <p class="big margin-top-60">
                                                            ~$55,510 Annual</p>
                                                        <p>
                                                            ($4,625 Monthly / $28.90 Hourly)
                                                        </p>
                                                        <p>Industry Median <a data-original-title="The average salary for jobs in this industry, not specific to this role at this company." href="#" data-toggle="tooltip" title="" class="small"><i class="fa fa-question-circle"></i></a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="main-box tab-box minimal-tabs">
                                                <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active"><a href="#you" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">You</a></li>
                                                        <li role="presentation"><a href="#the-job" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">The Job</a></li>
                                                        <li role="presentation"><a href="#what-its-like" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">What It's Like</a></li>
                                                    </ul>
                                                    <div id="myTabContent" class="tab-content">
                                                        <div role="tabpanel" class="tab-pane fade in active" id="you" aria-labelledBy="home-tab">
                                                            <p>This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.</p>
                                                            <h3>Responsibilities</h3>
                                                            <ul>
                                                                <li>Attention to Detail, Dependability, Cooperation, Integrity</li>
                                                                <li>Record patients' medical history, vital statistics, or information such as test results in medical records.</li>
                                                                <li>Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</li>
                                                            </ul>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="the-job" aria-labelledBy="profile-tab">
                                                            <p>This is where the job description goes, if it exists.</p>
                                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane fade" id="what-its-like" aria-labelledBy="dropdown1-tab">
                                                            <p>People who work here say: The people. Everyone here works as hard as they can toward a shared mission.</p>

                                                            <p>They also say: Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>
                                                        </div>
                                                    </div>
                                                </div><!-- /example -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{#is_cs}}

                                    <div class="col-lg-4 margin-bottom-16 visible-lg">
                                        {{> organisms-create-to-do-button }}
                                    </div>
                                    <div class="col-lg-4 margin-bottom-16 visible-lg">
                                        {{> organisms-recommend-button }}
                                    </div>

                                {{/is_cs}}

                                <div class="col-lg-4">

                                     {{> organisms-what-do-you-think }}

                                    {{> organisms-bdubs-conversation-small }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>

{{> organisms-create-to-do-modal }}
{{> organisms-recommend-modal }}