<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12 card-posting">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <div class="main-box-header">
                                        <h2>Alright, let's get it!</h2>
                                    </div>
                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="giant">Congrats! You've Taken Another Step.</p>
                                                <a href="{{ link.pages-j-posting }}">
                                                    <span class="title value"></span>
                                                </a>
                                                <p class="alert alert-info"><strong>Certified Medical Assistant Medical Receptionist</strong> at <strong>Veterans Health Administration</strong> in <em>Indianapolis, IN</em></p>
                                                <p><p>We now know you're interested. Now, the real work begins.</p>
                                                <p>Stay focused. Stay positive. You've got this!</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <strong>What we're going to do</strong>&nbsp;<a data-original-title="Yep. You read that right. We personally help you with this job." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        Contact you within 24 hours with a plan to increase your chances of getting the job
                                                    </li>
                                                    <li class="list-group-item">
                                                        Reach out to the employer and confirm the position is still open
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <strong>What you need to do</strong>&nbsp;<a data-original-title="Applying is just another step. If you really want it, keep going and make it happen!" href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="col-sm-10 col-xs-8">View at least 5 more jobs in <a href="{{ link.pages-js-jobs }}">your degree program</a></div>
                                                        <div class="col-sm-1 col-xs-2 text-right"></div>
                                                        <div class="col-sm-1 col-xs-2">
                                                            <button class="btn btn-success" title="Done!">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="col-sm-10 col-xs-8">Ask 10 people about their jobs</div>
                                                        <div class="col-sm-1 col-xs-2 text-right">
                                                            <button class="btn btn-info" title="Add calendar reminder">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-1 col-xs-2">
                                                            <button class="btn btn-success" title="Done!">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="col-sm-10 col-xs-8">Identify three jobs you want&nbsp;(<a data-original-title="Default tooltip" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</div>
                                                        <div class="col-sm-1 col-xs-2 text-right">
                                                            <button class="btn btn-info" title="Add calendar reminder">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-1 col-xs-2">
                                                            <button class="btn btn-success" title="Done!">
                                                                <i class="fa fa-check"></i>
                                                            </button>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 posting-wrapper visible-lg">
                                {{> organisms-explore-learn }}
                            </div>
                            <!--<div class="col-lg-4">
                                <div class="main-box clearfix">
                                    <div class="main-box-header">
                                        <h2>Your Other Jobs</h2>
                                    </div>
                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="col-lg-2 col-sm-3">
                                                            <span class="badge badge-warning">New</span>
                                                        </div>
                                                        <div class="col-lg-8 col-sm-6">
                                                            Certified Medical Assistant
                                                        </div>
                                                        <div class="col-lg-2 col-sm-3">
                                                            <button class="btn btn-info" title="View">View</button>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="col-lg-2 col-sm-3">
                                                            <span class="badge">Viewed</span>
                                                        </div>
                                                        <div class="col-lg-8 col-sm-6">
                                                            Another Certified Medical Assistant
                                                        </div>
                                                        <div class="col-lg-2 col-sm-3">
                                                            <button class="btn btn-info" title="View">View</button>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="col-lg-2 col-sm-3">
                                                            <span class="badge badge-danger">Not Me</span>
                                                        </div>
                                                        <div class="col-lg-8 col-sm-6">
                                                            Down-Voted Certified Medical Assistant
                                                        </div>
                                                        <div class="col-lg-2 col-sm-3">
                                                            <button class="btn btn-info" title="View">View</button>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                    <li class="list-group-item text-right">
                                                        <a href="#">View All</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-lg-4">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
    <div class="fixed-bottom-menu hidden-lg">
        <div class="row text-center">
            <form class="form-inline giant">
                    <button type="button" class="btn btn-success btn-lg">
                        More Jobs <span class="fa fa-binoculars"></span>
                    </button>

                    <button type="button" class="btn btn-info btn-lg">
                        Get Help <span class="fa fa-users"></span>
                    </button>

            </form>
        </div>
    </div>
</div>