<div class="form-group">
    <label>{{ select-label }}</label>
    <select multiple="" class="form-control">
        {{#option}}
            <option>{{ option.value }}</option>
        {{/option}}
    </select>
</div>

