<div class="form-group form-group-select2">
    <label>{{ select-label }}</label>
    <select style="width:300px" id="sel{{ id }}">
        {{#options}}
            <option value="{{ option }}">{{ option }}</option>
        {{/options}}
    </select>
</div>