<div id="theme-wrapper">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md">

                                <div class="margin-bottom-16">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#jump-to-profile-modal">
                                        Jump to Profile <span class="fa fa-user"></span>
                                    </button>

                                </div>
                                {{> organisms-bdubs-conversation-small }}

                            </div>
                        </div>
                            <div class="col-md-12">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg hidden-sm" data-toggle="modal" data-target="#jump-to-profile-modal">
                                    Jump to Profile <span class="fa fa-user"></span>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="jump-to-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Jump to Profile</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Name or Email:</label>
                                                        <input id="search" class="form-control" placeholder="Name or Email" type="text" >
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-e-students-browse }}';">Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="main-box clearfix">
                                    <h1>{{title}}</h1>
                                </div>
                            </div>

                                <div class="col-lg-6">
                                    {{> organisms-e-post-link }}
                                </div>

                                <div class="col-lg-6">
                                    {{> organisms-request-to-dos-e }}
                                </div>
                            <div class="col-md-12">

                              {{> organisms-employer-stats }}

                            </div>


                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-peek-student-modal-employer }}
{{> organisms-create-to-do-modal }}