<div id="theme-wrapper">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">

                        <div class="row">
                            <div class="col-lg-12 hidden-lg">

                                <div class="margin-bottom-16">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#jump-to-profile-modal">
                                        Jump to Profile <span class="fa fa-user"></span>
                                    </button>

                                    <button type="button" class="btn btn-primary btn-lg">
                                        Find Candidates <span class="fa fa-search"></span>
                                    </button>

                                  {{> organisms-new-message-button }}

                                </div>
                                {{> organisms-bdubs-conversation-small }}

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <h1>{{title}}</h1>
                                </div>

                                {{> organisms-request-to-dos-e }}

                              {{> organisms-employer-stats-alt }}

                            </div>

                            <div class="col-lg-4 margin-bottom-16">

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg visible-lg" data-toggle="modal" data-target="#jump-to-profile-modal">
                                    Jump to Profile <span class="fa fa-user"></span>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="jump-to-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Jump to Profile</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Name or Email:</label>
                                                        <input id="search" class="form-control" placeholder="Name or Email" type="text" >
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-e-students-browse }}';">Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 margin-bottom-16">
                                <button type="button" class="btn btn-primary btn-lg visible-lg" onclick="window.location='{{ link.pages-e-student-playlist }}';">
                                    Find Candidates <span class="fa fa-search"></span>
                                </button>
                            </div>
                          <div class="col-lg-4 margin-bottom-16">
                            {{> organisms-new-message-button }}
                          </div>
                          <div class="col-lg-4 margin-bottom-16">
                            <button type="button" class="btn btn-primary btn-lg visible-lg">
                              Create Post <span class="fa fa-thumb-tack"></span>
                            </button>
                          </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 hidden">
                                {{> molecules-morris-pie-chart }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-peek-student-modal-employer }}
{{> organisms-create-to-do-modal }}