<div id="theme-wrapper" class="card-posting">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{#is_cs}}
                            {{> molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{> molecules-left-nav }}
                        {{/is_js}}
                    </div>
                </section>
            </div>

            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="posting-wrapper">
                                <div class="col-lg-8">
                                    <div class="main-box clearfix">
                                        <h1>{{ title }}</h1>
                                    </div>

                                    <div class="margin-bottom-16 hidden-lg">
                                        {{> organisms-create-to-do-button }}
                                    </div>

                                    <div class="margin-bottom-16 hidden-lg">
                                        {{> organisms-new-message-button }}
                                    </div>

                                    <div class="hidden-lg">
                                        {{> organisms-bdubs-conversation-small }}
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="main-box card">
                                                <h2>Contact Information</h2>
                                                <div class="main-box-body clearfix">
                                                    <div class="col-sm-12">
                                                        <ul class="fa-ul no-padding no-image">
                                                            <li><i class="fa-li"></i>Name: <strong>Joshua Thomas</strong></li>
                                                            <li><i class="fa-li"></i>Email: <a href="#">hiring@carouselpediatrics.com</a></li>
                                                            <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="main-box card-orange card">
                                                <h2>Hiring Preferences</h2>
                                                <div class="main-box-body clearfix">
                                                    <div class="col-sm-12">
                                                        <ul class="fa-ul no-padding no-image">
                                                            <li><i class="fa-li"></i>Job Areas: <strong>Hospital Management / Medical Technician</strong></li>
                                                            <li><i class="fa-li"></i>Locations: <strong>St. Louis, MO</strong></li>
                                                            <li><i class="fa-li"></i>Experience: <strong>1-2 Years</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{#is_cs}}

                                        <div class="main-box tab-box minimal-tabs">
                                            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                  <li role="presentation"  class="active"><a href="#searches-tab" role="tab" data-toggle="tab" aria-controls="searches-tab" aria-expanded="true">Searches</a></li>
                                                    <li role="presentation"><a href="#favorites-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">Favorites</a></li>
                                                    <li role="presentation"><a href="#interview-tab" role="tab" data-toggle="tab" aria-controls="activity-tab" aria-expanded="true">Interview</a></li>
                                                    <li role="presentation"><a href="#make-offer-tab" role="tab" data-toggle="tab" aria-controls="students-tab" aria-expanded="true">Make Offer</a></li>
                                                </ul>
                                                <div id="myTabContent" class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade in active" id="searches-tab" aria-labelledBy="searches-tab">
                                                        {{> organisms-e-searches }}
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="favorites-tab" aria-labelledBy="favorites-tab">
                                                        {{> organisms-e-dashboard-favorited-students }}
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="interview-tab" aria-labelledBy="interview-tab">
                                                        {{> organisms-e-dashboard-interview-students }}
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="make-offer-tab" aria-labelledBy="make-offer-tab">
                                                        {{> organisms-e-dashboard-make-offer-students }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /example -->
                                        </div>

                                    {{/is_cs}}

                                    {{^is_cs}}

                                    <div class="main-box tab-box minimal-tabs">
                                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#to-dos-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">To-Dos</a></li>
                                                <li role="presentation"><a href="#engagement-tab" role="tab" data-toggle="tab" aria-controls="engagement-tab" aria-expanded="true">Engagement</a></li>
                                                <li role="presentation"><a href="#messages-tab" role="tab" data-toggle="tab" aria-controls="messages-tab">Messages</a></li>
                                                <li role="presentation"><a href="#jobs-tab" role="tab" data-toggle="tab" aria-controls="jobs-tab">Jobs</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="to-dos-tab" aria-labelledBy="to-dos-tab">
                                                    {{> organisms-to-dos-employer-cs }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="messages-tab" aria-labelledBy="messages-tab">
                                                    {{> organisms-messages-list-employer }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="engagement-tab" aria-labelledBy="engagement-tab">
                                                    <ul class="fa-ul no-padding no-image">
                                                        <li><i class="fa-li"></i>Was last active <strong>3 days ago</strong>.</li>
                                                        <li><i class="fa-li"></i>Viewed <strong><a href="#">13</a></strong> students</li>
                                                        <li><i class="fa-li"></i>Received <strong><a href="#">8</a></strong> applications</li>
                                                        <li><i class="fa-li"></i>Completed <strong><a href="#">4</a></strong> to-dos.</li>
                                                    </ul>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="jobs-tab" aria-labelledBy="jobs-tab">
                                                    {{> organisms-jobs-dashboard-employer }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    {{/is_cs}}
                                </div>


                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-create-to-do-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-new-message-button }}
                                </div>

                                <div class="col-lg-4 visible-lg">
                                    {{> organisms-bdubs-conversation-small }}
                                    <div class="main-box">
                                        <h2>Recent Activity</h2>
                                        <div class="main-box-body clearfix margin-top-20">
                                            <div class="col-sm-12">

                                                {{> organisms-employer-recent-activity }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>


{{> organisms-create-to-do-modal }} {{> organisms-new-message-modal }}
