<div id="theme-wrapper" class="card-posting">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{#is_cs}}
                            {{> molecules-cs-left-nav }}
                        {{/is_cs}}

                        {{#is_js}}
                            {{> molecules-left-nav }}
                        {{/is_js}}
                    </div>
                </section>
            </div>

            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="posting-wrapper">
                                <div class="col-lg-8">
                                    <div class="main-box clearfix heading-with-sub-heading">
                                        <h1>Veterans Health Administration</h1>
                                        <h2>Help Genius Scientists Put Their Work in the Hands of Millions</h2>
                                    </div>

                                    <div class="hidden-lg">
                                        {{> organisms-bdubs-conversation-small }}
                                    </div>

                                    <div class="hidden-lg">
                                        {{> organisms-explore-learn-company }}
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="main-box card card-image">

                                                <img src="{{img.pediatrics.src}}" alt="{{img.pediatrics.alt}}" />
                                                <hr />
                                                <p>At Veterans Health Administration we serve over 2.4 million customers. We help genius scientists put their work in the hands of millions.</p>
                                                <p>Our mission is to power the quality of life while securing a energy future for America. We are the largest electric power provider in Missouri and third largest natural gas distribution operation in Illinois. Our companies generate a net capacity of nearly 10,200 megawatts of electricity and own more than 7,500 circuit miles of transmission lines.</p>
                                                <p>Benefits</p>
                                                <ul>
                                                    <li>Life Insurance</li>
                                                    <li>Work/Life Assistance</li>
                                                    <li>Retirment Plan</li>
                                                    <li>Educational Assistance</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="hidden-lg">
                                        <div class="main-box card">
                                            <h2>Details</h2>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <img src="/img/job-new/va-logo.png" width="100%">
                                                </div>
                                                <div class="col-xs-5">
                                                    <h4>Veterans Health Administration</h4>
                                                    <ul>
                                                        <li>HQ: Indianapolis, IN</li>
                                                        <li>Founded: 1997</li>
                                                        <li>Revenue: $9.7B</li>
                                                        <li># of Employees: 9,200</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="bottom-links">
                                                        <li><a href="#" target="_blank">Website</a></li>
                                                        <li><a href="#" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                                        <li><a href="#" target="_blank"><span class="fa fa-facebook"></span></a></li>
                                                        <li><a href="#" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                                        <li><a href="#" target="_blank"><span class="fa fa-youtube"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hidden-lg">

                                        <div class="main-box card-orange card">
                                            <h2>Location</h2>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <img src="/img/job-new/map.png" width="100%"/>
                                                </div>
                                                <div class="col-xs-5">
                                                    <h4>Indianapolis, IN</h4>
                                                    <ul>
                                                        <li>Population: 820,445</li>
                                                        <li>Avg. Monthly Cost: 2.5k</li>
                                                        <li>Humid Continental Climate</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="bottom-links">
                                                        <li><a href="#" target="_blank">Events</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="main-box card-purple card job-detail-card">
                                            <h2>Reputation</h2>
                                            <div class="row">
                                                <div class="col-xs-12 text-center margin-top-60">
                                                    <div class="col-xs-6">
                                                        <h4>Work / Life Balance <a data-original-title="How current employees feel about not having to work all the time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                        <p>&#9733;&#9733;&#9733;&#189;</p>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <h4>Opportunity <a data-original-title="How current employees feel about the ability to advance within the company." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                        <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 text-center">
                                                    <div class="col-xs-6">
                                                        <h4>Culture & Values <a data-original-title="How employees measure company culture." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                        <p>&#9733;&#9733;</p>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <h4>Leadership <a data-original-title="How employees measure the vision and confidence in the company\'s executive team." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                        <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 text-center margin-top-20">
                                                    <p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="main-box card">
                                            <h2>Contact Information</h2>
                                            <div class="main-box-body clearfix">
                                                <div class="col-sm-12">
                                                    <ul class="fa-ul no-padding no-image">
                                                        <li><i class="fa-li"></i>Name: <strong>Joshua Thomas</strong></li>
                                                        <li><i class="fa-li"></i>Email: <a href="#">hiring@carouse...ics.com</a></li>
                                                        <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {{> organisms-browse-jobs-multiple }}

                                </div>

                                <div class="col-lg-4 visible-lg">
                                    {{> organisms-explore-learn-company }}
                                </div>

                                <div class="col-lg-4 visible-lg">
                                    <div class="main-box card">
                                        <h2>Details</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <img src="/img/job-new/va-logo.png" width="100%">
                                            </div>
                                            <div class="col-lg-5">
                                                <h4>Veterans Health Administration</h4>
                                                <ul>
                                                    <li>HQ: Indianapolis, IN</li>
                                                    <li>Founded: 1997</li>
                                                    <li>Revenue: $9.7B</li>
                                                    <li># of Employees: 9,200</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul class="bottom-links">
                                                    <li><a href="#" target="_blank">Website</a></li>
                                                    <li><a href="#" target="_blank"><span class="fa fa-twitter"></span></a></li>
                                                    <li><a href="#" target="_blank"><span class="fa fa-facebook"></span></a></li>
                                                    <li><a href="#" target="_blank"><span class="fa fa-linkedin"></span></a></li>
                                                    <li><a href="#" target="_blank"><span class="fa fa-youtube"></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 visible-lg">

                                    <div class="main-box card-orange card">
                                        <h2>Location</h2>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <img src="/img/job-new/map.png" width="100%"/>
                                            </div>
                                            <div class="col-sm-5">
                                                <h4>Indianapolis, IN</h4>
                                                <ul>
                                                    <li>Population: 820,445</li>
                                                    <li>Avg. Monthly Cost: 2.5k</li>
                                                    <li>Humid Continental Climate</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul class="bottom-links">
                                                    <li><a href="#" target="_blank">Events</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="main-box card-purple card job-detail-card">
                                        <h2>Reputation</h2>
                                        <div class="row">
                                            <div class="col-sm-12 text-center margin-top-60">
                                                <div class="col-sm-6">
                                                    <h4>Work / Life Balance <a data-original-title="How current employees feel about not having to work all the time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                    <div class="stars">
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-half.png" />
                                                        <img src="../../img/stars/star-empty.png" />
                                                    </div>                                                </div>
                                                <div class="col-sm-6">
                                                    <h4>Opportunity <a data-original-title="How current employees feel about the ability to advance within the company." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                    <div class="stars">
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-half.png" />
                                                    </div>                                                           </div>
                                            </div>
                                            <div class="col-sm-12 text-center">
                                                <div class="col-xs-6">
                                                    <h4>Culture & Values <a data-original-title="How employees measure company culture." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                    <div class="stars">
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-empty.png" />
                                                        <img src="../../img/stars/star-empty.png" />
                                                        <img src="../../img/stars/star-empty.png" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <h4>Leadership <a data-original-title="How employees measure the vision and confidence in the company\'s executive team." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                                    <div class="stars">
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                        <img src="../../img/stars/star-full.png" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center margin-top-20">
                                                <p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="main-box card">
                                        <h2>Contact Information</h2>
                                        <div class="main-box-body clearfix">
                                            <div class="col-sm-12">
                                                <ul class="fa-ul no-padding no-image">
                                                    <li><i class="fa-li"></i>Name: <strong>Joshua Thomas</strong></li>
                                                    <li><i class="fa-li"></i>Email: <a href="#">hiring@carouse...ics.com</a></li>
                                                    <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>