<!-- Begin .header -->
<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="#" id="logo" class="navbar-brand">
            <img src="//jobs.thewhether.com/img/blue-wordmark.955697d.svg" alt="" class="normal-logo logo-white">
        </a>

        <div class="clearfix">

            <ul class="nav navbar-nav pull-left">
                <li class="visible-md visible-lg loading-spinner loading-graphic-lg hidden"><img src="../../../img/loading-nav-black.gif" alt="Loading graphic"></li>
                <li class="hidden-md hidden-lg loading-spinner loading-graphic-sm hidden"><img src="../../../img/loading-nav-white.gif" alt="Loading graphic"></li>
            </ul>

            <div class="nav-no-collapse" id="header-nav">
                <ul class="nav navbar-nav">
                    {{# employer-nav-items }}
                        <li class="{{ class }}">
                            {{# link}}
                                <a href="{{ link }}">
                                    <span>{{ title }}</span>
                                </a>
                            {{/link}}
                            {{^ link}}
                                <i class="fa {{ icon }}"></i>
                                <span>{{ title }}</span>
                            {{/link}}
                        </li>
                    {{/ employer-nav-items }}
                    {{# jobseeker }}
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="count">4</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">You have 4 new matches</li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Certified Medical Assistant : Veterans Affairs Hospital : Chicago, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content"><strong>Medical Assistant</strong> | BJC Healthcare | St. Louis, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Medical Assistant - Veterans Affairs Regional Hospital - Peoria, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>3 days ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Certified Medical Assistant - Veterans Affairs - Bloomington, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="#">
                                    View all matches
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{/jobseeker}}
                </ul>
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown">
                        <a href="#"><i class="fa fa-power-off"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End .header -->
