<!-- Begin .header -->
<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="#" id="logo" class="navbar-brand">
            <img src="../../../img/bw_logo_white.png" alt="" class="normal-logo logo-white">
            <img src="../../../img/bw_logo_small_white.png" alt="" class="normal-logo">
            <img src="../../../img/bw_logo_small_white.png" alt="" class="small-logo hidden-xs hidden-sm hidden">
        </a>

        <div class="clearfix">

          <ul class="nav navbar-nav pull-left">
            <li class="visible-md visible-lg loading-spinner loading-graphic-lg hidden"><img src="../../../img/loading-nav-black.gif" alt="Loading graphic"></li>
            <li class="hidden-md hidden-lg loading-spinner loading-graphic-sm hidden"><img src="../../../img/loading-nav-white.gif" alt="Loading graphic"></li>
          </ul>

            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
                <span class="x-small">Menu</span>
            </button>

            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    {{# jobseeker }}
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="count">4</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">You have 4 new matches</li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Certified Medical Assistant : Veterans Affairs Hospital : Chicago, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content"><strong>Medical Assistant</strong> | BJC Healthcare | St. Louis, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Medical Assistant - Veterans Affairs Regional Hospital - Peoria, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>3 days ago</span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span class="content">Certified Medical Assistant - Veterans Affairs - Bloomington, IL</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>1 day ago</span>
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="#">
                                    View all matches
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{/jobseeker}}
                    <li class="dropdown">
                        <a href="#"><span>My Organization</span></a>
                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">john@email.com</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- End .header -->
