<!-- Begin Footer -->
<footer id="footer-bar" class="row">
    <p id="footer-copyright" class="col-xs-12">
        My Organization&nbsp;|&nbsp;&copy; 2015 <a href="http://www.betterweekdays.com/" target="_blank">Better Weekdays</a>. All rights reserved.
    </p>
</footer>
<!-- End Footer -->