<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container playlist">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{#is_js}}
                            {{> molecules-left-nav }}
                        {{/is_js}}
                        {{#is_cs}}
                            {{> molecules-cs-left-nav }}
                        {{/is_cs}}
                        {{#is_e}}
                            {{> molecules-employer-left-nav }}
                        {{/is_e}}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                {{#enable_js_name}}
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Sonya Frost's Jobs</h1>
                            <div class="main-box clearfix">
                                <h1>Search</h1>
                            </div>
                        </div>
                    </div>
                {{/enable_js_name}}

                <!-- This will have to be toggled with javascript -->
                {{#enable_search_bar}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box clearfix padding-20">
                                <div class="input-group navbar-form navbar-left" role="search" style="padding:0;">
                                    <input type="text" style="width:100%; font-size:18px; height:50px;" class="form-control"

                                    {{#search_companies}}
                                        placeholder="Search companies"
                                    {{/search_companies}}

                                    {{#search_jobs}}
                                        placeholder="Search jobs"
                                    {{/search_jobs}}

                                    >
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="height:50px; width:50px;"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/enable_search_bar}}

                <div class="row">
                    <div class="col-lg-8">

                      {{#search_companies}}
                      <div class="main-box infographic-box">
                          <div class="match lead-new">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <p class="lead-new-title"><a href="l">Monsanto</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <p class="lead-new-meta">St. Louis, MO</p>
                                      <p class="lead-new-meta">Agrochemical</p>
                                  </div>
                                  <div class="col-xs-6" style="text-align:right;">
                                      <p class="lead-new-meta">21 Jobs</p>
                                      <p class="lead-new-meta"><a target="_blank" href="http://www.monsanto.com">Website</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 list-view-buttons" style="margin-top:5px;">
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Message" data-toggle="tooltip" data-placement="top" class="fa fa-envelope" style="color:#aaa; font-size:16px; display:block; margin-top:2px; width:17px; height: 20px; float:left;"></span></a>
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Pass"data-toggle="tooltip" data-placement="top" class="fa fa-times" style="color:#aaa; font-size:20px; margin-left:55px; display:block; width:17px; height:20px; float:left;"></span></a>
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Favorite" data-toggle="tooltip" data-placement="top" class="fa fa-heart" style="color:#aaa; font-size:16px; margin-left:55px; margin-top:2px; display:block; width:17px; height:20px; float:left;"></span></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="main-box infographic-box">
                          <div class="match lead-new">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <p class="lead-new-title"><a href="l">Wells Fargo</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <p class="lead-new-meta">St. Louis, MO</p>
                                      <p class="lead-new-meta">Financial</p>
                                  </div>
                                  <div class="col-xs-6" style="text-align:right;">
                                      <p class="lead-new-meta">48 Jobs</p>
                                      <p class="lead-new-meta"><a target="_blank" href="http://www.monsanto.com">Website</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 list-view-buttons" style="margin-top:5px;">
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Message" data-toggle="tooltip" data-placement="top" class="fa fa-envelope" style="color:#aaa; font-size:16px; display:block; margin-top:2px; width:17px; height: 20px; float:left;"></span></a>
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Pass"data-toggle="tooltip" data-placement="top" class="fa fa-times" style="color:#aaa; font-size:20px; margin-left:55px; display:block; width:17px; height:20px; float:left;"></span></a>
                                      <a href="#"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Favorite" data-toggle="tooltip" data-placement="top" class="fa fa-heart" style="color:#aaa; font-size:16px; margin-left:55px; margin-top:2px; display:block; width:17px; height:20px; float:left;"></span></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {{/search_companies}}

                      {{#search_jobs}}
                      <div class="main-box infographic-box">
                          <div class="match lead-new">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <p class="lead-new-title"><a href="l">Associate Commerical Mortgage Loan Analyst</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <p class="lead-new-meta">St. Louis, MO</p>
                                      <p class="lead-new-meta">Cymer Incorporated</p>
                                  </div>
                                  <div class="col-xs-6" style="text-align:right;">
                                      <p class="lead-new-meta"><a target="_blank" href="http://www.monsanto.com">Website</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 list-view-buttons" style="margin-top:5px;">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-jobs-one"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Recommend" data-toggle="tooltip" data-placement="top" class="fa fa-hand-o-right" style="color:#aaa; font-size:16px; display:block; margin-top:2px; width:17px; height: 20px; float:left;"></span></a>
                                  </div>
                              </div>
                              <div id="collapse-jobs-one" class="collapse margin-top-10">
                                      <form class="form-inline">

                                          <div class="form-group">
                                              <label for="to-do-title" class="control-label sr-only">To:</label>
                                              <input id="to-do-title" style="min-width:250px; margin-right:10px;" class="form-control" placeholder="Name" type="text" >
                                          </div>
                                          <button type="button" class="btn btn-primary">Recommend</button>

                                      </form>
                              </div>
                          </div>
                      </div>
                      <div class="main-box infographic-box">
                          <div class="match lead-new">
                              <div class="row">
                                  <div class="col-lg-12">
                                      <p class="lead-new-title"><a href="">Anti Money Laundering Analyst - Adjudicatio</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <p class="lead-new-meta">St. Louis, MO</p>
                                      <p class="lead-new-meta">Bank of Montreal</p>
                                  </div>
                                  <div class="col-xs-6" style="text-align:right;">
                                      <p class="lead-new-meta"><a target="_blank" href="http://www.monsanto.com">Website</a></p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12 list-view-buttons" style="margin-top:5px;">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-jobs-two"><span data-delay='{"show":"500", "hide":"50"}' data-original-title="Recommend" data-toggle="tooltip" data-placement="top" class="fa fa-hand-o-right" style="color:#aaa; font-size:16px; display:block; margin-top:2px; width:17px; height: 20px; float:left;"></span></a>
                                  </div>
                              </div>

                              <div id="collapse-jobs-two" class="collapse margin-top-10">
                                      <form class="form-inline">

                                          <div class="form-group">
                                              <label for="to-do-title" class="control-label sr-only">To:</label>
                                              <input id="to-do-title" style="min-width:250px; margin-right:10px;" class="form-control" placeholder="Name" type="text" >
                                          </div>
                                          <button type="button" class="btn btn-primary">Recommend</button>

                                      </form>
                              </div>
                          </div>
                      </div>

                      {{/search_jobs}}

                    </div>

                    <div class="col-lg-4">
                      {{#search_jobs}}

                        <div class="main-box infographic-box" style="min-height:230px;">
                          <form action="#" method="post" id="bw-job-playlist-filter-form" accept-charset="UTF-8">
                              <div>

                                  <div class="form-group" id="location">
                                      <div class="form-item form-type-select form-item-location">
                                          <label for="edit-location">Location</label>
                                          <select class="form-control">
                                              <option value="">- Select -</option>
                                              <option value="St. Louis">St. Louis, MO</option>
                                              <option value="Chicago">Chicago, IL</option>
                                              <option value="Indianapolis">Indianapolis, IN</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group" id="jobarea">
                                      <div class="form-item form-type-select form-item-jobarea">
                                          <label for="edit-jobarea">Employer</label>
                                          <select class="form-control">
                                              <option value="">- Select -</option>
                                              <option value="Healthcare">Healthcare</option>
                                              <option value="Healthcare Other">Healthcare Other</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-xs-12 form-group checkbox-nice">
                                      <div class="form-item form-type-checkbox form-item-internship">
                                          <input type="checkbox" id="edit-internship" name="internship" value="1" class="form-checkbox">
                                          <label class="option" for="edit-internship">Internships ONLY </label>
                                      </div>
                                  </div>

                                  <input type="hidden" name="form_build_id" value="form-Cgp0z1h55BabTiWbbraSWpvvPdrZ1azuJmUjVC0Hwt4">
                                  <input type="hidden" name="form_token" value="cER2i429OxduwXffvBUe6uBi7eI7KXvyTPuh6LTSgvU">
                                  <input type="hidden" name="form_id" value="bw_job_playlist_filter_form">
                              </div>
                          </form>
                        </div>
                        {{/search_jobs}}

                        {{#search_companies}}

                        <div class="main-box infographic-box" style="">
                          <form action="#" method="post" id="bw-job-playlist-filter-form" accept-charset="UTF-8">
                              <div>

                                  <div class="form-group" id="location">
                                      <div class="form-item form-type-select form-item-location">
                                          <label for="edit-location">Location</label>
                                          <select class="form-control">
                                              <option value="">- Select -</option>
                                              <option value="St. Louis">St. Louis, MO</option>
                                              <option value="Chicago">Chicago, IL</option>
                                              <option value="Indianapolis">Indianapolis, IN</option>
                                          </select>
                                      </div>
                                  </div>

                                  <input type="hidden" name="form_build_id" value="form-Cgp0z1h55BabTiWbbraSWpvvPdrZ1azuJmUjVC0Hwt4">
                                  <input type="hidden" name="form_token" value="cER2i429OxduwXffvBUe6uBi7eI7KXvyTPuh6LTSgvU">
                                  <input type="hidden" name="form_id" value="bw_job_playlist_filter_form">
                              </div>
                          </form>
                        </div>

                        {{/search_companies}}



                    </div>
                </div>


                <div class="col-lg-12">


                    <!-- <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg margin-bottom-10" data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                        Filter Jobs <span class="fa fa-filter"></span>
                    </button>
                    <div id="collapse-one" class="panel-collapse collapse peek-meta-data">
                      {{> organisms-playlist-filters }}
                    </div> -->
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <!-- <div class="col-lg-8">
                                <div class="main-box infographic-box-center clearfix">
                                    <div class="clearfix">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="main-box-header playlist-tags">
                                                    <ul>
                                                        <li>New</li>
                                                        <li>Viewed</li>
                                                        <li>Degree/Program: Medical Assisting</li>
                                                        <li>Personalized</li>
                                                        <li>Internship</li>
                                                        <li>From Career Services</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 playlist-title">
                                            <a href="{{ link.pages-j-posting }}">
                                                    <span>Certified Medical Assistant Medical Receptionist</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-12 playlist-sub-title">
                                                <p>Give patients the care and comfort they need to feel better, faster.</p>
                                            </div>
                                        </div>
                                        <div class="playlist-glances">
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-company">
                                                    <h3>Company</h3>
                                                    <p>Veterans Health Administration</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-location">
                                                    <h3>Location</h3>
                                                    <p>Indianapolis, IN</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-balance">
                                                    <h3>Work / Life Balance <a data-original-title="How current employees feel about not having to work all the time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                    <p>&#9733;&#9733;&#9733;&#189;</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-outlook">
                                                    <h3>Opportunity <a data-original-title="How current employees feel about the ability to advance within the company." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                    <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-culture">
                                                    <h3>Culture & Values <a data-original-title="How employees measure company culture." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                    <p>&#9733;&#9733;</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-compensation">
                                                    <h3>Compensation <a data-original-title="The average median salary in the entire United States for folks in this industry." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                    <p>$29,960 median salary</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="playlist-glance">
                                                <h3>Responsibilities <a data-original-title="The day-to-day expectations of this job." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                <ul>
                                                    <li>Attention to Detail, Dependability, Cooperation, Integrity</li>
                                                    <li>Record patients' medical history, vital statistics, or information such as test results in medical records.</li>
                                                    <li>Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <p class="small playlist-glassdoor"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                            </div>
                                        </div>
                                        <div class="row playlist-feedback-desktop">
                                            <div class="row text-center">
                                                <form class="form-inline giant">
                                                    <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="icon-heartbrokenempty" style="font-size:22px; display:block; float:left; padding-top:6px; margin-right:4px;"></span><span style="margin-bottom:2px;"></span> Not Me</button>
                                                    <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="icon-heartempty" style="font-size:22px; display:block; float:left; padding-top:6px; margin-right:4px;"></span> Me</button>
                                                    <button type="submit" class="btn btn-default" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span> Next</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!--<div class="col-lg-4">
                                {{> organisms-playlist-filters-searchterms }}
                            </div>-->
                        <!-- <div class="col-lg-4 visible-lg">
                                {{> organisms-playlist-filters }}
                            </div>

                            <div class="col-lg-4">
                                {{> organisms-bdubs-conversation-small }}
                            </div> -->
                    </div>

                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
    <!-- <div class="playlist-feedback-mobile">
        <div class="row text-center">
            <form class="form-inline giant">
                <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="icon-heartbrokenempty" style="margin-right:5px; display:block; padding-top:2px; float:left;"></span><span style="display:block; float:right;">Not Me</span></button>
                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="icon-heartempty" style="margin-right:5px; display:block; padding-top:2px; float:left;"></span> <span style="display:block; float:right;"> Me</span></button>
                <button type="submit" class="btn btn-default" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span> Next</button>
            </form>
        </div>
    </div> -->
</div>
