<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-lg margin-bottom-16">
                            <div class="col-xs-4">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    Add Contact <span class="fa fa-plus"></span>
                                </button>
                            </div>
                            <div class="col-xs-4">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
                                    Bulk Upload <span class="fa fa-upload"></span>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">

                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Contacts</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Company</th>
                                                    <th>Notes</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Marth Degroff</a></td>
                                                    <td>Alumni</td>
                                                    <td>marth.degroff@monsanto.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Monsanto</td>
                                                    <td>Interested in mentorship opportunities.</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Lilliana Sosnowski</a></td>
                                                    <td>Employer</td>
                                                    <td>lilliana.Sosnowski@Google.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Google</td>
                                                    <td>Looking for engineering students.</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Minh Fill</a></td>
                                                    <td>Mentor</td>
                                                    <td>ming.fill@gmail.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Northwestern Hospital</td>
                                                    <td></td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Johnathon Loveless</a></td>
                                                    <td>Other</td>
                                                    <td>johnathon.loveless@gmail.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Academia</td>
                                                    <td></td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Katherin Giron</a></td>
                                                    <td>Alumni</td>
                                                    <td>katherin.giron@apple.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Apple</td>
                                                    <td>Has a few open internships.</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Yevette Sartwell</a></td>
                                                    <td>Employer</td>
                                                    <td>yevette.sartwell@gmail.com</td>
                                                    <td>(312) 748-1928</td>
                                                    <td>Monsanto</td>
                                                    <td></td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">


                                    <div class="col-xs-12 visible-lg">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Add Contact <span class="fa fa-plus"></span>
                                        </button>

                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input type="text" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Type</label>
                                                                <select style="width:100%;">
                                                                    <option value="">Alumni</option>
                                                                    <option value="">Employer</option>
                                                                    <option value="">Mentor</option>
                                                                    <option value="">Other</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Email</label>
                                                                <input type="email" class="form-control" placeholder="Email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Phone</label>
                                                                <input type="text" class="form-control" placeholder="Phone">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Company</label>
                                                                <input type="text" class="form-control" placeholder="Company">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Note</label>
                                                                <input type="text" class="form-control" placeholder="Note">
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Save Draft</button>-->
                                                    <button type="button" class="btn btn-primary" onclick="window.location='{{ link.pages-cs-job-posted }}';">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 margin-top-20 visible-lg">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
                                            Bulk Upload <span class="fa fa-upload"></span>
                                        </button>

                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Bulk Upload</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Download Template</label>
                                                        <p><strong>Step 1.</strong> <a href="#">Download the CSV template</a></p>
                                                    </div>
                                                    <form>
                                                        <div class="form-group">
                                                            <p><strong>Step 2.</strong> Upload CSV file.</p>
                                                            <label for="exampleInputFile">Upload CSV file</label>
                                                            <input type="file" id="exampleInputFile">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary">Upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>