<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Employer Activity</h2>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="datepickerDateRange">Date range</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                                    <input class="form-control" id="datepickerDateRange" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">

                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Activity</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline">Monsanto posted Project Engineer position in St. Louis, MO</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> viewed <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:58am</td>
                                                    <td class="headline">Barnes Jewish Hospital viewed Sonya Frost profile</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:40am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Rush Hospital</a> viewed <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:39am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Seton Healthcare</a> wants to interview <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:35am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> messaged <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:30am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Carousel Pediatrics</a> had updated their company profile</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:28am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Life Line Screening</a> - Done - Are you attending the Career Fair? - Response: Yes</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:27am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> messaged <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:26am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-employer-profile }}">Rush Hospital</a> viewed <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></td>
                                                </tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>