<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container playlist">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box infographic-box-center clearfix">
                                    <div class="clearfix">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="main-box-header playlist-tags">
                                                    <ul>
                                                        <li>New</li>
                                                        <li>Viewed</li>
                                                        <li>Degree/Program: Medical Assisting</li>
                                                        <li>Personalized</li>
                                                        <li>Internship</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 matchrank">
                                                <p>MatchRank: 85%, Added 3 days ago</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 playlist-title">
                                                <a href="{{ link.pages-j-posting }}">
                                                    <span>Certified Medical Assistant Medical Receptionist</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="playlist-glances">
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-company">
                                                    <h3>Company</h3>
                                                    <p>Veterans Health Administration</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-location">
                                                    <h3>Location</h3>
                                                    <p>Indianapolis, IN</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-balance">
                                                    <h3>Work / Life Balance</h3>
                                                    <p>&#9733;&#9733;&#9733;&#189;</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-outlook">
                                                    <h3>Job Outlook</h3>
                                                    <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-culture">
                                                    <h3>Culture & Values</h3>
                                                    <p>&#9733;&#9733;</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-compensation">
                                                    <h3>Compensation</h3>
                                                    <p>$29,960 median salary</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row conversational-summary">
                                            <div class="col-lg-12">
                                                <p><strong>They're looking for:</strong> Attention to Detail, Dependability, Cooperation, Integrity</p>
                                                <p><strong>I'll be responsible for:</strong> Record patients' medical history, vital statistics, or information such as test results in medical records.</p>
                                                <p><strong>I'll also be responsible for:</strong> Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</p>
                                                <p><strong>People who work here say:</strong> The people. Everyone here works as hard as they can toward a shared mission.</p>
                                                <p><strong>They also say:</strong> Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>
                                                <p><strong>The cost of living is about:</strong> $2.80/gal for gas, $1400/mo for rent (900 sq. ft), and $33 to go to dinner for two</p>
                                                <p><strong>I may be promoted to:</strong> Medical Assistant Manager</p>
                                            </div>
                                        </div>
                                        <!--<div class="row text-center">-->
                                        <!--<div class="col-lg-12">-->
                                        <!--<p><strong>People who work here say:</strong> The people. Everyone here works as hard as they can toward a shared mission.</p>-->
                                        <!--<p><strong>They also say:</strong> Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>-->
                                        <!--<p><strong>The cost of living is about:</strong> $2.80/gal for gas, $1400/mo for rent (900 sq. ft), and $33 to go to dinner for two</p>-->
                                        <!--<p><strong>I may be promoted to:</strong> Medical Assistant Manager</p>-->
                                        <!--<p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                        <!--<div class="bs-example bs-example-tabs minimal-tabs centered-tabs" data-example-id="togglable-tabs">-->
                                        <!--<ul id="myTabs" class="nav nav-tabs" role="tablist">-->
                                        <!--<li role="presentation" class="active"><a href="#the-job" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Overview</a></li>-->
                                        <!--<li role="presentation"><a href="#you" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Responsibilities</a></li>-->
                                        <!--<li role="presentation"><a href="#what-its-like" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Reviews</a></li>-->
                                        <!--</ul>-->
                                        <!--<div id="myTabContent" class="tab-content">-->
                                        <!--<div role="tabpanel" class="tab-pane fade in active" id="you" aria-labelledBy="home-tab">-->
                                        <!--<p>This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.</p>-->
                                        <!--<p>Specialized experience includes, but is not limited, to the following:</p>-->
                                        <!--<ul>-->
                                        <!--<li>Scheduling, canceling and rescheduling patients discharge appointments.</li>-->
                                        <!--<li>Accurately and timely processing patient information, admits, discharge, appointments and transfers in computer system.</li>-->
                                        <!--<li>Arranging and coordinating in-patient procedure appointments for timeliness.</li>-->
                                        <!--<li>Maintaining office supplies.</li>-->
                                        <!--<li>Providing professional and courteous customer service.</li>-->
                                        <!--<li>Assisting with the orientation/on the job training of new staff.</li>-->
                                        <!--<li>Completing work orders and contacting appropriate staff when requested for emergency repairs or special requests.</li>-->
                                        <!--<li>Inputting and extracting data of a highly technical nature.</li>-->
                                        <!--<li>Interpreting and transcribing doctors orders.</li>-->
                                        <!--<li>Maintaining patient records, scanning, quality control</li>-->
                                        <!--</ul>                                                        </div>-->
                                        <!--<div role="tabpanel" class="tab-pane fade" id="the-job" aria-labelledBy="profile-tab">-->
                                        <!--<p>This is where the job description goes, if it exists.</p>-->
                                        <!--<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>-->
                                        <!--</div>-->
                                        <!--<div role="tabpanel" class="tab-pane fade" id="what-its-like" aria-labelledBy="dropdown1-tab">-->
                                        <!--<p>People who work here say: The people. Everyone here works as hard as they can toward a shared mission.</p>-->

                                        <!--<p>They also say: Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <div class="row">
                                            <p class="small playlist-glassdoor"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                        </div>
                                        <div class="row playlist-feedback-desktop">
                                            <div class="row text-center">
                                                <form class="form-inline giant">
                                                    <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="fa fa-thumbs-down"> Not Me</span></button>
                                                    <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="fa fa-thumbs-up"> Me</span></button>
                                                    <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                {{> organisms-playlist-filters }}
                            </div>

                            <div class="col-lg-4">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
    <div class="playlist-feedback-mobile">
        <div class="row text-center">
            <form class="form-inline giant">
                <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="fa fa-thumbs-down"> Not Me</span></button>
                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="fa fa-thumbs-up"> Me</span></button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span></button>
            </form>
        </div>
    </div>
</div>