<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box small-graph-box green-bg">
                                    <span class="value">21 Total Job Matches</span>
                                    <span class="subinfo">
                                        9 new matches since last login
                                    </span>
                                </div>
                            </div>
                        </div>

                        {{> organisms-matches-multiple }}
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>