<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper" class="loading-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix loading">
                                    <p>"Choose a job you love, and you will never have to work a day in your life." <br/>- Confucius</p>
                                    <div class="progress progress-striped active" style="margin-bottom:0;">
                                        <div class="progress-bar" style="width: 100%; height:100%;"></div>
                                    </div>
                                    <p class="loading-small">Your results will be ready shortly!</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">


                                </div>
                            </div>
                        </div>
                    </div>

                    {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>