<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row" style="opacity: 1;">
                    <div class="col-lg-12">
                        <div class="messages status">
                            <h2 class="element-invisible">Status message</h2>
                            <i class="fa fa-check-circle-o"></i>
                            <p>Vestibulum nec metus eu purus.</p></div>
                    </div>
                </div>

                <div class="row" style="opacity: 1;">
                    <div class="col-lg-12">
                        <div class="messages warning">
                            <h2 class="element-invisible">Warning message</h2>
                            <i class="fa fa-exclamation-triangle"></i>
                            <p>Sed est est, condimentum sit.</p></div>
                    </div>
                </div>

                <div class="row" style="opacity: 1;">
                    <div class="col-lg-12">
                        <div class="messages error">
                            <h2 class="element-invisible">Error message</h2>
                            <i class="fa fa-times-circle"></i>
                            <p>Nam pretium in massa vel.</p></div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>
