<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper" class="report-builder">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-8">
                            <div class="main-box clearfix">
                                <div class="main-box-body clearfix">
                                    <h2>Saved Reports</h2>
                                    <form class="form-row">
                                        <div class="form-group">
                                            <label class="hidden">Load Report</label>
                                            <select name="load" title="">
                                                <option value="""></option>
                                                <option value="report-title-1">Report Title 1</option>
                                                <option value="report-title-2">Report Title 2</option>
                                                <option value="report-title-3">Report Title 3</option>
                                                <option value="report-title-4">Report Title 4</option>
                                            </select>
                                        </div>
                                    </form>

                                    <a href="{{ link.pages-e-reports-loaded }}" class="btn btn-primary btn-lg margin-top-10">
                                        View Report
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-lg-8">
                            <div class="main-box clearfix">
                                <div class="main-box-body clearfix">
                                    <h2>Create New Report</h2>

                                    <form class="form-row">

                                        <div class="form-group">
                                            <label for="data">Show me:</label>
                                            <select name="dropdownmain" id="data" title="">
                                                <option value="job-seekers">job seekers</option>
                                                <option value="employers">employers</option>
                                                <option value="jobs">jobs</option>
                                                <option value="activities">activities</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="contains">that</label>
                                            <select name="contains" id="contains" title="Contains">
                                                <option value="have">have</option>
                                                <option value="have-not">have not</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select name="job-seekers" id="" title="">
                                                <option value="active-account">an active account</option>
                                                <option value="resume-uploaded">a resume uploaded</option>
                                                <option value="viewed-job">viewed a job</option>
                                                <option value="personalized-matches">personalized job matches</option>
                                                <option value="expressed-interest">expressed interest in applying</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select name="employers" id="" title="">
                                                <option data-parent="active-account">an active account</option>
                                                <option data-parent="posted-job">posted a job</option>
                                                <option data-parent="viewed-profile">viewed a profile</option>
                                                <option data-parent="messaged">messaged a job seeker</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select name="jobs" id="" title="">
                                                <option data-parent="viewed">viewed</option>
                                                <option data-parent="interested">interested in applied to</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <select name="activities" id="" title="">
                                                <option data-parent="completed">been completed</option>
                                            </select>
                                        </div>

                                        <!--Shows if Jobs selected -->

                                        <div class="form-group jobs-filter report-filter">
                                            <p>Filter by:</p>
                                            <div class="form-group form-group-select1 chosen-container chosen-container-multi chosen-with-drop">
                                                {{#job}}
                                                    <label class="hidden">{{ select-label }}</label>
                                                    <select name="filter" style="width:200px" id="sel{{ id }}Multi" multiple>
                                                        {{#options}}
                                                            <option value="{{ option }}">{{ option }}</option>
                                                        {{/options}}
                                                    </select>
                                                {{/job}}
                                            </div>
                                            <div class="form-group form-group-select2 chosen-container chosen-container-multi chosen-with-drop">
                                                {{#location}}
                                                    <label class="hidden">{{ select-label }}</label>
                                                    <select name="filter" style="width:200px" id="sel{{ id }}Multi" multiple>
                                                        {{#options}}
                                                            <option value="{{ option }}">{{ option }}</option>
                                                        {{/options}}
                                                    </select>
                                                {{/location}}
                                            </div>
                                            <div class="form-group">
                                                <label class="hidden" for="company">Company</label>
                                                <input type="text" class="form-control" id="company" placeholder="Company">
                                            </div>

                                        </div>


                                        <!--/-->

                                        <!--Shows if Activities selected -->

                                        <div class="form-group activities-filter report-filter">
                                            <p>Filter by:</p>

                                            <div class="form-group">
                                                <select name="role" id="" title="">
                                                    <option data-parent="role1">Role Option 1</option>
                                                    <option data-parent="role2">Role Option 2</option>
                                                    <option data-parent="role3">Role Option 3</option>
                                                    <option data-parent="role4">Role Option 4</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="hidden">Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Name">
                                            </div>

                                        </div>

                                        <div class="form-group margin-top-20">

                                        <a href="{{ link.pages-e-reports-loaded }}" class="btn btn-primary btn-lg">
                                            Run Report
                                        </a>

                                        <!-- <div class="col-xs-12 margin-top-20">
                                            <button type="submit" class="btn btn-primary btn-lg">
                                                Email
                                                <span class="fa fa-envelope-o"></span>
                                            </button>
                                        </div> -->


                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>
