<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper" class="report-builder">

                <div class="row">
                    <div class="col-lg-8">
                        <div class="main-box clearfix">
                            <div class="main-box-body clearfix">
                                <h2>Saved Reports</h2>
                                <form class="form-row">
                                    <div class="form-group">
                                        <label class="hidden">Load Report</label>
                                        <select name="load" title="">
                                            <option value="""></option>
                                            <option value="report-title-1">Report Title 1</option>
                                            <option value="report-title-2">Report Title 2</option>
                                            <option value="report-title-3">Report Title 3</option>
                                            <option value="report-title-4">Report Title 4</option>
                                        </select>
                                    </div>
                                </form>
                                <a href="{{ link.pages-e-reports-loaded }}" class="btn btn-primary btn-lg margin-top-10">
                                    View Report
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="main-box clearfix">
                            <div class="main-box-body clearfix">
                                <h2>Create New Report</h2>

                                <form class="form-row">

                                    <div class="form-group">
                                        <label for="data">Show me:</label>
                                        <select name="dropdownmain" id="data" title="">
                                            <option value="job-seekers">job seekers</option>
                                            <option value="employers">employers</option>
                                            <option value="jobs">jobs</option>
                                            <option value="activities">activities</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="contains">that</label>
                                        <select name="contains" id="contains" title="Contains">
                                            <option value="have">have</option>
                                            <option value="have-not">have not</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="job-seekers" id="" title="">
                                            <option value="active-account">an active account</option>
                                            <option value="resume-uploaded">a resume uploaded</option>
                                            <option value="viewed-job">viewed a job</option>
                                            <option value="personalized-matches">personalized job matches</option>
                                            <option value="expressed-interest">expressed interest in applying</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="employers" id="" title="">
                                            <option data-parent="active-account">an active account</option>
                                            <option data-parent="posted-job">posted a job</option>
                                            <option data-parent="viewed-profile">viewed a profile</option>
                                            <option data-parent="messaged">messaged a job seeker</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="jobs" id="" title="">
                                            <option data-parent="viewed">viewed</option>
                                            <option data-parent="interested">interested in applied to</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select name="activities" id="" title="">
                                            <option data-parent="completed">been completed</option>
                                        </select>
                                    </div>

                                    <!--Shows if Jobs selected -->

                                    <div class="form-group jobs-filter report-filter">
                                        <p>Filter by:</p>
                                        <div class="form-group form-group-select1 chosen-container chosen-container-multi chosen-with-drop">
                                            {{#job}}
                                                <label class="hidden">{{ select-label }}</label>
                                                <select name="filter" style="width:200px" id="sel{{ id }}Multi" multiple>
                                                    {{#options}}
                                                        <option value="{{ option }}">{{ option }}</option>
                                                    {{/options}}
                                                </select>
                                            {{/job}}
                                        </div>
                                        <div class="form-group form-group-select2 chosen-container chosen-container-multi chosen-with-drop">
                                            {{#location}}
                                                <label class="hidden">{{ select-label }}</label>
                                                <select name="filter" style="width:200px" id="sel{{ id }}Multi" multiple>
                                                    {{#options}}
                                                        <option value="{{ option }}">{{ option }}</option>
                                                    {{/options}}
                                                </select>
                                            {{/location}}
                                        </div>
                                        <div class="form-group">
                                            <label class="hidden" for="company">Company</label>
                                            <input type="text" class="form-control" id="company" placeholder="Company">
                                        </div>

                                    </div>


                                    <!--/-->

                                    <!--Shows if Activities selected -->

                                    <div class="form-group activities-filter report-filter">
                                        <p>Filter by:</p>

                                        <div class="form-group">
                                            <select name="role" id="" title="">
                                                <option data-parent="role1">Role Option 1</option>
                                                <option data-parent="role2">Role Option 2</option>
                                                <option data-parent="role3">Role Option 3</option>
                                                <option data-parent="role4">Role Option 4</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="hidden">Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>

                                    </div>

                                    <!--/-->

                                </form>

                                    <button type="submit" class="btn btn-primary btn-lg margin-top-10">
                                        Run Report
                                    </button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">





                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                    <div class="main-box clearfix report-box">

                        <div class="col-sm-10">

                            <header class="main-box-header clearfix">
                                <h2 class="report-title">Job Seekers That Have an Account</h2>
                            </header>

                        </div>

                        <div class="col-sm-2">


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-lg save-report" data-toggle="modal" data-target="#myModal1">
                            Save <span class="fa fa-save"></span>
                        </button>

                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Save Report</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label>Report Title</label>
                                            <input type="email" class="form-control" placeholder="Report Title">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table id="table-example" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name (email)</th>
                                        <th>Degree Program</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                        <td>Education</td>
                                        <td>Has Password</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett (garrett.winters@hotmail.com)</a></td>
                                        <td>Accounting</td>
                                        <td>Has Password</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Cox, Ashton (acox@gmail.com)</a></td>
                                        <td>Computer Science</td>
                                        <td>Viewed a Job</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Kelly, Cedric (cedric.kelly1@hotmail.com)</a></td>
                                        <td>Criminal Justice</td>
                                        <td>Uploaded Resume</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Satou, Airi (asatou@yahoo.com)</a></td>
                                        <td>Visual Communications</td>
                                        <td>Has Job Preferences</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Williamson, Brielle (bwilliamson@gmail.com)</a></td>
                                        <td>Practical Nursing</td>
                                        <td>Has Job Preferences</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Chandler, Herrod (hchandler23@gmail.com)</a></td>
                                        <td>Paralegal Studies</td>
                                        <td>Has Job Preferences</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Davidson, Rhona (rrdavidson@yahoo.com)</a></td>
                                        <td>Library Technical Assistant</td>
                                        <td>Viewed Job Matches</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Hurst, Colleen (Hurst987@gmail.com)</a></td>
                                        <td>Criminal Justice</td>
                                        <td>Has Password</td>
                                    </tr>
                                    <tr>
                                        <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                        <td>Medical Assistant</td>
                                        <td>Applied to Job</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                {{> organisms-footer }}


            </div>
        </div>
    </div>
</div>
