<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>New Rule: Pick a Category</h2>
                                    </header>

                                <div class="main-box-body clearfix">

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg margin-top-20" data-toggle="modal" data-target="#new-message-modal">
                                        Email <span class="fa fa-envelope"></span>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="new-message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">New Email Rule</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">Send an email</label>
                                                            <select class="form-control">
                                                                <option></option>
                                                                <option>Once</option>
                                                                <option>Every time</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">To</label>
                                                            <input id="recipient-name" class="form-control" placeholder="Name or Email" type="text" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">When</label>
                                                            <select class="form-control conditional-select">
                                                                <option></option>
                                                                <option>Account created</option>
                                                                <option>Resume uploaded</option>
                                                                <option>Profile updated</option>
                                                                <option>Job viewed</option>
                                                                <option>Interested in a job</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group conditional-select-field">
                                                            <label for="recipient-name" class="control-label">For job</label>
                                                            <input id="recipient-name" class="form-control" placeholder="Job title" type="text" >
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-info">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary btn-lg margin-top-20" data-toggle="modal" data-target="#create-to-do-modal">
                                        To-Do <span class="fa fa-plus"></span>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="create-to-do-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">New To-Do Rule</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">Create to-do item</label>
                                                            <input id="recipient-name" class="form-control" placeholder="Title of to-do" type="text" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">For</label>
                                                            <input id="recipient-name" class="form-control" placeholder="Name or Email" type="text" >
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="control-label">When</label>
                                                            <select class="form-control conditional-select-2">
                                                                <option></option>
                                                                <option>Account created</option>
                                                                <option>Resume uploaded</option>
                                                                <option>Profile updated</option>
                                                                <option>Job viewed</option>
                                                                <option>Interested in a job</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group conditional-select-field-2">
                                                            <label for="recipient-name" class="control-label">For job</label>
                                                            <input id="recipient-name" class="form-control" placeholder="Job title" type="text" >
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-students-browse }}';">Go</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Active Rules</h2>
                                    </header>

                                    <div class="main-box-body clearfix">

                                    <div class="table-responsive">
                                        <table id="table-activity" class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>When <a href="{{link.pages-cs-student-profile }}">Sonya Frost</a> uploads a resume, send me an email</a></td>
                                                <td><a href="#" data-target="#create-to-do-modal" data-toggle="modal">Edit</a> | <a href="#">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td>When <a href="#">Monsanto</a> views a student profile, send me an email</a></td>
                                                <td><a href="#" data-target="#create-to-do-modal" data-toggle="modal">Edit</a> | <a href="#">Delete</a></td>
                                            </tr>
                                            <tr>
                                                <td>When any student views the <a href="{{link.pages-cs-job-posting }}">Phlebotomist</a> position, create a to-do with title "reach out to them"</a></td>
                                                <td><a href="#" data-target="#create-to-do-modal" data-toggle="modal">Edit</a> | <a href="#">Delete</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                        </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="row">



                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>