<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Student Activity</h2>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="datepickerDateRange">Date range</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                                    <input class="form-control" id="datepickerDateRange" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">

                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Activity</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Viewed Job - <a href="{{ link.pages-cs-job-posting }}">Awesome Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - <span class="fa fa-thumbs-up"> Me</span> - <a href="{{ link.pages-cs-job-posting }}">Awesome Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:58am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:40am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Medical Assistant II</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:39am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Certified Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:35am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Johnetta Fire</a> - Done - View at least 5 jobs in playlist view</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:30am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Not Done - Research salary of position</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:28am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Done - Ask 10 people about their job</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:27am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Set Password</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:26am</td>
                                                    <td class="headline"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Done - Research other possible locations</td>
                                                </tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>
