<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-lg-10">
                            <iframe src="http://docs.google.com/gview?url=https://www.dropbox.com/s/o7fqc0w21igu8aq/Medical%20Assistant%20Demo%20Resume-St.%20Louis.pdf?dl=1&embedded=true" style="width:100%; height:800px;" frameborder="0"></iframe>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>