<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Employment Verification Results</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Verification Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger</a></td>
                                                    <td>tiger.nixon@gmail.com</td>
                                                    <td class="green">Verified</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Smith, Amanda</a></td>
                                                    <td>amanda.smith@gmail.com</td>
                                                    <td class="red">Not Verified</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Jackson, John</a></td>
                                                    <td>john.jackson@gmail.com</td>
                                                    <td class="green">Verified</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Williams, Kate</a></td>
                                                    <td>kate.williams@gmail.com</td>
                                                    <td class="green">Verified</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Garcia, Toby</a></td>
                                                    <td>garcia.toby@gmail.com</td>
                                                    <td class="red">Not Verified</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>