<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper" class="report-builder">

                <div class="row">
                    <div class="col-lg-8">
                        <div class="main-box clearfix">
                            <div class="main-box-body clearfix">
                                <h2>Employment Verification</h2>

                                <p class="small">Instructions: Lorem ipsum.</p>

                                <form>
                                    <div class="form-group">
                                        <label for="comment">Users:</label>
                                        <textarea class="form-control" placeholder="XXX-XX-XXXX|user1@email.com,XXX-XX-XXXX|user2@email.com, etc." rows="5" id="comment"></textarea>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> You accept that the responsibility to properly protect any personally identifiable information. You are the responsible party should any information on or from your computer or other device be improperly disclosed. You agree that Better Weekdays is not responsible for the improper disclosure of any information that Better Weekdays has provided to you, whether due to your own negligence or the wrongful acts of others.

                                        </label>
                                    </div>
                                    <!--<button type="submit" class="btn btn-info">Verify Employment</button>-->
                                    <a href="{{ link.pages-cs-verification-results }}" class="btn btn-primary btn-lg" role="button">Verify Employment</a>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>