<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
        {{# employer-nav-items }}
            <li class="{{ class }}">
                {{# link}}
                <a href="{{ link }}">
                    <i class="fa {{ icon }}"></i>
                    <span>{{ title }}</span>
                </a>
                {{/link}}
                {{^ link}}
                    <i class="fa {{ icon }}"></i>
                    <span>{{ title }}</span>
                {{/link}}
            </li>
        {{/ employer-nav-items }}
    </ul>
</div>