<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
        {{# nav-items }}
            <li class="{{ class }}">
                {{# link }}
                <a href="{{ link }}">
                    {{#new}}
                        <i class="fa {{ new }} notification-menu-item"></i>
                    {{/new}}
                    <i class="fa {{ icon }}"></i>
                    <span>{{ title }}</span>
                </a>
                {{/link}}
                {{^ link }}
                    <i class="fa {{ icon }}"></i>
                    <span>{{ title }}</span>
                {{/link}}
            </li>
        {{/ nav-items }}
    </ul>
</div>