<div id="theme-wrapper">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container playlist">
        <div class="row">
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="main-box clearfix">
                                <header class="main-box-header clearfix">

                                    {{> organisms-candidates-header }}
                                </header>

                                    <div class="main-box-body clearfix">
                                        {{> organisms-table-cohort-list }}
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
    <!--<div class="playlist-feedback-mobile">
        <div class="row text-center">
            <form class="form-inline giant">
                <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="fa fa-thumbs-down"> Not Me</span></button>
                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="fa fa-thumbs-up"> Me</span></button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span></button>
            </form>
        </div>
    </div>-->
</div>

<!-- Modal -->
<div class="modal fade" id="employerFavoriteStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Favorite Student</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                        <div class="form-group">
                            <label>For a particular job:</label>
                            <select style="width:100%;">
                                <option value=""></option>
                                <option value="">Environment, Health and Safety Manager</option>
                                <option value="">Environment Protection Specialist</option>
                                <option value="">Environmental Health Specialist</option>
                                <option value="">Environmental Health and Safety Delivery Specialist</option>
                                <option value="">Environmental Health and Safety Engineer</option>
                                <option value="">Environmental Health and Safety Manager</option>
                                <option value="">Environmental Protection Specialist</option>
                                <option value="">Environmental Quality Analyst</option>
                                <option value="">Environmental Scientist</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Save Draft</button>-->
                <button type="button" class="btn btn-primary" onclick="window.location='{{ link.pages-e-student-profile }}';">Favorite</button>
            </div>
        </div>
    </div>
</div>
