<div id="theme-wrapper" class="card-posting">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <div class="main-box card padding-20">
                        <div class="row">
                          <div class="col-xs-8">
                            <h1 class="employer-name">World Wide Technology</h1>
                          </div>
                          <div class="col-xs-4">
                            <img class="employer-logo" src="../../images/company-logo-wwt.png" />
                          </div>
                        </div>
                        <div class="row visible-lg">
                          <hr />
                          <ul class="employer-anchor-nav">
                              <li><a href="#overview">Overview</a></li>
                              <li><a href="#location">Location</a></li>
                              <li><a href="#photos">Photos</a></li>
                              <li><a href="#video">Video</a></li>
                              <li><a href="#jobs">Jobs</a></li>
                              <li><a href="#ratings">Ratings</a></li>
                              <li><a href="#social">Social</a></li>
                          </ul>
                        </div>
                      </div>
                  </div>
              </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="main-box card card-image transparent-box-container">
                            <img src="../../images/employers.jpg" alt="" class="employer-hero-image"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="overview" class="anchor"></div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="main-box-overflow-hidden card padding-bottom-30">
                            <div class="row">
                                <div class="col-sm-6 employer-intro-text">
                                    <div class="margin-right-20 visible-xs"a>{{> organisms-favorite-button }}</div>
                                    <hr class="visible-xs" />
                                    <p class="employer-lede messaging">Hi we're World Wide Technology and we save our customers time and money by serving all their technology needs under one roof, and being their one trusted provider that knows them best.</p>
                                    <p>WWT works closely with industry leaders such as Cisco, HP, EMC, NetApp, Citrix, VMware and Dell, focusing on: Fortune 500 companies, service providers and the public sector.</p>
                                    <p>WWT employs more than 3,000 people and operates more than 2 million square feet of state-of-the-art warehousing, distribution and integration space strategically located throughout the world. WWT has been named on FORTUNE “100 Best Places to Work For®” for four consecutive year.</p>
                                </div>
                                <div class="col-sm-6 employer-intro-text">

                                    <div class="text-right margin-right-20 hidden-xs">{{> organisms-favorite-button }}</div>

                                    <hr />

                                    <p class="employer-at-a-glance employer-brand-primary">At a Glance</p>
                                    <ul>
                                        <li>HQ: San Franscisco, CA</li>
                                        <li>Founded: 1852</li>
                                        <li># of Employees: 265000</li>
                                    </ul>

                                    <hr />

                                    <p class="employer-at-a-glance employer-brand-primary">Benefits</p>
                                    <ul>
                                        <li>Tuition Reimbursement</li>
                                        <li>Medical Coverage</li>
                                    </ul>

                                    <hr />

                                    <p class="employer-at-a-glance employer-brand-primary">Learn More</p>
                                    <ul>
                                        <li><a class="employer-brand-secondary" href="#">Employer Website</a></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="location" class="anchor"></div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="main-box-overflow-hidden card">

                            <div class="col-sm-6 padding-right-30 padding-left-30-xs  employer-intro-text">
                                <p class="employer-brand-secondary employer-lede">San Francisco</p>
                                <ul>
                                    <li>Cost of Living Index: <strong>77.63</strong></li>
                                    <li>Apartment Rent (Monthly) - 1 Bedroom <br />in City Center: <strong>$784</strong></li>
                                    <li>Basic Utilities (Monthly): <strong>$156</strong></li>
                                    <li>Monthly Transportation Pass: <strong>$80</strong></li>
                                    <li>Average Monthly Disposable Salary <br />(After Tax): <strong>$2,554</strong></li>
                                </ul>

                                <hr />
                                <p class="employer-at-a-glance">Learn More</p>
                                <ul>
                                    <li><a class="employer-brand-secondary" href="#">Events in San Francisco</a></li>
                                </ul>
                                <hr class="visible-xs" />

                            </div>

                            <div class="col-sm-6">
                                <div class="google-maps-wrapper">
                                    <div class="google-maps">
                                        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98569006259!2d-122.50781171223302!3d37.75781489468121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1459814231493" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="photos" class="anchor"></div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="main-box-overflow-hidden card" style="max-width:1200px; margin-left:auto; margin-right:auto;">

                            <div class="carousel slide" data-ride="carousel" id=
                                    "carousel-example-captions">
                                <ol class="carousel-indicators">
                                    <li class="" data-slide-to="0" data-target="#carousel-example-captions">
                                    </li>
                                    <li class="active" data-slide-to="1" data-target=
                                            "#carousel-example-captions"></li>
                                    <li class="" data-slide-to="2" data-target="#carousel-example-captions">
                                    </li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item">
                                        <img data-holder-rendered="true" src="../../img/slideshow/slideshow-1.jpg">
                                        <div class="carousel-caption">
                                            <h3>First slide label</h3>
                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <img data-holder-rendered="true" src="../../img/slideshow/slideshow-2.jpg">
                                        <div class="carousel-caption">
                                            <h3>Second slide label</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img data-holder-rendered="true" src="../../img/slideshow/slideshow-3.jpg">
                                        <div class="carousel-caption">
                                            <h3>Third slide label</h3>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl
                                                consectetur.</p>
                                        </div>
                                    </div>
                                </div><a class="left carousel-control" data-slide="prev" href=
                                    "#carousel-example-captions" role="button"><span aria-hidden="true" class=
                                    "glyphicon glyphicon-chevron-left"></span> <span class=
                                                                                             "sr-only">Previous</span></a> <a class="right carousel-control" data-slide=
                                    "next" href="#carousel-example-captions" role="button"><span aria-hidden=
                                                                                                         "true" class="glyphicon glyphicon-chevron-right"></span> <span class=
                                                                                                                                                                                "sr-only">Next</span></a>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row">

                  <div class="col-md-8 col-md-offset-2">
                    <div class="main-box-overflow-hidden card">
                      <div id="video" class="anchor"></div>
                        <div class="col-sm-6 col-sm-offset-3 padding-20">
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QH6FhxPB2KE"></iframe>
                          </div>

                        </div>
                      </div>
                    </div>

                </div>


                <div class="row">
                    <div id="jobs" class="anchor"></div>
                    <div class="employer-detail-jobs col-sm-4 col-sm-offset-2" >
                        {{> organisms-browse-jobs-multiple-employer }}
                    </div>

                    <div class="employer-detail-jobs col-sm-4" >
                        {{> organisms-browse-jobs-multiple-employer }}
                    </div>
                </div>

                <div class="row">
                    <div id="ratings" class="anchor"></div>
                    <div class="col-md-8 col-md-offset-2">

                        <div class="main-box card-purple card">
                            <div class="row">
                                <div class="col-sm-12 text-center margin-top-20">
                                    <div class="col-sm-6">
                                        <h4>Work / Life Balance <a data-original-title="How current employees feel about not having to work all the time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                        <div class="stars">
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-half.png" />
                                            <img src="../../img/stars/star-empty.png" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Opportunity <a data-original-title="How current employees feel about the ability to advance within the company." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                        <div class="stars">
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-half.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="col-xs-6">
                                        <h4>Culture & Values <a data-original-title="How employees measure company culture." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                        <div class="stars">
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-empty.png" />
                                            <img src="../../img/stars/star-empty.png" />
                                            <img src="../../img/stars/star-empty.png" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4>Leadership <a data-original-title="How employees measure the vision and confidence in the company\'s executive team." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h4>
                                        <div class="stars">
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                            <img src="../../img/stars/star-full.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center margin-top-20">
                                    <p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div id="social" class="anchor"></div>
                    <div class="col-lg-12">
                        <div class="employer-social-media">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-official employer-brand-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube employer-brand-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin employer-brand-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter employer-brand-primary"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>
