<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-employer-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-lg margin-bottom-16">
                            <div class="col-xs-4">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    Post Job <span class="fa fa-thumb-tack"></span>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Manually Entered Jobs</h2>
                                    </header>

                                    <div class="main-box-body clearfix">

                                        <div class="table-responsive">
                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Date Modified</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Medical Assistant</a></td>
                                                    <td>07/22/15 9:10 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Digital Marketing Analyst</a></td>
                                                    <td>07/22/15 9:09 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Computer Technician</a></td>
                                                    <td>07/22/15 9:08 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Phlebotomist</a></td>
                                                    <td>07/22/15 9:07 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Dialysis Technician</a></td>
                                                    <td>07/22/15 9:06 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">IT Support Specialist</a></td>
                                                    <td>07/22/15 9:05 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-e-job-posting }}">Automotive Mechanic</a></td>
                                                    <td>07/22/15 9:02 AM</td>
                                                    <td><a href="#">Copy</a> | <a href="#">Delete</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-xs-12">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-lg visible-lg" data-toggle="modal" data-target="#myModal">
                                            Post Job <span class="fa fa-thumb-tack"></span>
                                        </button>

                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Post Job</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h4>Company</h4>
                                                            <div class="form-group">
                                                                <label>Company Name</label>
                                                                <input type="email" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Company Website URL</label>
                                                                <input type="email" class="form-control" placeholder="Website URL">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>City & State</label>
                                                                <input type="email" class="form-control" placeholder="City & State">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting Contact Name</label>
                                                                <input type="text" class="form-control" placeholder="Recruiting Contact Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting Contact Email</label>
                                                                <input id="contactemail" class="form-control" placeholder="Recruiting Contact Email" type="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting URL</label>
                                                                <input type="email" class="form-control" placeholder="Recruiting URL">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <h4>Position</h4>
                                                            <div class="form-group">
                                                                <label>Title</label>
                                                                <input type="email" class="form-control" placeholder="Title">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Description & Responsibilities</label>
                                                                <textarea class="form-control" placeholder="What is this position responsible for?" rows="5"></textarea>
                                                            </div>
                                                            <h4>Degree/Program Visibility <a data-original-title="Limit who can see the job" href="#" data-toggle="tooltip" title="" class="small"><i class="fa fa-question-circle"></i></a></h4>
                                                            <div class="form-group form-group-select2">
                                                                <div class="input-group col-lg-12">
                                                                    <select id="sel2Multi" style="width:100%;" multiple>
                                                                        <option value="All">All</option>
                                                                        <option value="Administration">Administration</option>
                                                                        <option value="Accounting/Auditing">Accounting/Auditing</option>
                                                                        <option value="Business">Business</option>
                                                                        <option value="Criminal Justice">Criminal Justice</option>
                                                                        <option value="Nursing">Nursing</option>
                                                                        <option value="Technology">Technology</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Save Draft</button>-->
                                                    <button type="button" class="btn btn-primary" onclick="window.location='{{ link.pages-cs-job-posted }}';">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 margin-top-20">

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Bulk Upload</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="exampleInputFile">Download Template</label>
                                                            <p><strong>Step 1.</strong> <a href="#">Download the CSV template</a></p>
                                                        </div>
                                                        <form>
                                                            <div class="form-group">
                                                                <p><strong>Step 2.</strong> Upload CSV file.</p>
                                                                <label for="exampleInputFile">Upload CSV file</label>
                                                                <input type="file" id="exampleInputFile">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>