<div id="theme-wrapper" class="messages-home">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row hidden-lg margin-bottom-16">
                            {{> organisms-new-message-button }}

                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#jump-to-profile-modal">
                                Jump to Profile <span class="fa fa-user"></span>
                            </button>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Message</h2>
                                    </header>
                                    <div class="main-box-body clearfix">
                                        <p>{{> molecules-single-browse-student }}</p>
                                        <hr>
                                        <div class="form-group clearfix">
                                            <p>Kickstart:</p>
                                            <div class="col-md-4">
                                                <p><a href="#">Say hello and send encouragement</a></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><a href="#">Ask questions about interests</a></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><a href="#">Recommend an article</a></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <form role="form">
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="8" placeholder="Your positive and informative message goes here."></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success">Send</button>
                                            </div>
                                        </form>
                                        <div class="pre-scrollable">
                                            {{> organisms-messages-list-employer }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Inbox</h2>
                                    </header>

                                    <div class="main-box-body clearfix pre-scrollable" style="word-break: break-all;">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><i class="fa fa-circle notification-menu-item"></i>&nbsp;<a href="{{ link.pages-e-student-profile }}">Sonya Frost</a></p>
                                                    <p class="small">1 day ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><i class="fa fa-circle notification-menu-item"></i>&nbsp;<a href="{{ link.pages-e-student-profile }}">Amy Awesome</a></p>
                                                    <p class="small">2 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">John Boomer</a></p>
                                                    <p class="small">5 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">Cable Fame</a></p>
                                                    <p class="small">10 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">Deshaun Watson</a></p>
                                                    <p class="small">12 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">marcuspq@yahoo.com</a></p>
                                                    <p class="small">15 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">Felicia Stelzawiczbergfoss</a></p>
                                                    <p class="small">16 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="col-xs-12 lead-new">
                                                    <p class="small"><a href="{{ link.pages-e-student-profile }}">Chris Motley</a></p>
                                                    <p class="small">19 days ago</p>
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>
</div>