<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row hidden-lg margin-bottom-16">
                            <div class="col-xs-4">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                    Post <span class="fa fa-briefcase"></span>
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{> organisms-post-wizard-button }}
                                    <br/>
                                {{> organisms-employer-graphs }}
                                {{> organisms-post-content-list }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 hidden">
                                {{> molecules-morris-pie-chart }}
                            </div>
                        </div>
                    </div>

                    {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>
</div>
{{> organisms-post-wizard-modal }}