<div id="theme-wrapper">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box tab-box minimal-tabs">
                                    <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#personal-info-tab" role="tab" data-toggle="tab" aria-controls="resumes" aria-expanded="true">Contact Info</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="resumes-tab" aria-labelledBy="resumes-tab">

                                                <form role="form">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="school">Name</label>
                                                            <div class="input-group">
                                                                <input id="school" class="form-control" placeholder="" type="text">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="school">Phone</label>
                                                            <div class="input-group">
                                                                <input id="school" class="form-control" placeholder="" type="text">
                                                            </div>
                                                        </div>



                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button type="submit" class="btn btn-success">Save Details</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- /example -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>