<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-12 report-builder">
                        {{> organisms-report-header }}
                    </div>
                </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>
