<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-12 report-builder">

                        {{> organisms-report-header }}
                    </div>

                    <div class="col-lg-12">
                        <div class="main-box clearfix report-box">

                            <div class="col-sm-10">

                                <header class="main-box-header clearfix">
                                    <h2 class="report-title">Job Seekers That Have an Account</h2>
                                </header>

                            </div>

                            <div class="col-sm-2">


                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg save-report" data-toggle="modal" data-target="#myModal1">
                                    Save <span class="fa fa-save"></span>
                                </button>

                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Save Report</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label>Report Title</label>
                                                <input type="email" class="form-control" placeholder="Report Title">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main-box-body clearfix">
                                <div class="table-responsive">
                                    <table id="table-example" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Name (email)</th>
                                            <th>Degree Program</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                            <td>Education</td>
                                            <td>Has Password</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett (garrett.winters@hotmail.com)</a></td>
                                            <td>Accounting</td>
                                            <td>Has Password</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Cox, Ashton (acox@gmail.com)</a></td>
                                            <td>Computer Science</td>
                                            <td>Viewed a Job</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Kelly, Cedric (cedric.kelly1@hotmail.com)</a></td>
                                            <td>Criminal Justice</td>
                                            <td>Uploaded Resume</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Satou, Airi (asatou@yahoo.com)</a></td>
                                            <td>Visual Communications</td>
                                            <td>Has Job Preferences</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Williamson, Brielle (bwilliamson@gmail.com)</a></td>
                                            <td>Practical Nursing</td>
                                            <td>Has Job Preferences</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Chandler, Herrod (hchandler23@gmail.com)</a></td>
                                            <td>Paralegal Studies</td>
                                            <td>Has Job Preferences</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Davidson, Rhona (rrdavidson@yahoo.com)</a></td>
                                            <td>Library Technical Assistant</td>
                                            <td>Viewed Job Matches</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Hurst, Colleen (Hurst987@gmail.com)</a></td>
                                            <td>Criminal Justice</td>
                                            <td>Has Password</td>
                                        </tr>
                                        <tr>
                                            <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                            <td>Medical Assistant</td>
                                            <td>Applied to Job</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                {{> organisms-footer }}

            </div>
        </div>
    </div>
</div>
</div>