<div id="theme-wrapper">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="row">
                            <div class="col-lg-8">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-info">
                                            <i class="fa fa-info fa-fw fa-lg"></i>
                                            500+ candidates available who are not visible. <strong><a href="#">Request upgrade</a></strong>
                                        </div>
                                    </div>
                                </div>

                                {{> organisms-browse-students-multiple }}

                            </div>
                            <div class="col-lg-4">
                                {{> organisms-playlist-filters-employer }}
                            </div>

                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
{{> organisms-new-note-modal }}
