<div id="theme-wrapper" class="card-posting">
    {{> organisms-header-alt}}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">

                        <div class="row">
                            <div class="posting-wrapper">
                                <div class="col-lg-8">
                                    <div class="main-box clearfix">
                                        <div class="col-sm-6">
                                        <h1>{{ title }}</h1>
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            <p class="margin-top-20">Highly Engaged</p>
                                        </div>
                                    </div>

                                    <div class="row hidden-lg">
                                        <div class="col-xs-6 margin-bottom-16">
                                            {{> organisms-new-message-button }}
                                        </div>

                                        <div class="col-xs-6 margin-bottom-16 text-right">
                                            {{> organisms-new-note-button }}
                                        </div>

                                        <div class="col-xs-6 margin-bottom-16">
                                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#">
                                                Pass <span class="fa fa-times"></span>
                                            </button>
                                        </div>

                                        <div class="col-xs-6 margin-bottom-16 text-right">
                                            {{> organisms-favorite-button }}
                                        </div>

                                        <div class="col-xs-6 margin-bottom-16">
                                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#">
                                                Share <span class="fa fa-share"></span>
                                            </button>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="main-box card">
                                                <h2>Personal Details</h2>
                                                <div class="main-box-body clearfix">
                                                    <div class="col-sm-12">
                                                        <ul class="fa-ul no-padding no-image">
                                                            <li><i class="fa-li"></i>Email: <a href="#">sonya.frost@gmail.com</a></li>
                                                            <li><i class="fa-li"></i>School: <strong>Better Weekdays University</strong></li>
                                                            <li><i class="fa-li"></i>Degree/Program: <strong>Medical Assistant</strong></li>
                                                            <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
                                                            <li><i class="fa-li"></i>GPA: <strong>3.4</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="main-box card-orange card">
                                                <h2>Job Preferences</h2>
                                                <div class="main-box-body clearfix">
                                                    <div class="col-sm-12">
                                                        <ul class="fa-ul no-padding no-image">
                                                            <li><i class="fa-li"></i>Job Areas: <strong>Healthcare</strong></li>
                                                            <li><i class="fa-li"></i>Locations: <strong>St. Louis, MO</strong></li>
                                                            <li><i class="fa-li"></i>Experience: <strong>1-2 Years</strong></li>
                                                            <li><i class="fa-li"></i>Goal: <strong>Summer Internship</strong></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="main-box">
                                                <h2>Engagement</h2>
                                                <div class="main-box-body clearfix">
                                                    <div class="col-sm-12">
                                                        <ul>
                                                        <li>
                                                            Previewed, Favorited, and Interested in applying to <a href="{{ link.pages-e-job-posting }}">Medical Assistant</a>
                                                        </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="main-box tab-box minimal-tabs">
                                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#resume-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">Resume</a></li>
                                                <li role="presentation"><a href="#assessment-tab" role="tab" data-toggle="tab" aria-controls="assessment-tab">Assessment</a></li>
                                                <li role="presentation"><a href="#messages-tab" role="tab" data-toggle="tab" aria-controls="messages-tab">Messages</a></li>
                                                <li role="presentation"><a href="#notes-tab" role="tab" data-toggle="tab" aria-controls="notes-tab">Notes</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" style="min-height:1200px;" class="tab-pane fade in active pre-scrollable" id="resume-tab" aria-labelledBy="to-dos-tab">
                                                    <iframe src="https://docs.google.com/gview?url=https%3A//app.betterweekdays.com/sites/default/files/medical_assistant_demo_resume-indianapolis.pdf&embedded=true" style="width:100%; height:800px;" frameborder="0"></iframe>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="assessment-tab" aria-labelledBy="assessment-tab">
                                                    {{> organisms-e-student-profile-assessment }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="messages-tab" aria-labelledBy="messages-tab">
                                                    {{> organisms-messages-list }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="notes-tab" aria-labelledBy="notes-tab">
                                                    {{> organisms-notes-list }}
                                                </div>
                                            </div>
                                        </div><!-- /example -->
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-new-message-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-new-note-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#create-note-modal">
                                        Pass <span class="fa fa-times"></span>
                                    </button>
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-favorite-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#">
                                        Share <span class="fa fa-share"></span>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-create-to-do-modal }}
{{> organisms-new-message-modal }}
{{> organisms-new-note-modal }}
