<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><span>{{ title }}</span></li>
                                </ol>

                                <h1>{{ title }}</h1>
                            </div>
                        </div>

                        {{> organisms-overall-count-single }}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box">
                                    <header class="main-box-header clearfix">
                                        <h2>Active Students</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        {{> molecules-pie-chart }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2>Upcoming Deadlines for 2014-2015</h2>
                            </header>
                            <div class="main-box-body clearfix">
                                <p><strong>Data Submission Due:</strong> 7/31/15, 10/1/15</p>
                                <p><strong>Warning Sanctions Notice:</strong> Spring 2016</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        {{> organisms-faq }}
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>