<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-8">
                                {{> organisms-request-to-dos-cs }}
                                {{> organisms-bdubs-conversation-small }}

                                <div class="row hidden-lg">
                                    <div class="col-xs-6 margin-bottom-16">
                                        {{> organisms-new-message-button }}
                                    </div>

                                    <div class="col-xs-6 margin-bottom-16 text-right">
                                        {{> organisms-create-to-do-button }}
                                    </div>

                                    <div class="col-xs-6 margin-bottom-16 ">
                                        {{> organisms-new-note-button }}
                                    </div>
                                    <div class="col-xs-6 margin-bottom-16 text-right">
                                        {{> organisms-jump-to-profile-button }}
                                    </div>
                                    <div class="col-xs-6 margin-bottom-16">
                                        {{> organisms-invite-button }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        {{> organisms-cohort-list-cs }}
                                    </div>
                                  <div class="col-md-6">
                                    <div class="main-box">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="graph-box">
                                            <h2 class="default"></h2>
                                            <div id="peruser_previews_chart">
                                              <div class="keen-widget keen-metric" style="background-color: #0691F9; width:auto;" title="0"><span class="keen-metric-value">12</span><span class="keen-metric-title">Previewed Jobs Per Student</span></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="main-box">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="graph-box">
                                            <h2 class="orange"></h2>
                                            <div id="peruser_jobviews_chart">
                                              <div class="keen-widget keen-metric" style="background-color: #F7941E; width:auto;" title="1"><span class="keen-metric-value">6</span><span class="keen-metric-title">Viewed Jobs Per Student</span></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="main-box">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="graph-box">
                                            <h2 class="red"></h2>
                                            <div id="peruser_interactions_chart">
                                              <div class="keen-widget keen-metric" style="background-color: #e74c3c; width:auto;" title="1"><span class="keen-metric-value">72</span><span class="keen-metric-title">Interactions Completed Per Student</span></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="main-box">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="graph-box">
                                            <h2 class="purple"></h2>
                                            <div id="peruser_interested_chart">
                                              <div class="keen-widget keen-metric" style="background-color: #9b59b6; width:auto;" title="1"><span class="keen-metric-value">4</span><span class="keen-metric-title">Interested in Applying Per Student</span></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!--<div class="row">
                                    <div class="col-md-12">
                                        <div class="main-box">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="graph-box">
                                                        <h2 class="orange">Total Engagement</h2> {{> organisms-keen-graph }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-box">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="graph-box">
                                                        <h2 class="orange">Week by Week</h2>
                                                        {{> organisms-keen-graph-weekbyweek }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="main-box">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="graph-box">
                                                        <h2>Percentage of Students<br />Signed Up</h2>
                                                        <div class="graph" id="graph-line-1">
                                                            <div class="morris-hover morris-default-style" style="display: none;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="main-box">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="graph-box">
                                                        <h2 class="orange">Week over Week<br />Change in Percentage of Sign Ups</h2>
                                                        <div class="graph" id="graph-line-2" style="max-height: 335px; position: relative;">
                                                            <div class="morris-hover morris-default-style" style="display: none;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="main-box tab-box minimal-tabs">
                                    <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#overview-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">Student Activity</a></li>
                                            <li role="presentation"><a href="#activity-tab" role="tab" data-toggle="tab" aria-controls="activity-tab" aria-expanded="true">Employer Activity</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="overview-tab" aria-labelledBy="to-dos-tab">
                                                {{> organisms-activity-dashboard-cs }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="activity-tab" aria-labelledBy="activity-tab">
                                                {{> organisms-activity-dashboard-cs-employer }}
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /example -->
                                </div>

                                <div class="main-box tab-box minimal-tabs">
                                    <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#overview-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">To-Dos</a></li>
                                            <li role="presentation"><a href="#activity-tab" role="tab" data-toggle="tab" aria-controls="activity-tab" aria-expanded="true">My Activity</a></li>
                                            <li role="presentation"><a href="#students-tab" role="tab" data-toggle="tab" aria-controls="students-tab" aria-expanded="true">Students</a></li>
                                            <li role="presentation"><a href="#employers-tab" role="tab" data-toggle="tab" aria-controls="employers-tab">Employers</a></li>
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="overview-tab" aria-labelledBy="to-dos-tab">
                                                {{> organisms-to-dos-cs }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="activity-tab" aria-labelledBy="activity-tab">
                                                {{> organisms-cs-my-activity }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="students-tab" aria-labelledBy="messages-tab">

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <header class="main-box-header clearfix">
                                                            <h2 class="red">Average Daily<br /> Student Interactions</h2>
                                                        </header>
                                                        <div class="main-box-body clearfix">
                                                            <div class="graph" id="graph-line-3" style="max-height: 335px;">
                                                                <div class="morris-hover morris-default-style" style="display: none;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">

                                                        <header class="main-box-header clearfix">
                                                            <h2 class="purple">Week over Week Change<br /> in Average Daily Student Interactions</h2>
                                                        </header>

                                                        <div class="main-box-body clearfix">
                                                            <div class="graph" id="graph-line-4" style="max-height: 335px;">
                                                                <div class="morris-hover morris-default-style" style="display: none;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="employers-tab" aria-labelledBy="engagement-tab">

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <header class="main-box-header clearfix">
                                                            <h2 class="red">Average Daily<br /> Employer Interactions</h2>
                                                        </header>
                                                        <div class="main-box-body clearfix">
                                                            <div class="graph" id="graph-line-5" style="max-height: 335px;">
                                                                <div class="morris-hover morris-default-style" style="display: none;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">

                                                        <header class="main-box-header clearfix">
                                                            <h2 class="purple">Week over Week Change<br /> in Average Daily Employer Interactions</h2>
                                                        </header>

                                                        <div class="main-box-body clearfix">
                                                            <div class="graph" id="graph-line-6" style="max-height: 335px;">
                                                                <div class="morris-hover morris-default-style" style="display: none;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /example -->
                                </div>
                              <div class="col-md-12">
                                {{> organisms-jobs-companies-count }}
                                <!-- {{> organisms-recently-active-students }} -->
                              </div>
                            </div>
                            <div class="visible-lg">
                                <div class="col-lg-4 margin-bottom-16">
                                    {{> organisms-new-message-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16">

                                    <a href="{{ link.pages-cs-jobs-search }}" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-note-modal">
                                    Search Jobs <span class="fa fa-search"></span>
                                </a>
                                </div>


                                <div class="col-lg-4 margin-bottom-16">
                                    {{> organisms-create-to-do-button }}
                                </div>
                                <div class="col-lg-4 margin-bottom-16">
                                    {{> organisms-new-note-button }}
                                </div>
                                <div class="col-lg-4 margin-bottom-16">
                                    {{> organisms-jump-to-profile-button }}
                                </div>
                                <div class="col-lg-4 margin-bottom-16">
                                    {{> organisms-invite-button }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 hidden">
                                {{> molecules-morris-pie-chart }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-new-message-modal }} {{> organisms-create-to-do-modal }} {{> organisms-new-note-modal }} {{> organisms-jump-to-profile-modal }} {{> organisms-invite-modal }} {{> organisms-peek-student-modal }} {{> organisms-peek-employer-modal }} {{> organisms-peek-job-modal
}}
