<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><span>{{ title }}</span></li>
                                </ol>

                                <h1>{{ title }}</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>Browse All Student Activity</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="datepickerDateRange">Date range</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                                    <input class="form-control" id="datepickerDateRange" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Student</th>
                                                    <th>Activity</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>07/22/2015 - 10:00am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                                    <td>Uploaded Resume</td>
                                                </tr>
                                                <tr>
                                                    <td>07/22/2015 - 09:30am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                                    <td>Set Job Preferences</td>
                                                </tr>
                                                <tr>
                                                    <td>07/22/2015 - 09:00am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                                    <td>Set Password</td>
                                                </tr>
                                                <tr>
                                                    <td>07/21/2015 - 10:00am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett (garrett.winters@hotmail.com)</a></td>
                                                    <td>Set Password</td>
                                                </tr>
                                                <tr>
                                                    <td>07/21/2015 - 09:30am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Viewed Job - Medical Assistant OB/GYN</td>
                                                </tr>
                                                <tr>
                                                    <td>07/21/2015 - 09:20am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Viewed Job - Medical Assistant Post-partum</td>
                                                </tr>
                                                <tr>
                                                    <td>07/17/2015 - 10:30am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Has Job Matches - 10</td>
                                                </tr>
                                                <tr>
                                                    <td>07/17/2015 - 10:20am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Uploaded Resume</td>
                                                </tr>
                                                <tr>
                                                    <td>07/16/2015 - 10:30am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Updated Job Preferences</td>
                                                </tr>
                                                <tr>
                                                    <td>07/01/2015 - 10:30am</td>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Set Password</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>