<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><span>{{ title }}</span></li>
                                </ol>

                                <h1>{{ title }}</h1>
                            </div>
                        </div>

                        <div class="row mrg-b-lg">
                            <div class="col-xs-8">
                                {{> molecules-sortfilter-cs }}
                            </div>
                        </div>

                        {{> organisms-overall-count-single }}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2>All Students</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table id="table-example" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Name (email)</th>
                                                    <th>Degree Program</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger (tiger.nixon@gmail.com)</a></td>
                                                    <td>Education</td>
                                                    <td>Has Password</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett (garrett.winters@hotmail.com)</a></td>
                                                    <td>Accounting</td>
                                                    <td>Has Password</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Cox, Ashton (acox@gmail.com)</a></td>
                                                    <td>Computer Science</td>
                                                    <td>Viewed a Job</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Kelly, Cedric (cedric.kelly1@hotmail.com)</a></td>
                                                    <td>Criminal Justice</td>
                                                    <td>Uploaded Resume</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Satou, Airi (asatou@yahoo.com)</a></td>
                                                    <td>Visual Communications</td>
                                                    <td>Has Job Preferences</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Williamson, Brielle (bwilliamson@gmail.com)</a></td>
                                                    <td>Practical Nursing</td>
                                                    <td>Has Job Preferences</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Chandler, Herrod (hchandler23@gmail.com)</a></td>
                                                    <td>Paralegal Studies</td>
                                                    <td>Has Job Preferences</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Davidson, Rhona (rrdavidson@yahoo.com)</a></td>
                                                    <td>Library Technical Assistant</td>
                                                    <td>Viewed Job Matches</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Hurst, Colleen (Hurst987@gmail.com)</a></td>
                                                    <td>Criminal Justice</td>
                                                    <td>Has Password</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="{{ link.pages-cs-student-profile }}">Frost, Sonya (sonya.frost@hotmail.com)</a></td>
                                                    <td>Medical Assistant</td>
                                                    <td>Applied to Job</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>