<div id="theme-wrapper" class="card-posting">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="posting-wrapper">
                                <div class="col-lg-8">
                                    <div class="main-box clearfix">
                                        <div class="row">
                                            <div class="col-xs-6 col-md-8">
                                                <h1>{{ title }}</h1>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <h2 class="verified-title"><i class="fa fa-check-circle-o"></i> Employment Verified</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-bottom-16 hidden-lg">
                                        {{> organisms-create-to-do-button }}
                                    </div>

                                    <div class="margin-bottom-16 hidden-lg">
                                        {{> organisms-new-message-button }}
                                    </div>
                                    <div class="margin-bottom-16 hidden-lg">
                                        {{> organisms-new-note-button }}
                                    </div>
                                    <div class="margin-bottom-16 hidden-lg">
                                        <button type="button" class="btn btn-default btn-lg" onclick="window.location='{{ link.pages-cs-verification }}';">
                                            Verify Employment
                                        </button>
                                    </div>

                                    <div class="hidden-lg">
                                        {{> organisms-bdubs-conversation-small }}
                                    </div>

                                    <div class="main-box tab-box minimal-tabs">
                                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#personal-tab" role="tab" data-toggle="tab" aria-controls="personal-tab">Personal Details</a></li>
                                                <li role="presentation"><a href="#resume-tab" role="tab" data-toggle="tab" aria-controls="resume-tab">Resume</a></li>
                                                <li role="presentation"><a href="#jobpref-tab" role="tab" data-toggle="tab" aria-controls="jobpref-tab" aria-expanded="true">Job Preferences</a></li>
                                                <li role="presentation"><a href="#previews-tab" role="tab" data-toggle="tab" aria-controls="previews-tab">Previews</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active pre-scrollable" id="personal-tab" aria-labelledBy="personal-tab">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <ul class="fa-ul no-padding no-image">
                                                                <li><i class="fa-li"></i>Email: <a href="#">sonya.frost@gmail.com</a></li>
                                                                <li><i class="fa-li"></i>Degree/Program: <strong>Medical Assistant</strong></li>
                                                                <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="resume-tab" aria-labelledBy="resume-tab">
                                                    <ul class="fa-ul no-padding no-image">
                                                        <li><i class="fa-li"></i>Resume: <span class="file"><a href="{{ link.pages-cs-student-resume }}" type="application/vnd.openxmlformats-officedocument.wordprocessingml.document; length=18266">my_resume.docx</a></span></li>
                                                        <li><i class="fa-li"></i># Personalized Jobs: <a href="{{ link.pages-cs-job-matches}}">8</a></li>
                                                    </ul>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="jobpref-tab" aria-labelledBy="jobpref-tab">
                                                    <ul class="fa-ul no-padding no-image">
                                                        <li><i class="fa-li"></i>Job Areas: <strong>General Management / Business, Marketing, Project Management</strong></li>
                                                        <li><i class="fa-li"></i>Locations: <strong>St. Louis, MO</strong></li>
                                                        <li><i class="fa-li"></i>Experience: <strong>1-2 Years</strong></li>
                                                    </ul>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="previews-tab" aria-labelledBy="previews-tab">
                                                    {{> organisms-listjobs-student-cs }}
                                                </div>
                                            </div>
                                        </div><!-- /example -->
                                    </div>

                                    <div class="main-box tab-box minimal-tabs">
                                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#engagement-tab" role="tab" data-toggle="tab" aria-controls="engagement-tab">Total Engagement</a></li>
                                                <li role="presentation"><a href="#interested-tab" role="tab" data-toggle="tab" aria-controls="interested-tab">Interested in Applying</a></li>
                                                <li role="presentation"><a href="#favorites-tab" role="tab" data-toggle="tab" aria-controls="favorites-tab" aria-expanded="true">Favorites</a></li>
                                                <li role="presentation"><a href="#previews-tab" role="tab" data-toggle="tab" aria-controls="previews-tab">Previews</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active pre-scrollable" id="engagement-tab" aria-labelledBy="engagement-tab">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="graph-box">
                                                                {{> organisms-keen-graph }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="interested-tab" aria-labelledBy="interested-tab">
                                                    <ul>
                                                        <li class="list-group-item text-center">
                                                            <i class="fa fa-star-half-empty giant"></i><p>Nothing yet!</p><p>Reach out to this student to encourage them to get in the game!</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="favorites-tab" aria-labelledBy="favorites-tab">
                                                    {{> organisms-listjobs-student-cs }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="previews-tab" aria-labelledBy="previews-tab">
                                                    {{> organisms-listjobs-student-cs }}
                                                </div>
                                            </div>
                                        </div><!-- /example -->
                                    </div>

                                    <div class="main-box tab-box minimal-tabs">
                                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#to-dos-tab" role="tab" data-toggle="tab" aria-controls="to-dos-tab">To-Dos</a></li>
                                                <li role="presentation"><a href="#messages-tab" role="tab" data-toggle="tab" aria-controls="messages-tab">Messages</a></li>
                                                <li role="presentation"><a href="#notes-tab" role="tab" data-toggle="tab" aria-controls="notes-tab">Notes</a></li>
                                                <li role="presentation"><a href="#verified-tab" role="tab" data-toggle="tab" aria-controls="verified-tab">Verification</a></li>
                                            </ul>
                                            <div id="myTabContent" class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active pre-scrollable" id="to-dos-tab" aria-labelledBy="to-dos-tab">
                                                    {{> organisms-to-dos-student-cs }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="messages-tab" aria-labelledBy="messages-tab">
                                                    {{> organisms-messages-list }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="notes-tab" aria-labelledBy="notes-tab">
                                                    {{> organisms-notes-list }}
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade pre-scrollable" id="verified-tab" aria-labelledBy="verified-tab">
                                                    {{> organisms-verification }}
                                                </div>
                                            </div>
                                        </div><!-- /example -->
                                    </div>

                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-create-to-do-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-new-message-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    {{> organisms-new-note-button }}
                                </div>

                                <div class="col-lg-4 margin-bottom-16 visible-lg">
                                    <button type="button" class="btn btn-default btn-lg" onclick="window.location='{{ link.pages-cs-verification }}';">
                                        Verify Employment
                                    </button>
                                </div>

                                <div class="col-lg-4 visible-lg">
                                    {{> organisms-bdubs-conversation-small }}
                                    <div class="main-box">
                                        <h2>Recent Activity</h2>
                                        <div class="main-box-body clearfix margin-top-20">
                                            <div class="col-sm-12">
                                                {{> organisms-activity-profile-view }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-create-to-do-modal }}
{{> organisms-new-message-modal }}
{{> organisms-new-note-modal }}
