<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2>Helpful Articles</h2>
                            </header>
                            <div class="main-box-body clearfix">
                                {{> organisms-list-group }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                <h2>Frequently Asked Questions</h2>
                            </header>
                            <div class="main-box-body clearfix">
                                {{> organisms-faq }}
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>
