<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="main-box">
                            <header class="main-box-header clearfix">
                                <h2>Post a Job</h2>
                            </header>

                            <div class="main-box-body clearfix">
                                <form role="form">
                                    <div class="row col-lg-12">
                                        <div class="form-group">
                                            <label for="school">Company</label>
                                            <div class="input-group col-lg-12">
                                                <input id="company" class="form-control" placeholder="ABC, Inc." type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Company URL</label>
                                            <div class="input-group col-lg-12">
                                                <input id="companyurl" class="form-control" placeholder="abccompany.com" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Location</label>
                                            <div class="input-group col-lg-12">
                                                <input id="location" class="form-control" placeholder="St. Louis, MO" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Position Title</label>
                                            <div class="input-group col-lg-12">
                                                <input id="title" class="form-control" placeholder="Customer Success" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Description and Responsibilities</label>
                                            <div class="input-group col-lg-12">
                                                <textarea id="description" class="form-control" placeholder="What is this position responsible for?" rows="8"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group form-group-select2">
                                            <label>Only show this job to the following Degree/Programs:</label>
                                            <div class="input-group col-lg-12">
                                                <select id="sel2Multi" style="width:100%;" multiple>
                                                    <option value="All">All</option>
                                                    <option value="Administration">Administration</option>
                                                    <option value="Accounting/Auditing">Accounting/Auditing</option>
                                                    <option value="Business">Business</option>
                                                    <option value="Criminal Justice">Criminal Justice</option>
                                                    <option value="Nursing">Nursing</option>
                                                    <option value="Technology">Technology</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Contact Email</label>
                                            <div class="input-group col-lg-12">
                                                <input id="contactemail" class="form-control" placeholder="hiring@abccompany.com" type="text">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="school">Contact URL</label>
                                            <div class="input-group col-lg-12">
                                                <input id="contacturl" class="form-control" placeholder="abccompany.com/myjob/apply" type="text">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-cs-job-posted }}';">Post</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>