<div id="theme-wrapper" class="jobs-home">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-cs-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-8">

                                <div class="main-box">
                                    <header class="main-box-header clearfix">
                                        <h2>Customer Success Job Posted!</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <form role="form">
                                            <div class="row col-lg-12">
                                                <div class="col-lg-12">
                                                    <div class="alert alert-info">
                                                        <i class="fa fa-info fa-fw fa-lg"></i>
                                                        To view stats on this posting without an account, use this unique url: <strong>http://app.betterweekdays.com/job/12345?key=aldskflaiwepr13upoinewofipneopwanifa</strong>
                                                    </div>
                                                </div>

                                                <dl class="dl-horizontal headline">
                                                    <dt>Status</dt>
                                                    <dd>Posted 10/1/2015</dd>
                                                    <dt>Contact</dt>
                                                    <dd>careerservices@university.edu</dd>
                                                    <dt>Show to</dt>
                                                    <dd>Business Administration, Marketing, Accounting</dd>
                                                    <dt>Views</dt>
                                                    <dd>22 <a data-original-title="Number of job seekers who have viewed the job" href="#" data-toggle="tooltip" title="" class="small"><i class="fa fa-question-circle"></i></a></dd>
                                                    <dt>Possible Applicants</dt>
                                                    <dd>8 <a data-original-title="Number of job seekers who clicked 'Apply'" href="#" data-toggle="tooltip" title="" class="small"><i class="fa fa-question-circle"></i></a></dd>
                                                </dl>

                                                <dl class="dl-horizontal headline">
                                                    <dt>Company</dt>
                                                    <dd>ABC, Inc.</dd>
                                                    <dt>URL</dt>
                                                    <dd>abccompany.com</dd>
                                                    <dt>Location</dt>
                                                    <dd>St. Louis</dd>
                                                    <dt>Position Title</dt>
                                                    <dd>Customer Success</dd>
                                                    <dt>Contact Email</dt>
                                                    <dd>hiring@abccompany.com</dd>
                                                    <dt>Contact URL</dt>
                                                    <dd>abccompany.com/myjob/apply</dd>
                                                </dl>

                                                <p><strong>Description and Responsibilities</strong></p>
                                                <p>As a Success Champion, you’ll help on-board customers, respond to inbound requests, craft informative messages, and build vital relationships.</p>

                                                <p>You are an empathetic communicator who will help our customers learn. You are also interested in analyzing trends and creatively coming up with processes to optimize processes. We’re growing fast and you don’t need to be micromanaged. You thrive with in clear customer success goals and you do exceptional work.
                                                    <br>Responsibilities:
                                                    <br>•	Propose ways to iterate on the customer success program strategy through trials and data analysis
                                                    <br>•	Provide one-to-one and group coaching to increase product engagement and retention
                                                    <br>•	Understand all of Better Weekday's feature set and mission
                                                    <br>•	Support our customers and prospective customers via on-site on-boarding, phone, email, live chat, and webinars
                                                    <br>•	Identify, propose, and initiate projects that can help our customers be more successful
                                                    <br>Required Skills/Experience:
                                                    <br>•	Outstanding verbal and written communication skills
                                                    <br>•	Passion for technology
                                                    <br>•	Interest in design thinking
                                                    <br>•	Empathetic and patient
                                                    <br>•	Proactive leadership skills
                                                    <br>•	Desire to work in an ever-changing, experimental environment
                                                    <br>•	Demonstrated ability to give and receive feedback and adapt quickly</p>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">

                                    <div class="col-xs-12">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            Post Job <span class="fa fa-thumb-tack"></span>
                                        </button>

                                    </div>


                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Post Job</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>Company</h4>
                                                            <div class="form-group">
                                                                <label>Company Name</label>
                                                                <input type="email" class="form-control" placeholder="Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Company Website URL</label>
                                                                <input type="email" class="form-control" placeholder="Website URL">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>City & State</label>
                                                                <input type="email" class="form-control" placeholder="City & State">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting Contact Name</label>
                                                                <input type="text" class="form-control" placeholder="Recruiting Contact Name">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting Contact Email</label>
                                                                <div class="input-group col-lg-12">
                                                                    <input id="contactemail" class="form-control" placeholder="Recruiting Contact Email" type="email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Recruiting URL</label>
                                                                <input type="email" class="form-control" placeholder="Recruiting URL">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h4>Position</h4>
                                                            <div class="form-group">
                                                                <label>Title</label>
                                                                <input type="email" class="form-control" placeholder="Title">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Description & Responsibilities</label>
                                                                <textarea class="form-control" placeholder="What is this position responsible for?" rows="5"></textarea>
                                                            </div>
                                                            <h4>Degree/Program Visibility</h4>
                                                            <div class="form-group form-group-select2">
                                                                <div class="input-group col-lg-12">
                                                                    <select id="sel2Multi" style="width:100%;" multiple>
                                                                        <option value="All">All</option>
                                                                        <option value="Administration">Administration</option>
                                                                        <option value="Accounting/Auditing">Accounting/Auditing</option>
                                                                        <option value="Business">Business</option>
                                                                        <option value="Criminal Justice">Criminal Justice</option>
                                                                        <option value="Nursing">Nursing</option>
                                                                        <option value="Technology">Technology</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Save Draft</button>-->
                                                    <button type="button" class="btn btn-primary" onclick="window.location='{{ link.pages-cs-job-posted }}';">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 margin-top-20">

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
                                            Bulk Upload <span class="fa fa-upload"></span>
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Bulk Upload</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="exampleInputFile">File input</label>
                                                                <input type="file" id="exampleInputFile">
                                                                <p class="help-block">Upload Excel or CSV files.</p>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>