<div class="row">
    <div class="col-lg-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Helpful Articles</h2>
            </header>

            <div class="main-box-body clearfix">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><a href="#" class="asc"><span>Title</span></a></th>
                            <th><span>Summary</span></th>
                            <th ><span>Source</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{# articles-list }}
                            <tr>
                                <td>
                                    <a href="{{ url }}">{{ title }}</a>
                                </td>
                                <td>
                                    <p>{{ summary }}</p>
                                    <p><a href="{{ url }}">Read More</a></p>
                                </td>
                                <td>
                                    {{ source }}
                                </td>
                            </tr>
                        {{/articles-list}}
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>