<div class="row">
    <div class="col-lg-8 col-xs-12">
        <div class="main-box small-graph-box txt-normal">
            <div class="col-xs-12">
                <a href="{{ link.pages-cs-students-active }}"><span class="value">25% Overall Engagement</span></a>
                <span class="headline">100 / 400 students at least viewed a job</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {{# overall-count-plain }}
    <div class="col-lg-8 col-xs-12 text-center mrg-b-md">
        <h2><i class="fa fa-long-arrow-up"></i></h2>
    </div>
    <div class="col-lg-8 col-xs-12">
        <div class="main-box small-graph-box txt-normal">
            <div class="col-xs-6 stat">
                <a href="{{ link.pages-cs-students-active }}">
                    <span class="value">{{ value }}</span>
                    <span class="headline">{{ headline }}</span>
                </a>
                {{# label }}
                <span class="label label-{{label.type}}">{{label.text}}</span>
                {{/ label }}
            </div>
            <div class="col-xs-6 stat">
                <span class="subinfo">
                    <i class="fa fa-arrow-circle-o-up"></i> {{ 7day }}% this week
                </span>
                <span class="subinfo">
                    <i class="fa fa-arrow-circle-o-up"></i> {{ 30day }}% this month
                </span>
                {{# iftip }}
                <br />
                <span class="subinfo"><strong>Tips:</strong></span>
                <ul class="subinfo">
                    {{#tips}}
                    <li>{{text}}</li>
                    {{/tips}}
                </ul>
                {{/ iftip }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {{/ overall-count-plain }}
</div>