<div class="row">
    {{# overall-count }}
        <div class="col-lg-12">
            <div class="main-box infographic-box-reverse">
                <div class="row">
                    <div class="col-xs-10 text-left">
                            <a href="{{ link }}">
                                <i class="fa {{ icon }} {{ bg-color }}"></i>
                                <span class="headline">{{ headline }}</span>
                            </a>
                            <p class="value">
                                <span class="timer" data-from="{{ start }}" data-to="{{ finish }}" data-speed="900" data-refresh-interval="60">
                                    {{ value }}
                                </span>
                            </p>
                    </div>
                    <div class="col-xs-2 text-right">
                        <p>
                            <em>Updated today</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/overall-count}}
</div>