<div class="row">
    {{# overall-count }}
        <div class="col-lg-12">
            <div class="main-box infographic-box">
                <i class="fa {{ icon }} {{ bg-color }}"></i>
                <span class="headline">{{ headline }}</span>
                <span class="value">
                    <span class="timer" data-from="{{ start }}" data-to="{{ finish }}" data-speed="900" data-refresh-interval="60">
                        {{ value }}
                    </span>
                </span>
                <span class="small text-right num-label">{{ num-label }}</span>
            </div>
        </div>
    {{/overall-count}}
</div>