<div class="row">
    {{# overall-count }}
        <div class="col-lg-12">
            <div class="main-box infographic-box-reverse">
                <div class="row">
                    <div class="col-xs-10 text-left">
                        <div class="col-xs-4">
                            <a href="{{ link }}">
                                <i class="fa {{ icon }} {{ bg-color }}"></i>
                                <span class="headline">{{ headline }}</span>
                            </a>
                            <p class="value">
                                <span class="timer" data-from="{{ start }}" data-to="{{ finish }}" data-speed="900" data-refresh-interval="60">
                                    {{ value }}
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h4 class="green"><strong>{{ 7num}}</strong></h4>
                            <h5><strong>7 days ago</strong></h5>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h4 class="green"><strong>{{ 30num }}</strong></h4>
                            <h5><strong>30 days ago</strong></h5>
                        </div>
                    </div>
                    <div class="col-xs-2 text-right">
                        <p>
                            <em>Updated today</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/overall-count}}
</div>