<div class="main-box">
    <header class="main-box-header clearfix">
        <h2>Job Preferences</h2>
    </header>

    <div class="main-box-body clearfix">
        <form role="form">
            <div class="row">
                {{> molecules-select-job-area }}
            </div>

            <div class="row">
                {{> molecules-select-location }}
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="salary">How much experience do you have?</label>
                    <select class="form-control">
                        <option value="0">None</option>
                        <option value="2">1-2 Years</option>
                        <option value="5">3-5 Years</option>
                        <option value="10">5+ Years</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>