<div class="main-box-body clearfix">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Resume for Personalized Jobs</strong>&nbsp;<a data-original-title="The resume used for matches" href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a>
        </li>
        <li class="list-group-item">
            JohnnyAwesome.pdf (<a href="#">download</a>)
        </li>
        <li class="list-group-item">
            {{> molecules-upload-element }}
            <button type="submit" class="btn btn-success">Upload Resume for Personalized Jobs</button>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Additional Resumes</strong>&nbsp;<a data-original-title="Additional resumes for reviewing, applying to jobs, and storing for later" href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a>
        </li>
        <li class="list-group-item">
            <div class="col-lg-6">
                JohnnyAwesome_Accountant.pdf (<a href="#">download</a>)
            </div>
            <div class="col-lg-6">
                <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
            <div class="col-lg-6">
                JohnnyAwesome_Finance.pdf (<a href="#">download</a>)
            </div>
            <div class="col-lg-6">
                <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="list-group-item">
            {{> molecules-upload-element }}
            <button type="submit" class="btn btn-success">Upload Additional Resume</button>
        </li>
    </ul>
</div>