<div class="col-lg-8">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Education</h2>
        </header>

        <div class="main-box-body clearfix">
            <form role="form">
                <div class="row">
                    <div class="form-group">
                        <label>Current Status</label>
                        <div class="radio">
                            <input name="currentstatus" id="optionsRadios1" value="option1" checked="" type="radio">
                            <label for="optionsRadios1">
                                Student
                            </label>
                        </div>
                        <div class="radio">
                            <input name="currentstatus" id="optionsRadios2" value="option2" type="radio">
                            <label for="optionsRadios2">
                                Alumni
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Degree Type</label>
                        <div class="radio">
                            <input name="optionsRadios" id="optionsRadios3" value="option3" checked="" type="radio">
                            <label for="optionsRadios3">
                                Undergraduate
                            </label>
                        </div>
                        <div class="radio">
                            <input name="optionsRadios" id="optionsRadios4" value="option4" type="radio">
                            <label for="optionsRadios4">
                                Graduate
                            </label>
                        </div>
                        <div class="radio">
                            <input name="optionsRadios" id="optionsRadios5" value="option5" type="radio">
                            <label for="optionsRadios5">
                                MBA
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="school">School</label>
                        <div class="input-group">
                            <input id="school" class="form-control" placeholder="Columbia University" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="year">Year</label>
                        <div class="input-group">
                            <input id="year" class="form-control" placeholder="06/2010" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="major">Major/Concentration</label>
                        <div class="input-group">
                            <input id="major" class="form-control" placeholder="Nursing" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>