    <form role="form">
        <div class="row">
            <div class="form-group">
                <label for="school">First Name</label>
                <div class="input-group">
                    <input id="school" class="form-control" placeholder="Jane" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="school">Last Name</label>
                <div class="input-group">
                    <input id="school" class="form-control" placeholder="Awesome" type="text">
                </div>
            </div>

            <div class="row">
                {{> molecules-select-job-area }}
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">Save Details</button>
            </div>
        </div>

    </form>
