<div class="col-lg-8">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Job History</h2>
        </header>

        <div class="main-box-body clearfix">
            <form role="form">
                <div class="row">
                    <div class="form-group">
                        <label for="employer">Current/Previous Employer</label>
                        <div class="input-group">
                            <input id="employer" class="form-control" placeholder="ACME Inc." type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Experience</label>
                        <select class="form-control">
                            <option>Select...</option>
                            <option>None</option>
                            <option>1-2 years</option>
                            <option>3-4 years</option>
                            <option>5+ years</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>