<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-browse-student }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-browse-student-alt }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-browse-student }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-browse-student-alt }}
        </div>
    </div>
</div>