<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-match }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-match }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-box infographic-box">
            {{> molecules-single-match }}
        </div>
    </div>
</div>
