<div class="row">
    <div class="col-lg-8">
        <div class="main-box clearfix">

        <header class="main-box-header clearfix">
            <h2>Medical Support Assistant</h2>
        </header>
        <div class="main-box-body clearfix">
            <div class="row">
                <dl class="dl-horizontal">
                    <dt>Location:</dt>
                    <dd>Indianapolis, IN</dd>
                    <dt>Company:</dt>
                    <dd>Veterans Health Administration</dd>
                    <dt>Minimum Experience:</dt>
                    <dd>1</dd>
                    <dt>Match Score:</dt>
                    <dd>95%</dd>
                </dl>
            </div>
            <div class="row">
                <p>
                    <a href="http://www.vacareers.va.gov/vacareers/job-search/job-detail.asp?job=13a4ec-medical-support-assistant-indianapolis-in" class="btn btn-primary">
                        <i class="fa fa-lg"></i> Apply
                    </a>
                </p>
            </div>
            <div class="row">
                <p>This position is located in PCS/Clinical Support Service. Incumbent in this roles will be responsible for performing a variety of administrative and clerical duties and is the liaison between the nursing staff in their assigned area and customers both internal and external to the medical center.</p>
                <p>Specialized experience includes, but is not limited, to the following:</p>
                    <ul>
                        <li>Scheduling, canceling and rescheduling patients discharge appointments.</li>
                        <li>Accurately and timely processing patient information, admits, discharge, appointments and transfers in computer system.</li>
                        <li>Arranging and coordinating in-patient procedure appointments for timeliness.</li>
                        <li>Maintaining office supplies.</li>
                        <li>Providing professional and courteous customer service.</li>
                        <li>Assisting with the orientation/on the job training of new staff.</li>
                        <li>Completing work orders and contacting appropriate staff when requested for emergency repairs or special requests.</li>
                        <li>Inputting and extracting data of a highly technical nature.</li>
                        <li>Interpreting and transcribing doctors orders.</li>
                        <li>Maintaining patient records, scanning, quality control</li>
                    </ul>
                <p>Work Schedule: 2 shifts available</p>
                <p>SHIFT 1: 7:30AM  4:00PM, Monday through Friday working every THIRD weekend with rotating holidays. Note: Dayshift position will provide backup coverage to Decedent Affairs, duties include but not limited to releasing deceased veterans to funeral homes, updating patient deaths, providing information regarding death benefits, updating Advance Directive information in patient records.</p>
                <p>SHIFT 2: 3:30PM  12Midnight, Monday-Friday working every OTHER weekend with rotating holidays.</p>
                <p>Functional Statement Title/#: Medical Support Assistant, GS-679-5</p>
            </div>
            <div class="row">
                <dl class="dl-horizontal">
                    <dt>Location:</dt>
                    <dd>Indianapolis, IN</dd>
                    <dt>Company:</dt>
                    <dd>Veterans Health Administration</dd>
                    <dt>Minimum Experience:</dt>
                    <dd>1</dd>
                    <dt>Match Score:</dt>
                    <dd>95%</dd>
                </dl>
            </div>
            <div class="row">
                <p>
                    <a href="http://www.vacareers.va.gov/vacareers/job-search/job-detail.asp?job=13a4ec-medical-support-assistant-indianapolis-in" class="btn btn-primary">
                        <i class="fa fa-lg"></i> Apply
                    </a>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>