<div class="col-lg-8">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Before You Begin...</h2>
        </header>

        <div class="main-box-body clearfix">
            <form role="form">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="salary">What is your first and last name?</label>
                        <div class="input-group">
                            <input id ="firstname" class="form-control" type="text" placeholder="First Name" required>
                            <input id ="lastname" class="form-control" type="text" placeholder="Last Name" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-8">
                        <label>What gender do you identify as?</label>
                        <select class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-js-assessment }}';">Begin Assessment</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>