<div class="col-lg-8">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Assessment Completed</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="col-md-12">
                <div class="row">
                    <p>Thank you for completing your assessment.</p>
                </div>
                <div class="row">
                    <p>Your assessment results are currently being processed and usually takes a few minutes.</p>
                    <p>We will email you when it is ready.</p>
                </div>
            </div>
        </div>
    </div>
</div>