<div class="col-lg-8">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Assessment Ready</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="col-md-12">
                <div class="row">
                    <p>Your assessment is ready to view for $15. Please pay by <a href="#">Stripe</a> or <a href="#">Paypal</a>.</p>
                </div>
                <div class="row">
                    <p>Not sure? <a href="#">View an example</a> assessment.</p>
                </div>
            </div>
        </div>
    </div>
</div>