<div class="main-box infographic-box-center clearfix">
    <div class="main-box-header text-center">
        <span class="badge badge-warning">New</span>
        <span class="badge">Viewed</span>
        <span class="badge badge-success">Degree/Program: Medical Assisting</span>
        <span class="badge badge-success">Personalized</span>
        <span class="badge badge-info">Internship</span>
    </div>
    <div class="main-box-body clearfix">
        <div class="row text-center">
            <div class="col-lg-12">
                <p>MatchRank: 85%, Added 3 days ago</p>
                <a href="{{ link.pages-j-posting }}">
                    <span class="title value">Certified Medical Assistant Medical Receptionist</span>
                </a>
                <p><strong>Indianapolis, IN</strong> - Veterans Health Administration</p>
                <p><span class="giant">$29,960</span> median salary</p>
                <br />
                <p><strong>They're looking for:</strong> Attention to Detail, Dependability, Cooperation, Integrity</p>
                <p><strong>I'll be responsible for:</strong> Record patients' medical history, vital statistics, or information such as test results in medical records.</p>
                <p><strong>I'll also be responsible for:</strong> Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</p>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-lg-12">
                <p><strong>People who work here say:</strong> The people. Everyone here works as hard as they can toward a shared mission.</p>
                <p><strong>They also say:</strong> Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>
                <p><strong>The cost of living is about:</strong> $2.80/gal for gas, $1400/mo for rent (900 sq. ft), and $33 to go to dinner for two</p>
                <p><strong>I may be promoted to:</strong> Medical Assistant Manager</p>
                <p class="small"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <form class="form-inline giant">
                <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="fa fa-thumbs-down"> Not Me</span></button>
                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="fa fa-thumbs-up"> Me</span></button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span></button>
            </form>
        </div>
    </div>
</div>