<div class="col-lg-12">
    <div class="row">
    <div class="col-lg-2 clearfix">
        <select class="form-control">
            <option>Last 30 days</option>
            <option>Last 60 days</option>
            <option>Last 90 days</option>
        </select>
    </div>
    </div>
    <div class="table-responsive">
        <table id="table-example" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School</th>
                <th>Degree Program</th>
                <th>Year</th>
                <th>Engagement</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger</a><br />
                    <a data-original-title="Student has a resume." href="#" data-toggle="tooltip" title=""><span class="fa fa-file-text"></span></a>
                    &nbsp;<a data-original-title="Student has favorited your company." href="#" data-toggle="tooltip" title=""><span class="fa fa-heart"></span></a>
                    &nbsp;<a data-original-title="Student has taken the assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
                </td>
                <td><a href="#">tiger.nixon@gmail.com</a></td>
                <td>Better Weekdays University</td>
                <td>Medical Assisting</td>
                <td>2019</td>
                <td><strong>Highly Engaged, Relevant</strong></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett </a><br />
                    <a data-original-title="Student has a resume." href="#" data-toggle="tooltip" title=""><span class="fa fa-file-text"></span></a>
                    &nbsp;<a data-original-title="Student has taken the assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
                </td>
                <td><a href="#">garrett.winters@hotmail.com</a></td>
                <td>Better Weekdays University</td>
                <td>Accounting</td>
                <td>2018</td>
                <td><strong>Relevant</strong></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Cox, Ashton</a>
                    <br />
                    &nbsp;<a data-original-title="Student has favorited your company." href="#" data-toggle="tooltip" title=""><span class="fa fa-heart"></span></a>
                </td>
                <td><a href="#">garrett.winters@hotmail.com</a></td>
                <td>Northcentral University</td>
                <td>Computer Science</td>
                <td>2018</td>
                <td></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Kelly, Cedric</a>
                </td>
                <td><a href="#">cedric.kelly1@hotmail.com/a></td>
                <td>Northcentral University</td>
                <td>Criminal Justice</td>
                <td>2020</td>
                <td></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="{{ link.pages-cs-student-profile }}">Nixon, Tiger</a><br />
                    <a data-original-title="Student has a resume." href="#" data-toggle="tooltip" title=""><span class="fa fa-file-text"></span></a>
                    &nbsp;<a data-original-title="Student has favorited your company." href="#" data-toggle="tooltip" title=""><span class="fa fa-heart"></span></a>
                    &nbsp;<a data-original-title="Student has taken the assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
                </td>
                <td><a href="#">tiger.nixon@gmail.com</a></td>
                <td>Better Weekdays University</td>
                <td>Medical Assisting</td>
                <td>2019</td>
                <td><strong>Highly Engaged, Relevant</strong></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Winters, Garrett </a><br />
                    <a data-original-title="Student has a resume." href="#" data-toggle="tooltip" title=""><span class="fa fa-file-text"></span></a>
                    &nbsp;<a data-original-title="Student has taken the assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
                </td>
                <td><a href="#">garrett.winters@hotmail.com</a></td>
                <td>Better Weekdays University</td>
                <td>Accounting</td>
                <td>2018</td>
                <td><strong>Relevant</strong></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Cox, Ashton</a>
                    <br />
                    &nbsp;<a data-original-title="Student has favorited your company." href="#" data-toggle="tooltip" title=""><span class="fa fa-heart"></span></a>
                </td>
                <td><a href="#">garrett.winters@hotmail.com</a></td>
                <td>Northcentral University</td>
                <td>Computer Science</td>
                <td>2018</td>
                <td></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
            </tr>
            <tr>
                <td><a href="{{ link.pages-cs-student-profile }}">Kelly, Cedric</a>
                </td>
                <td><a href="#">cedric.kelly1@hotmail.com/a></td>
                <td>Northcentral University</td>
                <td>Criminal Justice</td>
                <td>2020</td>
                <td></td>
                <td>
                    {{#is_js}}
                        <div class="lead-buttons">
                            {{> molecules-buttons-e-js }}
                        </div>
                    {{/is_js}}
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>