<div class="col-lg-12">
    <p><a href="#" data-toggle="modal" data-target="#new-shortlist-modal">New Shortlist +</a></p>
    <div class="table-responsive">
        <table id="table-example" class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Total</th>
                <th>Add</th>
                <th>Share</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="#">Follow-Up</a>
                </td>
                <td>10</td>
                <td><a href="#" data-toggle="modal" data-target="#add-to-shortlist-modal">Add +</a></td>
                <td><a href="#">Share</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>
                    <a href="#">Interview</a>
                </td>
                <td>4</td>
                <td><a href="#">Add +</a></td>
                <td><a href="#">Share</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr>
                <td>
                    <a href="#">Make Offer</a>
                </td>
                <td>1</td>
                <td><a href="#">Add +</a></td>
                <td><a href="#">Share</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>