<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-lg">
                            <div class="col-sm-12">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-lg-8">
                                <div class="main-box-body clearfix">

                                    <ul class="list-group to-dos">
                                        <li class="list-group-item to-do-item-title">
                                            <strong><i class="fa fa-rocket"></i> Jobs</strong>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="col-md-6"><a href="{{ link.pages-j-posting }}">Explore jobs</a> to find your favorites.</div>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>

                                    <ul class="list-group to-dos">
                                        <li class="list-group-item to-do-item-title">
                                            <strong><i class="fa fa-building"></i> Employers</strong>
                                        <li class="list-group-item">
                                            <div class="col-md-6"><a href="{{ link.pages-j-posting }}">Explore employers</a> to find your favorites.</div>
                                            <div class="clear"></div>
                                        </li>
                                        </li>
                                    </ul>

                                </div>

                            </div>


                            <div class="col-lg-4">

                                <div class="visible-lg">
                                    {{> organisms-bdubs-conversation-small }}
                                </div>

                                    {{> organisms-contact-facilitator }}

                            </div>

                        </div>



                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>