<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-lg">
                            <div class="col-xs-12 margin-bottom-16">
                                {{> organisms-create-to-do-student-button }}
                            </div>
                            <div class="col-sm-12">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12 col-lg-8">
                                <div class="main-box-body clearfix">
                                  <ul class="list-group to-do-list-checkbox-nice to-dos">
                                    <li class="list-group-item to-do-item-title">
                                        <strong><i class="fa fa-rocket"></i> Jobs</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-md-9 col-sm-10 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
                                        <div class="col-md-1 col-sm-1 col-xs-2 text-right"></div>
                                        <a title="Nope"  class="to-do-parent-delete" href="/interactions-job-notdone/233611?destination=favorites">
                                          <i class="fa fa-times"></i>
                                        </a>
                                        <div class="clear"></div>
                                    </li>
                                      <li class="list-group-item">
                                        <div class="checkbox-notification">
                                          <i class="fa fa-circle notification-to-do-item"></i>
                                        </div>
                                          <div class="checkbox-content">
                                          <div class="checkbox-nice">
                                              <input type="checkbox" id="checkbox-1">
                                              <label for="checkbox-1">
                                                <span class="to-do-title">Look up hiring contact info for Rush Hospital</span>
                                                <p class="time-estimate">5min to Research</p>
                                              </label>
                                          </div>
                                        </div>

                                          <div class="clear"></div>
                                      </li>
                                      <li class="list-group-item">
                                        <div class="checkbox-notification">
                                          <i class="fa fa-circle notification-to-do-item"></i>
                                        </div>
                                        <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                              <input type="checkbox" id="checkbox-2">
                                              <label for="checkbox-2">
                                                <span class="to-do-title">Call and notify hiring contact at Rush Hospital of application to Medical Assistant position</span>
                                                  <p class="time-estimate">5min to Research</p>
                                              </label>
                                            </div>
                                          </div>

                                          <div class="clear"></div>
                                      </li>
                                      <li class="list-group-item">
                                        <div class="checkbox-notification">
                                          <i class="fa fa-circle notification-to-do-item"></i>
                                        </div>
                                          <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                              <input type="checkbox" id="checkbox-3">
                                              <label for="checkbox-3">
                                                <span class="to-do-title">Research others on LinkedIn with the job title Medical Assistant and learn from their work history</span>
                                                <p class="time-estimate">5min to Research</p></div>
                                              </label>
                                            </div>
                                          <div class="clear"></div>
                                      </li>
                                      <li class="list-group-item">
                                        <div class="checkbox-notification">
                                          <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                        </div>
                                          <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                              <input type="checkbox" id="checkbox-4">
                                              <label for="checkbox-4">
                                                <span class="to-do-title">Explore if any of your mentors or contacts work at Rush Hospital</span>
                                              <p class="time-estimate">30min to Network</p></div>
                                              </label>
                                            </div>
                                          <div class="clear"></div>
                                      </li>
                                      <li class="list-group-item">
                                        <div class="checkbox-notification">
                                          <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                        </div>
                                          <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                              <input type="checkbox" id="checkbox-5">
                                              <label for="checkbox-5">
                                                <span class="to-do-title">Complete online application to the Medical Assistant job at Rush Hospital</span>
                                              <p class="time-estimate">60min to Apply</p></div>
                                              </label>
                                            </div>
                                          <div class="clear"></div>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="col-md-9 col-sm-10 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Phlebotemist</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
                                          <div class="col-md-1 col-sm-1 col-xs-2 text-right"></div>
                                          <a title="Nope"  class="to-do-parent-delete" href="/interactions-job-notdone/233611?destination=favorites">
                                            <i class="fa fa-times"></i>
                                          </a>
                                          <div class="clear"></div>
                                      </li>
                                        <li class="list-group-item">
                                          <div class="checkbox-notification">
                                            <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                          </div>
                                            <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                                <input type="checkbox" id="checkbox-1">
                                                <label for="checkbox-1">
                                                  <span class="to-do-title">Look up hiring contact info for Rush Hospital</span>
                                                  <p class="time-estimate">5min to Research</p>
                                                </label>
                                            </div>
                                          </div>

                                            <div class="clear"></div>
                                        </li>
                                        <li class="list-group-item">
                                          <div class="checkbox-notification">
                                            <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                          </div>
                                          <div class="checkbox-content">
                                              <div class="checkbox-nice">
                                                <input type="checkbox" id="checkbox-2">
                                                <label for="checkbox-2">
                                                  <span class="to-do-title">Call and notify hiring contact at Rush Hospital of application to Medical Assistant position</span>
                                                    <p class="time-estimate">5min to Research</p>
                                                </label>
                                              </div>
                                            </div>

                                            <div class="clear"></div>
                                        </li>
                                        <li class="list-group-item">
                                          <div class="checkbox-notification">
                                            <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                          </div>
                                            <div class="checkbox-content">
                                              <div class="checkbox-nice">
                                                <input type="checkbox" id="checkbox-3">
                                                <label for="checkbox-3">
                                                  <span class="to-do-title">Research others on LinkedIn with the job title Medical Assistant and learn from their work history</span>
                                                  <p class="time-estimate">5min to Research</p></div>
                                                </label>
                                              </div>
                                            <div class="clear"></div>
                                        </li>
                                      </ul>
                                      <ul class="list-group to-dos">
                                      <li class="list-group-item to-do-item-title">
                                        <strong><i class="fa fa-building-o"></i> Employers</strong>
                                      </li>
                                      <li class="list-group-item">
                                          <div class="col-md-9 col-sm-10 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Monsanto</strong></a> <span class="small">(St. Louis, MO)</span></div>
                                          <div class="col-md-1 col-sm-1 col-xs-2 text-right"></div>
                                          <a title="Nope"  class="to-do-parent-delete" href="/interactions-job-notdone/233611?destination=favorites">
                                            <i class="fa fa-times"></i>
                                          </a>
                                          <div class="clear"></div>
                                      </li>
                                        <li class="list-group-item">
                                          <div class="checkbox-notification">
                                            <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                          </div>
                                            <div class="checkbox-content">
                                            <div class="checkbox-nice">
                                                <input type="checkbox" id="checkbox-1">
                                                <label for="checkbox-1">
                                                  <span class="to-do-title">Browse <a href="#">Matches</a></span>
                                                  <p class="time-estimate">15min to use Better Weekdays</p>
                                                </label>
                                            </div>
                                          </div>

                                            <div class="clear"></div>
                                        </li>
                                        <li class="list-group-item">
                                          <div class="checkbox-notification">
                                            <i class="fa fa-circle notification-to-do-item notification-off"></i>
                                          </div>
                                          <div class="checkbox-content">
                                              <div class="checkbox-nice">
                                                <input type="checkbox" id="checkbox-2">
                                                <label for="checkbox-2">
                                                  <span class="to-do-title">Contact Monsanto Alumni</span>
                                                    <p class="time-estimate">60min to use Better Weekdays</p>
                                                </label>
                                              </div>
                                            </div>

                                            <div class="clear"></div>
                                        </li>



                                  </ul>




                                </div>

                                
                            </div>

                            <div class="col-lg-4 margin-bottom-16">
                                {{> organisms-create-to-do-student-button }}
                            </div>

                            <div class="col-lg-4 visible-lg">
                                {{> organisms-bdubs-conversation-small }}
                            </div>

                            <div class="col-lg-4 col-sm-12">
                                {{> organisms-contact-facilitator }}
                            </div>

                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>

{{> organisms-create-to-do-student-modal }}
