// Header
.loading-graphic-lg {
    margin-top: 14px;
    margin-left: 3px;
    margin-right: 9px;
}
.loading-graphic-sm {
    margin-top: 16px;
}
.navbar > .container .navbar-brand {
    width: auto !important;
    padding-right: 0;
}
@media (min-width: $break-sm-min) {
    .navbar > .container .navbar-brand {
        width: 220px !important;
        padding-right: 15px;
    }
}
// List View
.list-view-buttons {
    a:hover span.fa-heart {
        color: red !important;
    }
    a:hover span.fa-envelope {
        color: $primary-color !important;
    }
    a:hover span.fa-times {
        color: black !important;
    }
}

// Keen
.keen-metric {
    background: #49c5b1;
    border-radius: 4px;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px 0;
    text-align: center;
}
.keen-metric-value {
    display: block;
    font-size: 84px;
    font-weight: 700;
    line-height: 84px;
}
.keen-metric-title {
    display: block;
    font-size: 24px;
    font-weight: 200;
}

// Colors

.gray-color {color:#555;}

// Typography

blockquote.quote:before {
  content:none !important;
}
blockquote.quote {
  padding-left:15px !important;
}

.message-date {
  font-size:14px;
  color:#999;
  padding:0;
}
