/** Page Wide **/

#page-wrapper, #nav-col {
  // background: url("../../../img/grey_wash_wall.png") repeat scroll left top transparent;
  background-color: #555;
}

#content-wrapper {
  background-color: #F0F0F0;
  min-height: 900px;
  margin-left: 0;
}

p, ul li, label, .radio label, select {
  font-size: 1.2em;
  font-weight: 300;
}

.btn-special {
  background-color: $purple-color;
  border-color: #633C82;
}
.btn-special:hover,
.btn-special:focus,
.btn-special:active,
.btn-special.active,
.open .dropdown-toggle.btn-special {
  background-color: $purple-color-dark;
  border-color: #633C82;
}

/** Header, Sidebar, Navbar **/

#header-navbar {
  background-color: #2b2b2b;
  .nav > li > a, .fa-bars, .x-small {
    color: white;
  }
  .nav > li .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
  }
}

@media (min-width: $break-sm-min) {
  #header-navbar {
    background-color: white;
    .nav > li > a, .fa-bars, .x-small {
      color: #484848;
    }
    .nav > li .caret {
      border-top-color: #2b2b2b !important;
      border-bottom-color: #2b2b2b !important;
    }
  }
}


#sidebar-nav {
  .nav-pills > li.active > a {
    background-color: $green-color;
  }
  .nav > li > a > span {
    font-size: $font-size-h5;
  }
}

/** Header **/
#header-navbar {
  .nav > li {
    .caret {
      border-top-color: $very-dark-color;
      border-bottom-color: $very-dark-color;
    }
  }
}

.navbar > .container .navbar-brand {
  @media (min-width: $break-sm-min) {
    background-color: white;
  }
}

.navbar-nav {
  margin: 0 0 0 40px;
}

#logo.navbar-brand > img {
  height: 40px;
  margin-top: -5px;
}

.navbar-toggle {
  padding: 5px 10px;

  .x-small {
    display: block;
    margin-top: -5px;
    font-size: 65%;
  }
}

/** Main Content **/
.infographic-box {
  .match {
    .value {
      text-align: right;
    }
    .headline, .title {
      text-align: left;
    }
  }
}

.table.normal tbody > tr > td {
  font-size: inherit;
}

.table td.lead-new {
  min-width: 100px;
}

.graph {
  overflow: hidden;
}

/* INFOGRAPHIC BOX REVERSE */
.infographic-box-reverse {
  @extend .infographic-box;

  .headline {
    text-align: left;
  }
  .value {
    text-align: left;
  }
  &.merged {
    .headline {
      text-align: left;
    }
    .value {
      text-align: left;
    }
  }
}

.infographic-box-center {
  @extend .infographic-box;
  padding:20px;
  .headline {
    text-align: center;
  }
  .value {
    text-align: center;
  }
  &.merged {
    .headline {
      text-align: center;
    }
    .value {
      text-align: center;
    }
  }
}

#login-logo {
  background-color: $very-dark-color;
}

#login-box-inner {
  .input-group {
    div {
      .form-control {
        height: 46px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.login-footer-top { text-align: right; margin: 15px 0 0 0; padding-right: 0 }
.login-footer { text-align: right; margin: 5px 0 0 0; padding-right: 0 }

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-box {
  .giant {
    font-size: 2.3em;
    line-height: 52px;
    .form-control, button {
      font-size: 25px;
      height: 45px;
    }
  }
  .big {
    font-size: 1.8em;
    line-height: 40px;
  }
  .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
  }
  h1 {
    margin-top: 20px;
  }
}

.main-box-overflow-hidden {
  background: #FFFFFF;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  border-radius: 3px;
  background-clip: padding-box;
  overflow:hidden;
}

.main-box-body {
  .input-group label {
    display: block;
  }
}

.page-job-matches {
  .infographic-box .btn a {
    color: white;
  }
}

.calendar {
  min-width: 185px;
}

/* Accordion Panels */
.panel-default > .panel-heading {
  background-color: transparent;
  border-color: #0691F9;
  color: $primary-color;
  border-radius: 0;
  background-clip: padding-box;
}

.accordion .panel-title > a, .panel-default > .panel-heading a:focus {
  color: $primary-color;
}

.accordion .panel-title > a:hover {
  text-decoration: underline;
  color: $primary-color;
}

/* Dashboard */

.job-seeker-dashboard-new {
  .alert-warning, .alert-success {
    background-color: white !important;
  }
  #content-wrapper{
    h1{
      padding-left:0;
    }
    .breadcrumb {
      padding-left:0;
    }
  }
  .main-box.card {
    padding:20px;
    min-height:135px;
    i {
      font-size: 1.8em;
      display: block;
      float: left;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      color: #fff;
    }
    h2 {
      font-size:20px;
      font-weight:500;
      padding-top:6px;
      a.blue {
        color: $primary-color;
      }
      a.green {
        color: $green-color;
      }
      a.purple {
        color: $purple-color;
      }
      a.gray {
        color: $gray-color-dark;
      }
      a.yellow {
        color: $yellow-color;
      }
    }
    .meta {
      margin-top:15px;
      .progress {
        margin-bottom:0;
      }
    }
  }
}

@media (min-width: $break-xs-min) {
  .job-seeker-dashboard-new {
    .main-box.card {
      h2 {
        margin-left:15px;
      }
    }
  }
}

/* Lead - New */

.lead-new {
  .lead-new-title{
    font-size: 1.3em;
    font-weight: 600;
  }
  p {
    margin-bottom:0;
  }
  .added {
    font-size: 1.1em;
    color: #999;
  }
  .lead-new-meta {
    color: #555;
  }
  .lead-buttons {
    margin-top:8px;
  }
}

.lead-new:hover {
  .lead-buttons {
    visibility: visible;
  }
}

@media (min-width: $break-xs-min) {
  .lead-new {
    .lead-buttons {
      visibility:hidden;
    }
  }
  .text-left {
    text-align:right;
  }
}

/* Card Detail */

.card-posting {
  .posting-wrapper {
    padding:0 15px;
    h2 {
      font-size:20px;
      font-weight:500;
      color: $green-color;
      margin-left:15px;
      padding-top:15px;
    }
    .card {
      min-height:240px;
      &.no-height {
        min-height: 0;
      }
      img {
        margin:13px 18px 18px 18px;
        max-width:200px;
      }
      h3 {
        font-weight:500;
        border:none;
      }
      h4 {
        min-height:40px;
        margin-left:15px;
        margin-right:15px;
        margin-bottom:3px;
        line-height:20px;
        font-size: 15px;
        font-weight:600;
        color: #656;

      }
      ul {
        padding-left:30px;
        width:100%;
        color:#555;
        margin-bottom:20px;

        &.no-image {
          padding: 0;
          margin-top: 20px;
          margin-left: 0;
        }
      }
      .bottom-links {
        padding-left:0;
        margin-top:15px;
        text-align: center;
        list-style-type: none;
        li {
          display: inline-block;
          a {
            color: #777;
          }
        }
        li:not(:first-child) {
          margin-left:10%;
        }
      }
    }
    .card-orange {
      h2 {color: $orange-color;}
    }
    .card-purple {
      img {max-width:110px}
      h2 {
        color: $purple-color-dark;
      }
    }
    .card-yellow {
      h2 {color: $yellow-color;}
      img {max-width:250px;}
    }
  }
  .card-button-sidebar {
    .btn {
      width:100%;
      margin-bottom:20px;
    }
    span.glyphicon-chevron-right{
      top:2px;
    }
    span.glyphicon-star-empty {
      top:3px;
    }
  }
}

.job-detail-card {
  min-height: 420px !important;
  .fa-question-circle {
    font-size: 13px;
    vertical-align: top;
    color: #999;
  }
}


/* Tabs */

.minimal-tabs {
  .tab-box {
    padding:20px;
  }
  .tab-content {
    padding:20px;
    line-height:26px;
  }
  .nav-tabs {
    background:none;
    border-bottom:1px solid #ddd;
    li > a {
      color: $primary-color;
      font-weight:500;
      font-size:16px;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus{
    //background-color: #eeeeee !important;
    color: #555;
  }
  .nav>li>a {
    padding: 10px 30px
  }
  //
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: #555555;
    //background-color: #ffffff;
    //border: 1px solid #dddddd;
    //border-bottom-color: transparent;
    cursor: default;
  }
  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background:none;
  }
}

.centered-tabs {
  .nav-tabs {
    text-align: center;
    padding-bottom:10px;
    li {
      display:inline;
      float:none !important;
      a {
        font-size:15px;
        padding-left:3%;
        padding-right:3%;
        display:inline !important;
        width:150px;
      }
    }
  }
}

@media (min-width: $break-xs-min) {
  .centered-tabs {
    .nav-tabs {
      li {
        a {
          font-size:16px;
          padding-left:30px;
          padding-right:30px;
        }
      }
    }
  }
}


/* Playlist */

.playlist-page-headline {
  color:#656565;
  font-size:22px !important;
}

.matchrank {
  text-align: center;
  font-size:11px;
  color: #999;
  p {
    margin-bottom:4px;
  }
}

.playlist-title {
  text-align: center;
  font-size:22px;
  line-height:26px;
  color: $primary-color;
  font-weight: 500;
  padding-bottom:8px;
  border-bottom: 1px solid #ddd;
}

.playlist-sub-title{
  text-align:center;
  font-size: 16px;
  margin-bottom:20px;
  color: #777;
  font-style: italic;
}
.playlist-explain {
  text-align: center;
  font-size: 13px;
  margin-bottom:0;
  a {
    color: #999;
    cursor: pointer;
  }
}

.playlist-tags {
  border-bottom: 1px solid #ddd;
  padding:0 !important;
  min-height:0 !important;
  margin-bottom:10px;
  color: #999;
  ul {
    padding:0;
    list-style-type:none;
    text-align: center;
    margin:0 0 8px 0;
    li {
      text-align:center;
      display:inline;
      margin-left:10px;
      margin-right:10px;
      line-height:20px;
      font-size:12px;
    }
  }
}

.playlist {
  .minimal-tabs {
    margin-top:40px;
  }
}

.playlist-glances {
  // border-bottom: 1px solid #ddd;
  padding-bottom:4px;
  margin-bottom:10px;
  .fa-question-circle {
    font-size: 13px;
    vertical-align: top;
    color: #999;
  }
}

.playlist-glance {
  h3, p {
    font-size:14px;
    padding-left:0;
    border-bottom: transparent;
    margin-bottom:4px;
  }
  h3 {
    margin-top:10px;
  }
  p {
    color: #555;
    font-size:14px;
  }
}

.playlist-company {color: $green-color;}
.playlist-location {color: $orange-color;}
.playlist-balance {color: $purple-color;}
.playlist-outlook {color: $yellow-color;}
.playlist-culture {color: $orange-color;}
.playlist-compensation {color: $green-color;}


.playlist-location, .playlist-outlook, .playlist-compensation {
  h3, p {text-align: right;}
}

.conversational-summary {
  font-size:12px;
  color:#555;
}

.playlist-glassdoor {
  text-align: center;
  display: block;
  margin-top:50px;
  margin-bottom:50px;
}

.playlist-feedback-desktop {
  display:none;
}

.playlist-feedback-mobile {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 15px;
  background-color: white;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fixed-bottom-menu {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 15px;
  background-color: white;
  position: fixed;
  z-index: 200;
  bottom: 0;
  left: 0;
  width: 100%;
}

.playlist-feedback-desktop {
  display:block;
}
.playlist-title {
  border-bottom:transparent;
  padding-bottom:0;
  font-size:30px;
  margin-top:25px;
  margin-bottom:16px;
}
.playlist-glance {
  margin-bottom:20px;
  h3 {font-size: 20px;}
}
.conversational-summary {
  font-size:12px;
  line-height:26px;
}

// Career Services Jobs Home

.jobs-home {
  #table-activity_length {
    display:none;
  }
  #table-activity_filter {
    float:left;
  }
  .modal-body {
    .form-group {
      label {
        display:none !important;
      }
    }
    h4 {
      margin-bottom:15px;
      color: $primary-color;
    }
  }
}

// Loading

.loading-wrapper {
  padding-top:75px !important;
  margin-left:0 !important;
  height:400px;
  .loading {
    padding:75px;
    text-align: center;
    p {
      font-size: 20px;
      margin-bottom:50px;
      line-height:40px;
    }
    .loading-small {
      margin-top:24px;
      font-size:14px;
    }
    .progress {
      height:25px !important;
    }
  }
}

// Graphs

#graph-line-1.graph,
#graph-line-2.graph,
#graph-line-3.graph,
#graph-line-4.graph,
#graph-line-5.graph,
#graph-line-6.graph,
#graph-line-7.graph,
#graph-line-8.graph,

{
  max-height:200px !important;
}

.graph-box {
  background-color: #fff;
  h2 {
    color: $primary-color;
  }
  .orange {
    color: $orange-color;
  }
  .red {
    color: $red-color;
  }
  .purple {
    color: $purple-color;
  }
}

// Report Builder

.report-builder {
  h2 {
    margin-top:15px;
  }
  h2.report-title {
  }
  label {
    font-size:14px;
  }
  select {
    margin:auto !important;
  }
  .form-row {
    padding-top:15px !important;
  }
  .form-group {
    margin-bottom:8px;
  }
  .report-filter {
    margin-top:5px;
    p {font-size:14px;}
  }
  input[type="text"] {
    max-width:200px;
  }
  .save-report {
    margin-left:20px;
    margin-bottom:15px;
  }
  .report-box {
    margin-top:10px;
  }
}

@media (min-width: $break-xs-min) {
  .report-builder {
    .save-report {
      margin-top: 15px;
    }
  }
}

// To Dos

.to-dos {
  .btn-default {
    i {
      padding-left:2px;
    }
  }
  .to-do-title {
    padding-left:0 !important;
  }
  .to-do-item-title {
    color: $orange-color;
  }
}

.main-box.card.to-do-card {
  min-height:0;
  .to-dos {
    margin-top:10px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
  }
}

.time-estimate {
  font-size:12px;
  color: #aaa;
  line-height:5px;
  padding-top:5px;
  margin-bottom:0;
}

// Layout Helpers

.margin-top-10 {margin-top: 10px;}
.margin-top-20 {margin-top: 20px !important;}
.margin-top-30 {margin-top: 30px;}
.margin-top-60 {margin-top: 60px;}
.margin-right-20 {margin-right: 20px;}
.no-margin-bottom {margin-bottom:0 !important;}
.margin-bottom-16 {margin-bottom: 16px;}
.margin-bottom-10 {margin-bottom:10px;}
.padding-left-30 {padding-left:30px;}
.padding-right-30 {padding-right:30px !important;}
.padding-bottom-30 {padding-bottom:30px !important;}
.padding-top-30 {padding-top:30px;}
.padding-left-14 {padding-left:14px !important;}
.padding-20 {padding:20px;}

.padding-left-30-xs {padding-left:30px;}

@media (min-width: $break-xs-min) {
  .padding-left-30-xs {padding-left:0;}
}



// Global

.embed-responsive-16by9 {
  border-radius:3px;
  overflow:hidden;
}

.anchor {
  height: 100px;
  margin-top: -100px;
  visibility:hidden;
}
.stars {
  img {margin:0 !important;}
}
.modal-title {
  font-size:22px;
}
.modal-backdrop {
  z-index: 0 !important;
}

.fa-small {
  font-size:10px;
}

.fa-top {
  vertical-align: top;
  color: #555;
}

.cursor-pointer {
  cursor: pointer !important;
}

.notification-menu-item {
  margin-left: -16px;
  font-size: 10px !important;
  color: $green-color;
  margin-top: 9px !important;
}

.notification-to-do-item {
  font-size: 10px !important;
  color: $primary-color;
}

// CS Dashboard

.bdubs-box {
  padding:0 !important;
}

// CS Rules

.conditional-select-field,
.conditional-select-field-2
{
  display:none;
}

// Verification

.verified-title {
  padding-top:24px !important;
  font-size:16px !important;
  float:right;
  margin-right:20px !important;
}

.table-verification {
  tbody > tr > td {
    font-size:14px;
    width:50%;
  }
  tbody > tr > td:first-child{
    font-size:14px;
    text-align: right;
  }
}

// Employer Landing

.employer-brand-primary {color: $red-color !important;}
.employer-brand-secondary {color: $primary-color !important;}

.employer-hero-image {
  position:relative;
}

.transparent-box-container{
  position:relative;
}

.transparent-image-box {
  display:none;
}

.transparent-image-box{
  display:block;
  position:absolute;
  top:40%;
  left:50%;
  width:65%;
  min-height:200px;
  margin-left:-32.5%;
  margin-top:-100px;
  text-align: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  .transparent-image-box-headline {
    font-size:22px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    line-height:32px;
  }
  .transparent-box-employer-logo {
    width:40% !important;
    max-width:250px !important;
    margin-bottom:15px !important;
    margin-top:25px !important;
  }
}

.employer-name {
  @extend .employer-brand-primary;
  margin-top:25px !important;
}

.employer-logo {
  display:block;
  margin-top:40%;
  width:100% ;
  max-width:150px;
  float:right;
}

.employer-logo-playlist {
  max-width: 150px;
}


@media (min-width: 375px) {
  .employer-logo {
    margin-top:30%;
  }
}

@media (min-width: 400px) {
  .employer-logo {
    margin-top:20px;
    width:90%;
  }
}



.mobile-employer-headline {
  font-size:22px !important;
}

.employer-anchor-nav {
  list-style-type: none;
  text-align: center;
  width:100%;
  padding:0;
  margin-top:15px;
  margin-bottom:0;
  li {
    display:inline-block;
    padding-left:3%;
    padding-right:3%;
    a {
      @extend .employer-brand-secondary;
    }
  }
}

.employer-social-media {
  font-size:30px;
  padding:25px 100px 40px 100px;
  text-align: center;
  ul {
    list-style-type:none;
    li {
      display:inline-block;
      margin-right:4%;
      margin-left:4%;
      a:hover {
        i {color: #999 !important;}
      }
    }
  }
}

.employer-detail-jobs {
  .lead-new-title {
     a {@extend .employer-brand-primary}
  }
  .lead-new:hover {
    .lead-new-title {
      a {color: #555;}
    }
  }
}

.employer-intro-text {
  padding:30px 15px 0px 30px;
  p {
    font-size:18px;
    color: #555;
  }
}

p.employer-lede {
  font-size: 22px;
  margin-bottom:20px;
}

@media(min-width: $break-xs-min) {
  p.employer-lede.messaging {
    margin-top:50px;
  }
}

.employer-at-a-glance {
  font-size:20px !important;
}


.google-maps {
  position: relative;
  padding-bottom: 80% !important; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.google-maps-wrapper{
  padding:20px 15px 20px 15px;
}


@media (min-width: $break-xs-min) {
  .google-maps-wrapper{
    padding:20px 12px 20px 20px;
  }
  .google-maps {
    padding-bottom: 100%; // This is the aspect ratio
  }
}


.main-box.card.card-image {
  padding:20px;
  img {
    width:100%;
    margin:0;
  }
}

.heading-with-sub-heading {
  h1 {
    margin-bottom:0;
  }
  h2 {
    padding-top:5px !important;
    padding-bottom:8px;
    color: #777 !important;
  }
}

// Status notifications

div.messages {
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 10px;
  i {
    font-size: 16px;
    padding-right:10px;
    float:left;
  }
  p {
    float:left;
    font-size:14px;
    margin-bottom:0;
  }
}

@media (min-width: $break-xs-min) {
  div.messages {
    i {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}


div.status {
  background-image: none;
  border-color: $primary-color;
}

div.status, .ok {
  color: $primary-color;
}

div.status, table tr.ok {
  background-color: white;
}

div.warning {
  background-image: none;
  border-color: $orange-color;
}

div.warning, .warning {
  color: $orange-color;
}

div.warning, table tr.warning {
  background-color: white;
}

div.error {
  background-image: none;
  border-color: $red-color;
}

div.error, .error {
  color: $red-color;
}

div.error, table tr.error {
  background-color: white;
}

div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em;
  padding: 0;
}

div.messages ul li {
  list-style-image: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/* Peeking */

.peek {
  ul {
    margin-left:0;
    margin-bottom:0;
  }
  h5 {
    font-size:16px;
  }
  form {
    margin-top:10px;
  }
  .playlist-glance {
    h3 {
      font-size:16px;
    }
    font-size:16px;
  }
  .peek-meta-data{
    font-size:13px;
  }
  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 450px;
    overflow-y: auto;
  }
  .panel {
    box-shadow: none;
  }
  .panel-collapse {
    border:none;
  }
  .panel-group {
    margin-bottom: 0;
  }
}

.assessment-peek {
  h2 {
    color:#75D042;
    padding-left:4px;
  }
}

/* Employer Student Playlist */

.student-profile-avatar {
  margin-top:25px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 150px;
  border-radius:75px;
}

// Custom Icons

@font-face {
  font-family: "fonts/bw-custom-font";
  src:url("fonts/bw-custom-font.eot");
  src:url("fonts/bw-custom-font.eot?#iefix") format("embedded-opentype"),
  url("fonts/bw-custom-font.woff") format("woff"),
  url("fonts/bw-custom-font.ttf") format("truetype"),
  url("fonts/bw-custom-font.svg#bw-custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fonts/bw-custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fonts/bw-custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heartbrokenempty:before {
  content: "\61";
}
.icon-heartempty:before {
  content: "\62";
}
