.search-dummy-data {
  .main-box {
    zoom: 1;
	  filter: alpha(opacity=40);
    opacity: 0.4;
  }
}

.search-instructions {
  i {
    font-size:14px;
    display: inline-block;
    float:none;
    height:auto;
    width:auto;
    margin:-2px 0 0 5px;
    line-height:normal;
    color: $primary-color;
  }
}
