<div class="list-group">
    {{# list-group }}
        <a href="{{ url }} " class="list-group-item">
            <h4 class="list-group-item-heading">{{ title }}</h4>
            <p class="list-group-item-text">{{ summary }}</p>
            <p class="small">Source: {{ source }}</p>
        </a>
    {{/list-group}}
</div>