<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>{{ faq-title }}</h2>
    </header>

    <div class="main-box-body clearfix">
        <div class="panel-group accordion" id="accordion">
            {{# faq }}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ collapse }}}">
                                {{ question }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ collapse }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ answer }}
                        </div>
                    </div>
                </div>
            {{/faq}}
        </div>

    </div>
</div>