<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>{{ completeness.title }}</h2>
    </header>

    <div class="main-box-body clearfix">
        <div>
            <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Personal Motivators</li>
                <li><i class="fa fa-check"></i> Area Missions</li>
            </ul>
        </div>
        <div>
            <p>2 / 8 sections <a href="{{ link.pages-js-assessment-select }}">completed</a>.</p>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                <span class="sr-only">25% Complete</span>
            </div>
        </div>
    </div>
</div>