<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Tips</h2>
    </header>

    <div class="main-box-body clearfix">
        <ol>
            <li>The assessment is best on a desktop computer.</li>
            <li>Set aside 40 minutes to complete.</li>
            <li>If you need to scroll within the assessment, move your cursor into the frame.</li>
            <li>Progress is auto-saved at the end of each section.</li>
            <li>Starting and stopping is OK.</li>
        </ol>
    </div>
</div>