<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>{{ completeness2.title }}</h2>
    </header>

    <div class="main-box-body clearfix">
        <div>
            <p>2 / 5 Completed. <a href="#">{{ completeness2.link }}</a></p>
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">40% Complete</span>
            </div>
        </div>
    </div>
</div>