<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>{{ completeness.title }}</h2>
    </header>

    <div class="main-box-body clearfix">
        <div>
            <p>1 / 5 Completed. <a href="#">{{ completeness.link }}</a></p>
        </div>
        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
    </div>
</div>