<div class="main-box clearfix">
    <div class="main-box-header">
        <h2>JobScript Assessment</h2>
    </div>
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-md-8">
                <p>The JobScript Assessment will help provide clarity along your career journey. It will also help us match you with jobs based on your culture preferences.</p>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-js-assessment-view }}';">View JobScript Assessment (PDF)</button>
            </div>
        </div>
    </div>
</div>
<div class="main-box clearfix">
    <div class="main-box-header">
        <h2>Action Plan</h2>
    </div>
    <div class="main-box-body clearfix">
        <div class="row">
            <p>The Action Plan will help provide concrete next steps as you progress through your career journey.</p>
            <div class="col-md-8">
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-js-assessment-actionplan-view }}';">View Action Plan (PDF)</button>
            </div>
        </div>
    </div>
</div>