<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Want to find what fits you?</h2>
    </header>

    <div class="main-box-body clearfix">
        <p><a href="#">Update your profile</a> and get personalized job matches.</p>
    </div>
</div>