<div class="col-lg-10">
    <iframe src="https://docs.google.com/gview?url=https%3A//app.betterweekdays.com/sites/default/files/medical_assistant_demo_resume-indianapolis.pdf&embedded=true" style="width:100%; height:800px;" frameborder="0"></iframe>
</div>