<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Sonya Frost</h2>
    </header>
    <div class="main-box-body clearfix">
        <div class="profile-details pull-left">
            <ul class="fa-ul">
                <li><i class="fa-li"></i>Email: <a href="#">sonya.frost@gmail.com</a></li>
                <li><i class="fa-li"></i>Degree/Program: <strong>Medical Assistant</strong></li>
                <li><i class="fa-li"></i>Phone: <strong>(312) 999-9999</strong></li>
            </ul>
        </div>
        <div class="profile-details pull-left">
            <ul class="fa-ul">
                <li><i class="fa-li"></i>Job Area: <strong>Medical / Health</strong></li>
                <li><i class="fa-li"></i>Location: <strong>St. Louis, MO</strong></li>
                <li><i class="fa-li"></i>Experience: <strong>None</strong></li>
            </ul>
        </div>
        <div class="profile-details pull-left">
            <ul class="fa-ul">
                <li><i class="fa-li"></i>Resume: <a href="#">Download</a></li>
                <li><i class="fa-li"></i>Job Matches: 15</li>
            </ul>
        </div>
    </div>
</div>