<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-bar-chart-o fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Set Password</h2>
            <p>5/30/2015, 7:00pm</p>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-graduation-cap fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Set Job Preferences</h2>
            <p>5/30/2015, 7:03pm</p>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-graduation-cap fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Uploaded Resume</h2>
            <p>5/30/2015, 7:04pm</p>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-money fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Has Job Matches</h2>
            <p>15 matches</p>
            <p>5/30/2015, 7:05pm</p>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-money fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Viewed Job</h2>
            <p>Medical Assistant at Washington University in St. Louis Hospital</p>
            <p>5/30/2015, 8:23pm</p>
            <div class="clearfix">
                <a href="{{ link.pages-j-posting }}" class="btn btn-primary pull-right">View Job</a>
            </div>
        </div>
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <i class="fa fa-money fa-2x"></i>
        </div>
        <div class="cd-timeline-content">
            <h2>Applied to Job</h2>
            <p>Medical Assistant at Washington University in St. Louis Hospital</p>
            <p>5/30/2015, 8:27pm</p>
            <div class="clearfix">
                <a href="{{ link.pages-j-posting }}" class="btn btn-primary pull-right">View Job</a>
            </div>
        </div>
    </div>
</section>