<div class="main-box clearfix">
    <div class="main-box-body clearfix bdubs-box">
        <div class="conversation-wrapper">
            <div class="conversation-content">
                <div class="conversation-inner">

                    {{#bdubs-journey-pts}}
                    <div>
                        <p>Your Journey Points: {{bdubs-journey-pts}}</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{bdubs-journey-pts}}" aria-valuemin="0" aria-valuemax="100" style="width: {{bdubs-journey-pts}}%;">
                        </div>
                    </div>
                    {{/bdubs-journey-pts}}

                    <div class="conversation-item item-left clearfix">
                        <div class="conversation-user">
                            <img src="../../img/robot50x50.png" alt=""/>
                        </div>
                        <div class="conversation-body">
                            <div class="name">
                                BDubs Bot
                            </div>
                            <div class="headline text">
                                {{# bdubs-text1}}
                                    <p>{{ bdubs-text1 }}</p>
                                {{/bdubs-text1}}

                                {{# bdubs-text2}}
                                    <p>{{ bdubs-text2 }}</p>
                                {{/bdubs-text2}}

                                {{# bdubs-text3}}
                                    <p>{{ bdubs-text3 }}</p>
                                {{/bdubs-text3}}
                            </div>
                        </div>
                    </div>

                    {{# bdubs-name-center}}{{>molecules-name-center}}{{/bdubs-name-center}}

                    {{# bdubs-degreeprogram}}
                        <div class="row text-center">
                            <form role="form" class="form-inline giant" action="#">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="1" selected="selected">Accounting</option>
                                        <option value="2">Biology</option>
                                        <option value="3">Business Administration</option>
                                        <option value="4">Elementary Education</option>
                                        <option value="5">Finance</option>
                                        <option value="6">Medical Assisting</option>
                                    </select>
                                    <select class="form-control">
                                        <option value="1" selected="selected">Anywhere</option>
                                        <option value="2">Chicago, IL</option>
                                        <option value="2">Kansas City, MO</option>
                                        <option value="2">Miama, FL</option>
                                        <option value="2">New York, NY</option>
                                        <option value="3">St. Louis, MO</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-jsj-intro-journey3 }}';">Send</button>
                            </form>
                            <div class="row small">
                                <p>(Don't worry. You can change this later!)</p>
                            </div>
                        </div>
                    {{/bdubs-degreeprogram}}

                    {{# bdubs-jobs-now}}
                        <form role="form" class="form-inline giant text-center" action="#">
                            <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-jsj-intro-journey3 }}';">Not yet. Tell me more.</button>
                            <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-jsj-jobs-journey }}';">Yes</button>
                        </form>
                    {{/bdubs-jobs-now}}

                </div>
            </div>
        </div>
    </div>
</div>