{{# blank-state}}
<div class="main-box clearfix {{blank-state.class}}">
    <header class="main-box-header clearfix">
        <h2>{{blank-state.title}}</h2>
    </header>
    <div class="main-box-body clearfix">
        {{#blank-state.icon}}<i class="fa {{blank-state.icon}} giant"></i>{{/blank-state.icon}}
        <p class="headline">{{blank-state.message1}}</p>
        {{#blank-state.message2}}<p class="headline">{{blank-state.message2}}</p>{{/blank-state.message2}}
        {{#blank-state.message3}}<p class="headline">{{blank-state.message3}}</p>{{/blank-state.message3}}
        {{#blank-state.message4}}<p class="headline">{{blank-state.message4}}</p>{{/blank-state.message4}}
    </div>
</div>
{{/blank-state}}