<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>What Should I Do Next?</h2>
    </header>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-10">Review <a href="{{ link.pages-cs-student-profile }}">Jane Frost's resume</a></div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-10">Respond to question from <a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a></div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-10">Invite <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a> to practice interviewing</div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-10">Send report to provost.</div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <!--<li class="list-group-item">-->
                <!--<a href="#">Add new to-do</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>