<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>What Should I Do Next?</h2>
    </header>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Now</strong>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-8">View at least 5 jobs in <a href="{{ link.pages-jsj-jobs-journey }}">playlist view</a></div>
                <div class="col-sm-1 col-xs-2 text-right"></div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-8">Did you actually apply to the Medical Assistant job at Veterans Hospital?</div>
                <div class="col-sm-1 col-xs-2 text-right">
                    <button class="btn btn-danger" title="Nope">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-8">Send thank-you note to Veterans Hospital for interview&nbsp;(<a data-original-title="Default tooltip" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</div>
                <div class="col-sm-1 col-xs-2 text-right">
                    <button class="btn btn-info" title="Add calendar reminder">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>

            <li class="list-group-item">
                <strong>Next Week</strong>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-8">Log back in and check for new matches&nbsp;(<a data-original-title="Default tooltip" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</div>
                <div class="col-sm-1 col-xs-2 text-right">
                    <button class="btn btn-info" title="Add calendar reminder">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-sm-10 col-xs-8">Research salary of position&nbsp;(<a data-original-title="Default tooltip" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</div>
                <div class="col-sm-1 col-xs-2 text-right">
                    <button class="btn btn-info" title="Add calendar reminder">
                        <i class="fa fa-calendar"></i>
                    </button>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-success" title="Done!">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
</div>