<div class="main-box bw-stats">
    <div class="main-box-header">
        <h2>Better Weekdays Stats</h2>
    </div>
    <div class="main-box-body">
        <p>Jobs Available: <strong>827,459</strong></p>
        <p>Jobs Added Yesterday: <strong>7,301</p>
        <p>Companies: <strong>81,305</strong></p>
    </div>
</div>