<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>Choose Your Better Weekday</h2>
    </header>
    <div class="main-box-body clearfix">
        <h4><strong><i class="fa fa-rocket"></i>&nbsp;&nbsp;Jobs</strong></h4>
        <p class="col-xs-offset-1 headline">Quickly view jobs with or without a resume.</p>
        <p class="col-xs-offset-1 headline">Discover new careers at established companies automatically refreshed daily.</p>
        <h4><strong><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;Assessment</strong></h4>
        <p class="col-xs-offset-1 headline">Gain scientific insight into your leadership potential.</p>
        <p class="col-xs-offset-1 headline">Takes about 30 minutes.</p>
        <h4><strong><i class="fa fa-star"></i>&nbsp;&nbsp;Guarantees</strong></h4>
        <p class="col-xs-offset-1 headline">Coming soon...</p>
    </div>
</div>