<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>Help create a Better Weekday</h2>
    </header>
    <div class="main-box-body clearfix">
        <h4><strong><i class="fa fa-rocket"></i>&nbsp;&nbsp;Lookers</strong></h4>
        <p class="col-xs-offset-1 headline">They've just started their journey and have only saved a profile or viewed a job.</p>
        <h4><strong><i class="fa fa-money"></i>&nbsp;&nbsp;Engagers</strong></h4>
        <p class="col-xs-offset-1 headline">These job seekers have uploaded a resume, engaged with jobs, and possibly ready to apply.</p>
        <h4><strong><i class="fa fa-star"></i>&nbsp;&nbsp;All-Stars</strong></h4>
        <p class="col-xs-offset-1 headline">This group has done all the above, completed recommended tasks, and shown interest in many jobs.</p>
    </div>
</div>