<div class="main-box clearfix">
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" method="post" id="bw-job-playlist-filter-form" accept-charset="UTF-8">
                    <div>
                        <div class="form-group margin-top-20" id="playlists">
                            <div class="form-item form-type-select form-item-location">
                                <select class="form-control" id="playlists">
                                    <option value="alljobs" data-custom="Nam odio metus, euismod nec. Pellentesque maximus diam ut euismod.">All Students</option>
                                    <option value="personalized" data-custom="Nullam tincidunt pretium massa, sed. Donec ullamcorper nisl tellus, et.">Recommended Students</option>
                                </select>
                                <br />
                                <p id="dropdowndesc" class="text-center">Browse all students filtered by your preferences.</p>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group" id="jobarea">
                            <div class="form-item form-type-select form-item-degreeprogram">
                                <label for="edit-degreeprogram">Degree/Program</label>
                                <select class="form-control">
                                    <option value="">- Select -</option>
                                    <option value="Healthcare Administration">Healthcare Administration</option>
                                    <option value="Medical Assisting">Medical Assisting</option>
                                    <option value="Nursing">Nursing</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="gpa">
                            <div class="form-item input-group">
                                <label for="gpa">Minimum GPA</label>
                                <input id="gpa" type="text" placeholder="3.0">
                            </div>
                        </div>
                        <div class="form-group no-margin-bottom">
                            <a href="{{ link.pages-e-student-playlist-searched }}">
                                <input class="btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Search">
                            </a>
                        </div>
                        <hr />
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Advanced Options
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="form-group margin-top-10" id="school">
                                <div class="form-item form-type-select form-item-school">
                                    <label for="edit-school">School</label>
                                    <select class="form-control">
                                        <option value="">All</option>
                                        <option value="Better Weekdays University">Better Weekdays University</option>
                                        <option value="BWD">BWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="location">
                                <div class="form-item form-type-select form-item-location">
                                    <label for="edit-location">Preferred Location</label>
                                    <select class="form-control">
                                        <option value="">- Select -</option>
                                        <option value="St. Louis">St. Louis, MO</option>
                                        <option value="Chicago">Chicago, IL</option>
                                        <option value="Indianapolis">Indianapolis, IN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group checkbox-nice">
                                <div class="form-item form-type-checkbox form-item-internship">
                                    <input type="checkbox" id="edit-internship" name="internship" class="form-checkbox">
                                    <label class="option" for="edit-internship">Seeking internships only </label>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group checkbox-nice">
                                <div class="form-item form-type-checkbox form-item-internship">
                                    <input type="checkbox" id="edit-resume" name="resume" class="form-checkbox">
                                    <label class="option" for="edit-resume">Must have resume</label>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group checkbox-nice">
                                <div class="form-item form-type-checkbox form-item-internship">
                                    <input type="checkbox" id="edit-favorite" name="favorite" class="form-checkbox">
                                    <label class="option" for="edit-favorite">Must have favorited my company</label>
                                </div>
                            </div>
                            <div class="form-group no-margin-bottom">
                                <a href="{{ link.pages-e-student-playlist-searched }}">
                                <input class="btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Advanced Search">
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>