<div class="main-box clearfix">
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" method="post" id="bw-job-playlist-filter-form" accept-charset="UTF-8">
                    <div>
                        <div class="form-group margin-top-20" id="playlists">
                            <div class="form-item form-type-select form-item-location">
                                <!--<select class="form-control" id="playlists">
                                    <option value="alljobs" data-custom="Browse all the jobs with whatever filters you want">All Jobs</option>
                                    <option value="degreeprogram" data-custom="We find jobs commonly related to the industry of your degree/program">Degree/Program Jobs</option>
                                    <option value="personalized" data-custom="We read and parse your resume to find personalized jobs">Personalized Jobs</option>
                                    <option value="playlist123" data-custom="Get your feet wet at the #1 store in the world!">Internships at Amazon.com</option>
                                    <option value="playlist567" data-custom="See who is hiring over the holidays">'Home for the Holidays' Jobs</option>
                                    <option value="playlist890" data-custom="Love to travel? These jobs are for you.">Jetsetter Jobs</option>
                                </select>-->
                              <div class="col-md-4">
                                <p><input type="radio" name="search" checked data-custom="We find jobs commonly related to the industry of your degree/program"value="alljobs"> Suggest For Me</p>
                              </div>
                              <div class="col-md-4">
                                <p><input type="radio" name="search" data-custom="Browse all the jobs with whatever filters you want" value="suggest"> Search by Keywords</p>
                              </div>
                              <div class="col-md-4">
                                <p><input type="radio" name="search" value="playlist123"> Internships at Amazon.com</p>
                              </div>

                              <br />
                              <p id="dropdowndesc" class="text-center">Browse all the jobs with whatever filters you want</p>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group" id="location">
                            <div class="form-item form-type-select form-item-location">
                                <label for="edit-location">I want to work near </label>
                                <select class="form-control">
                                    <option value="">- Select -</option>
                                    <option value="St. Louis">St. Louis, MO</option>
                                    <option value="Chicago">Chicago, IL</option>
                                    <option value="Indianapolis">Indianapolis, IN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="jobarea">
                            <div class="form-item form-type-select form-item-jobarea">
                                <label for="edit-jobarea">I'm interested in </label>
                                <select class="form-control">
                                    <option value="">- Select -</option>
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="Healthcare Other">Healthcare Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group checkbox-nice">
                            <div class="form-item form-type-checkbox form-item-internship">
                                <input type="checkbox" id="edit-internship" name="internship" value="1" class="form-checkbox">
                                <label class="option" for="edit-internship">Internships ONLY </label>
                            </div>
                        </div>
                        <div class="form-group no-margin-bottom">
                            <input class="btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Let's Go">
                        </div>
                        <input type="hidden" name="form_build_id" value="form-Cgp0z1h55BabTiWbbraSWpvvPdrZ1azuJmUjVC0Hwt4">
                        <input type="hidden" name="form_token" value="cER2i429OxduwXffvBUe6uBi7eI7KXvyTPuh6LTSgvU">
                        <input type="hidden" name="form_id" value="bw_job_playlist_filter_form">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
