<div class="main-box clearfix">
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" method="post" accept-charset="UTF-8" class="form-inline">
                    <div>
                        <div class="col-lg-12">
                            <div class="form-group" id="jobarea">
                                <div class="form-item form-item-degreeprogram">
                                    <label for="edit-degreeprogram">Degree/Program</label>
                                    <input id="edit-degreeprogram" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" id="gpa">
                                <div class="form-item">
                                    <label for="gpa">Minimum GPA</label>
                                    <input id="gpa" type="text" placeholder="3.0" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="{{ link.pages-e-student-playlist-searched }}">
                                    <input class="btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Search">
                                </a>
                            </div>
                        </div>
                        <hr />
                        <div class="col-lg-12">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Advanced Options
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="form-group margin-top-10" id="school">
                                    <div class="form-item form-type-select form-item-school">
                                        <label for="edit-school">School</label>
                                        <select class="form-control">
                                            <option value="">All</option>
                                            <option value="Better Weekdays University">Better Weekdays University</option>
                                            <option value="BWD">BWD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="location">
                                    <div class="form-item form-type-select form-item-location">
                                        <label for="edit-location">Preferred Location</label>
                                        <select class="form-control">
                                            <option value="">- Select -</option>
                                            <option value="St. Louis">St. Louis, MO</option>
                                            <option value="Chicago">Chicago, IL</option>
                                            <option value="Indianapolis">Indianapolis, IN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group checkbox-nice">
                                    <div class="form-item form-type-checkbox form-item-internship">
                                        <input type="checkbox" id="edit-internship" name="internship" class="form-checkbox">
                                        <label class="option" for="edit-internship">Seeking internships only </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group checkbox-nice">
                                    <div class="form-item form-type-checkbox form-item-internship">
                                        <input type="checkbox" id="edit-resume" name="resume" class="form-checkbox">
                                        <label class="option" for="edit-resume">Must have resume</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group checkbox-nice">
                                    <div class="form-item form-type-checkbox form-item-internship">
                                        <input type="checkbox" id="edit-favorite" name="favorite" class="form-checkbox">
                                        <label class="option" for="edit-favorite">Must have favorited my company</label>
                                    </div>
                                </div>
                                <div class="form-group no-margin-bottom">
                                    <a href="{{ link.pages-e-student-playlist-searched }}">
                                    <input class="btn btn-success form-submit" type="submit" id="edit-submit" name="op" value="Advanced Search">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>