<div class="main-box-body clearfix">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="col-xs-3">
                1 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Viewed Job - <a href="{{ link.pages-cs-job-posting }}">Awesome Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - <span class="fa fa-thumbs-up"> Me</span> - <a href="{{ link.pages-cs-job-posting }}">Awesome Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - <span class="fa fa-thumbs-down"> Not Me</span> - <a href="{{ link.pages-cs-job-posting }}">Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                2 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                2 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Medical Assistant II</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                2 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a> - Previewed Job - <a href="{{ link.pages-cs-job-posting }}">Certified Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                5 min ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Johnetta Fire</a> - Done - View at least 5 jobs in playlist view</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                6 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Done - Ask 10 people about their job</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                8 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Done - Research other possible locations</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                9 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Not Done - Research salary of position</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                15 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Set Password</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                15 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Jane Frost</a> - Login</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <a href="{{  link.pages-cs-student-activity }}">View All Activity</a>
        </li>
    </ul>
</div>
