<div class="main-box-body clearfix">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="col-xs-3">
                1 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Joshua Thomas</a> from <a href="{{ link.pages-cs-employer-profile }}">Monsanto</a> posted Project Engineer position in St. Louis, MO</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                2 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Kelly Green</a> from <a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> viewed <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                5 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Jennifer Jones</a> from <a href="{{ link.pages-cs-employer-profile }}">Monsanto</a> viewed Sonya Frost profile</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                7 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Belinda Miller</a> from <a href="{{ link.pages-cs-employer-profile }}">Rush Hospital</a> viewed <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                10 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Judy Janson</a> from <a href="{{ link.pages-cs-employer-profile }}">Seton Healthcare</a> wants to interview <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                15 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Christopher Williams</a> from <a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> messaged <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                16 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Andi Anderson</a> from <a href="{{ link.pages-cs-employer-profile }}">Carousel Pediatrics</a> had updated their company profile</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                21 min ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Bill Thompson</a> from <a href="{{ link.pages-cs-employer-profile }}">Life Line Screening</a> - Done - Are you attending the Career Fair? - Response: Yes</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 day ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Janis Smith</a> from <a href="{{ link.pages-cs-employer-profile }}">Veterans Health Administration</a> messaged <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 day ago
            </div>
            <div class="col-xs-9"><a data-toggle="modal" data-target="#peek-employer-modal" class="cursor-pointer">Javier Los Santos</a> from <a href="{{ link.pages-cs-employer-profile }}">Rush Hospital</a> viewed <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <a href="{{ link.pages-cs-employer-activity }}">View All Activity</a>
        </li>
    </ul>
</div>
