<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>My Recent Activity</h2>
    </header>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-xs-3">
                    1 min ago
                </div>
                <div class="col-xs-9">Viewed Job - <a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    1 min ago
                </div>
                <div class="col-xs-9"><span class="fa fa-thumbs-up"> Me</span> - <a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    1 min ago
                </div>
                <div class="col-xs-9"><span class="fa fa-thumbs-down"> Not Me</span> - <a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    2 min ago
                </div>
                <div class="col-xs-9">Previewed Job - <a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    2 min ago
                </div>
                <div class="col-xs-9">Previewed Job - <a href="{{ link.pages-j-posting }}">Medical Assistant II</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    2 min ago
                </div>
                <div class="col-xs-9">Previewed Job - <a href="{{ link.pages-j-posting }}">Certified Medical Assistant</a></div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    5 min ago
                </div>
                <div class="col-xs-9">Done - View at least 5 jobs in playlist view</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    6 days ago
                </div>
                <div class="col-xs-9">Done - Ask 10 people about their job</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    8 days ago
                </div>
                <div class="col-xs-9">Done - Research other possible locations</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    9 days ago
                </div>
                <div class="col-xs-9">Not Done - Research salary of position</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    15 days ago
                </div>
                <div class="col-xs-9">Set Password</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <div class="col-xs-3">
                    15 days ago
                </div>
                <div class="col-xs-9">Login</div>
                <div class="clear"></div>
            </li>
            <li class="list-group-item">
                <a href="{{ link.pages-js-activity }}">View All Activity</a>
            </li>
        </ul>
    </div>
</div>