<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>Articles</h2>
    </header>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ link.pages-js-advice-single }}">Learn to Interview</a>
            </li>
            <li class="list-group-item">
                <a href="{{ link.pages-js-advice-single }}">Preparing for the Job Search</a>
            </li>
            <li class="list-group-item">
                <a href="{{ link.pages-js-advice-single }}">Writing Cover Letters</a>
            </li>
            <li class="list-group-item">
                <a href="{{ link.pages-js-advice-single }}">Writing a Resume</a>
            </li>
        </ul>
    </div>
</div>