<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>Videos</h2>
    </header>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/I2IDGXX5-YY?list=PLus_JeguJ_BnMA_F0mzDlshePPHWHplK8" frameborder="0" allowfullscreen></iframe>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/qSylCmes5dw?list=PLus_JeguJ_BnRDA75qSMnUFq_Aozfe6u5" frameborder="0" allowfullscreen></iframe>
                </div>
            </li>
        </ul>
    </div>
</div>