<div class="row">
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2>Previewed Jobs</h2>
                        <div class="graph" id="graph-line-1">
                            <div class="morris-hover morris-default-style" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2 class="orange">Viewed Jobs</h2>
                        <div class="graph" id="graph-line-2" style="max-height: 335px; position: relative;">
                            <div class="morris-hover morris-default-style" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2 class="red">Interactions Completed</h2>
                        <div class="graph" id="graph-line-3" style="max-height: 335px; position: relative;">
                            <div class="morris-hover morris-default-style" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2 class="purple">Interested In Applied</h2>
                        <div class="graph" id="graph-line-4" style="max-height: 335px; position: relative;">
                            <div class="morris-hover morris-default-style" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>