<div class="row">
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2>Job Previews</h2>
                        <div class="graph" id="graph-line-1" style="max-height: 335px; position: relative;">
                            <div class="morris-hover morris-default-style" style="left: 82.97222222222223px; top: 100px; display: none;">
                                <div class="morris-hover-row-label">2014-01-02</div>
                                <div class="morris-hover-point" style="color: #ffffff">iPhone: 9,778</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="graph-box">
                        <h2 class="orange">Job Views</h2>
                        <div class="graph" id="graph-line-2" style="max-height: 335px; position: relative;">
                            <div class="morris-hover morris-default-style" style="left: 82.97222222222223px; top: 100px; display: none;">
                                <div class="morris-hover-row-label">2014-01-02</div>
                                <div class="morris-hover-point" style="color: #ffffff">iPhone: 9,778</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>