<div class="main-box-body clearfix">
    <ul class="list-group to-do-list-checkbox-nice to-dos">
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-thumb-tack"></i> What Should I Do Next?</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1">
                    <span class="to-do-title">Set your <a href="/profile">hiring preferences</a>.</span>
                  <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
                <div class="checkbox-nice">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">
                        <span class="to-do-title">Review <a href="/company">your company profile</a>.</span>
                        <p class="time-estimate">10min to use Better Weekdays</p>
                    </label>
                </div>
            </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
                <div class="checkbox-nice">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">
                        <span class="to-do-title">Send a message to encourage <a href="#">Sophia Frost</a> to view your posted project</span>
                        <p class="time-estimate">10min to use Better Weekdays</p>
                    </label>
                </div>
            </div>

            <div class="clear"></div>
        </li>
    </ul>
</div>
