<div class="main-box-body clearfix">
    <ul class="list-group to-do-list-checkbox-nice to-dos">
        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-users"></i> Students</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1">
                  <span class="to-do-title">Review <a href="{{ link.pages-cs-student-profile }}">Jane Frost's resume</a></span>
                  <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-2">
                <label for="checkbox-2">
                  <span class="to-do-title">Respond to <a href="{{ link.pages-cs-student-profile }}">John Smith's</a> message</span>
                    <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-thumb-tack"></i> Getting Started</strong>
        </li>

        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-3">
                <label for="checkbox-3">
                  <span class="to-do-title">Contact at least 5 students</span>
                  <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
            </div>
          </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-life-saver"></i> Career Services</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-6">
                <label for="checkbox-6">
                  <span class="to-do-title">Respond to pending messages</span>
                    <p class="time-estimate">20min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-7">
                <label for="checkbox-7">
                  <span class="to-do-title">Review applicants</span>
                    <p class="time-estimate">60min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-rocket"></i> Jobs</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-6">
                <label for="checkbox-6">
                  <span class="to-do-title">Add salary information for <a href="{{ link.pages-j-posting }}">Medical Assistant</a></span>
                    <p class="time-estimate">5min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-7">
                <label for="checkbox-7">
                  <span class="to-do-title">Post 5 jobs</span>
                    <p class="time-estimate">60min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
