<div class="main-box-body clearfix">
    <ul class="list-group to-do-list-checkbox-nice to-dos">
        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-life-saver"></i> Career Services</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1">
                  <span class="to-do-title">Invite 50 more students.</span>
                  <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-2">
                <label for="checkbox-2">
                  <span class="to-do-title">Send report to provost.</span>
                    <p class="time-estimate">30min to Word Processing</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item to-do-item-title">
          <strong><i class="fa fa-users"></i> Students</strong>
        </li>

        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-3">
                <label for="checkbox-3">
                  <span class="to-do-title">Review <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Jane Frost's resume</a></span>
                  <p class="time-estimate">5min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-4">
                <label for="checkbox-4">
                  <span class="to-do-title">Respond to question from <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Amy Awesome</a> </span>
                    <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-5">
                <label for="checkbox-5">
                  <span class="to-do-title">Invite <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Bobby Jobs</a> to practice interviewing</span>
                    <p class="time-estimate">2min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-building-o"></i> Employers</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-6">
                <label for="checkbox-6">
                  <span class="to-do-title">Contact <a href="#">Prospective Employer</a> to discuss <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Amy Awesome</a></span>
                    <p class="time-estimate">5min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-7">
                <label for="checkbox-7">
                  <span class="to-do-title">Review <a data-toggle="modal" data-target="#peek-job-modal" class="cursor-pointer">Medical Assistant</a> position posted by <a href="#">Rush Hospital</a></span>
                    <p class="time-estimate">15min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
