<div class="main-box-body clearfix">
  <ul class="list-group to-do-list-checkbox-nice to-dos">
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-thumb-tack"></i> Getting Started</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1">
                  <span class="to-do-title">View at least 5 jobs in <a href="{{ link.pages-jsj-jobs-journey }}">playlist view</a></span>
                  <p class="time-estimate">5min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-2">
                <label for="checkbox-2">
                  <span class="to-do-title">Log back in and check for new matches&nbsp;</span>(<a data-original-title="We pull in new jobs daily. You may have new matches!" href="#" data-toggle="tooltip" title="" class="small">why?</a>)
                    <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-3">
                <label for="checkbox-3">
                  <span class="to-do-title">Research salary of position&nbsp;</span>(<a data-original-title="To prepare for the salary negotiation if you get there!" href="#" data-toggle="tooltip" title="" class="small">why?</a>)
                <p class="time-estimate">10min to Research</p></div>
                </label>
              </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-life-saver"></i> Career Services</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-4">
                <label for="checkbox-4">
                  <span class="to-do-title">Schedule Resume Review</span>
                <p class="time-estimate">5min to Plan</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-5" >
                <label for="checkbox-5">
                  <span class="to-do-title">Schedule Interview Practice Session</span>
                <p class="time-estimate">5min to Plan</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-rocket"></i> Jobs</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-10 col-xs-8 to-do-title"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="col-sm-1 col-xs-2 text-right"></div>
            <div class="col-sm-1 col-xs-2">
                <button class="btn btn-default" title="Nope" >
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-6" >
                <label for="checkbox-6">
                  <span class="to-do-title">Submit Application</span>
                <p class="time-estimate">60min to write application</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-7" >
                <label for="checkbox-7">
                  <span class="to-do-title">Send Thank-You Note</span>
                <p class="time-estimate">30min to write thank-you note</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item">
            <div class="col-sm-10 col-xs-8 to-do-title"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Northwestern)</span></div>
            <div class="col-sm-1 col-xs-2 text-right"></div>
            <div class="col-sm-1 col-xs-2">
                <button class="btn btn-default" title="Nope" >
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-8" >
                <label for="checkbox-8">
                  <span class="to-do-title">Submit Application</span>
                <p class="time-estimate">60min to write application</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-9" >
                <label for="checkbox-9">
                  <span class="to-do-title">Send Thank-You Note</span>
                <p class="time-estimate">30min to write thank-you note</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
