<div class="main-box-body clearfix">
    <ul class="list-group to-do-list-checkbox-nice to-dos">
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-thumb-tack"></i> Getting Started</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
            <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1">
                  <span class="to-do-title">View at least 5 jobs in <a href="{{ link.pages-jsj-jobs-journey }}">playlist view</a></span>
                  <p class="time-estimate">5min to use Better Weekdays</p>
                </label>
            </div>
          </div>

            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-2">
                <label for="checkbox-2">
                  <span class="to-do-title">Log back in and check for new matches&nbsp;(<a data-original-title="We pull in new jobs daily. You may have new matches!" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</span>
                    <p class="time-estimate">10min to use Better Weekdays</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
          <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-3">
                <label for="checkbox-3">
                  <span class="to-do-title">Research salary of position&nbsp;(<a data-original-title="To prepare for the salary negotiation if you get there!" href="#" data-toggle="tooltip" title="" class="small">why?</a>)</span>
                <p class="time-estimate">10min to Research</p></div>
                </label>
              </div>
            <div class="clear"></div>
        </li>

        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-life-saver"></i> Career Services</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-4">
                <label for="checkbox-4">
                  <span class="to-do-title">Schedule Resume Review</span>
                <p class="time-estimate">5min to Plan</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-12">
              <div class="checkbox-nice">
                <input type="checkbox" id="checkbox-5" >
                <label for="checkbox-5">
                  <span class="to-do-title">Schedule Interview Practice Session</span>
                <p class="time-estimate">5min to Plan</p>
                </label>
              </div>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-heart"></i> Favorites</strong>
        </li>
        <li class="list-group-item">
            <div class="col-sm-9 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="col-sm-1 col-xs-2"></div>
            <div class="col-sm-2 col-xs-2 text-right">
                <a href="{{ link.pages-js-favorites }}">5 To-Dos</a>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-9 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Phlebotomist</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="col-sm-1 col-xs-2"></div>
            <div class="col-sm-2 col-xs-2 text-right">
                <a href="{{ link.pages-js-favorites }}">1 To-Do</a>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-9 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Northwestern)</span></div>
            <div class="col-sm-1 col-xs-2"></div>
            <div class="col-sm-2 col-xs-2 text-right">
                <a href="{{ link.pages-js-favorites }}">Done</a>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-9 col-xs-8"><a href="{{ link.pages-j-posting }}"><strong>Phlebotomist</strong></a> <span class="small">(Chicago, IL - Northwestern)</span></div>
            <div class="col-sm-1 col-xs-2"></div>
            <div class="col-sm-2 col-xs-2 text-right">
                <a href="{{ link.pages-js-favorites }}">3 To-Dos</a>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
