<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#jump-to-profile-modal">
    Jump to Profile <span class="fa fa-user"></span>
</button>
