<div class="main-box-body clearfix">
    <ul class="list-group to-dos">
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-thumb-tack"></i> Manually Added</strong>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 day ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-e-job-posting }}">Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                2 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-e-job-posting }}">Awesome Medical Assistant</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item to-do-item-title">
            <strong><i class="fa fa-star"></i> BW Feed</strong>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                1 day ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-e-job-posting }}">Medical Assistant I</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                6 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-e-job-posting }}">Medical Assistant II</a></div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
