<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#invite-user-modal">
    Invite User <span class="fa fa-external-link"></span>
</button>
