<!-- Modal -->
<div class="modal fade" id="invite-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Invite User</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="invite-link" class="control-label">Link:</label>
                        <input id="invite-link" type="text" class="form-control" id="url" value="http://app.betterweekdays.com/org/awesome/register">
                    </div>
                    <div class="form-group">
                        <label for="invite-email" class="control-label">Email:</label>
                        <input id="invite-email" class="form-control" placeholder="jobseeker@gmail.com">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-dashboard }}';">Invite</button>
            </div>
        </div>
    </div>
</div>