<!-- Modal -->
<div class="modal fade" id="create-to-do-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New To-Do</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">To:</label>
                        <input id="recipient-name" class="form-control" placeholder="Name or Email" type="text" >
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Type:</label>
                        <select class="form-control">
                            <option></option>
                            <option>Getting Started</option>
                            <option>Career Services</option>
                            <option>Job: Medical Assistant - Chicago, IL</option>
                            <option>Job: Medical Assistant - Columbus, Ohio</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="to-do-title" class="control-label">Title:</label>
                        <input id="to-do-title" class="form-control" placeholder="" type="text" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-dashboard }}';">Go</button>
            </div>
        </div>
    </div>
</div>
