<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-to-do-student-modal">
    New To-Do <span class="fa fa-plus"></span>
</button>