<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg hidden-sm" data-toggle="modal" data-target="#new-message-modal">
    Send Message <span class="fa fa-send"></span>
</button>