<!-- Modal -->
<div class="modal fade" id="new-message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">To:</label>
                        <input id="recipient-name" class="form-control" placeholder="Name" type="text" >
                    </div>
                  <div class="form-group clearfix">
                    <p>Kickstart:</p>
                    <div class="col-md-4">
                      <p><a href="#">Say hello and send encouragement</a></p>
                    </div>
                    <div class="col-md-4">
                      <p><a href="#">Ask questions about interests</a></p>
                    </div>
                    <div class="col-md-4">
                      <p><a href="#">Recommend an article</a></p>
                    </div>
                  </div>
                    <div class="form-group">
                        <label for="comment">Message:</label>
                        <textarea class="form-control" placeholder="Message" rows="5" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info">Send</button>
            </div>
        </div>
    </div>
</div>
