<div class="pull-right">
    <span class="badge badge-primary">email</span>
    <span class="badge badge-success">received</span>
    <span class="badge">not viewed</span>
</div>

<p>12/03/2015<br />From: John Smith</p>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

<hr />

<div class="pull-right">
    <span class="badge badge-primary">email</span>
    <span class="badge badge-success">sent</span>
</div>

<p>12/03/2015<br />From: John Smith</p>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

<hr />

<div class="pull-right">
    <span class="badge badge-primary">email</span>
    <span class="badge badge-success">sent</span>
</div>

<p>12/03/2015<br />From: John Smith</p>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>




