
<p><strong class="gray-color">Jade McNear</strong> sent message to <strong class="gray-color">Sonya Frost</strong></p>
<blockquote class="quote">Hi Sonya! Phasellus nulla nibh, placerat semper. <a href="{{ link.pages-e-job-posting }}">Medical Assistant</a>. Aenean fermentum condimentum tempus. Donec. Phasellus facilisis ut metus vel.</blockquote>
<p class="message-date">12/07/2015 - Sent; Not Viewed</p>

<hr />

<p><strong class="gray-color">John Smith</strong> sent message to <strong class="gray-color">Sonya Frost</strong></p>
<blockquote class="quote">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</blockquote>

<p class="message-date">12/03/2015 - Viewed</p>

<hr />
