<p><strong class="gray-color">Kunal Parbadia</strong> noted:</p>
<p>I'd want to talk to her one more time before I make a decision.</p>
<p class="message-date">12/08/2015 - 3:30pm</p>

<hr />

<p><strong class="gray-color">Jade McNear</strong> <strong>shared</strong> with Kunal Parbadia.</p>
<p class="message-date">12/08/2015 - 8:30am</p>

<hr />

<p><strong class="gray-color">Jade McNear</strong> <strong class="text-primary">favorited</strong> for <a href="{{ link.pages-e-job-posting }}">Medical Assistant</a> and noted:</p>
<p>Great meeting her in person. Really liked her enthusiasm! I'm going to encourage her to apply to our position.</p>
<p class="message-date">12/07/2015 - 3:30pm</p>

<hr />

<p><strong class="gray-color">Chris Motley</strong> <strong class="text-danger">passed</strong> and noted:</p>
<p>Great enthusiasm, but doesn't have a lot of experience.</p>
<p class="message-date">12/07/2015 - 1:30pm</p>

<hr />