<div id="my_chart"></div>
<script type="application/javascript">
    var client = new Keen({
        projectId: "5596ea26672e6c2eb846b682",
        readKey: "1a072662bdeff8ff84672430b306d2aae22363f7bba6c8021b71548260adb82eab584fa5db7a72bb76a9a91e1f7af2752dac5bb54c837a3bc0da3e1832638796bcbc39ea9d3341961162b08339c3043231783893681041eab5c53d221ee65dee624561fe20ed975249e4db4d62cafffb"

    });

    Keen.ready(function(){

        var interval = "daily";
        var timeframe = "this_21_days";
        var timezone = "UTC";

        var previews = new Keen.Query("count", {
            eventCollection: "playlist",
            filters: [
                {
                    "operator": "eq",
                    "property_name": "org_id",
                    "property_value": "59337"
                }
            ],
            interval: interval,
            timeframe: timeframe,
            timezone: timezone
        });

        var interactions = new Keen.Query("count", { // second query
            eventCollection: "interaction",
            filters: [
                {
                    "operator": "eq",
                    "property_name": "org_id",
                    "property_value": "59337"
                }
            ],
            interval: interval,
            timeframe: timeframe,
            timezone: timezone
        });

        var interested = new Keen.Query("count", {
            eventCollection: "interestedapplying",
            filters: [
                {
                    "operator": "eq",
                    "property_name": "org_id",
                    "property_value": "59337"
                }
            ],
            interval: "daily",
            timeframe: "this_21_days",
            timezone: "UTC"
        });

        var chart = new Keen.Dataviz()
            .el(document.getElementById("my_chart"))
            .colors([ "#ff0000", "#222", "lightblue" ])
            .chartType("linechart")
            .title([])
            .height(300)
            .chartOptions({
                chartArea:{
                    left:40,
                    top:20,
                    bottom: '0%',
                    width: '90%'
                },
                lineWidth: 2,
                pointSize: 3,
                curveType: "function",
                series: {
                    0: { color: '#F7941E' },
                    1: { color: '#0691F9' },
                    2: { color: '#75D042' }
                },
                tooltip: {
                    textStyle: {
                        color: '#555',
                        fontName: 'Proxima Nova',
                        fontSize: 12
                    }
                },
                hAxis: {
                    titleTextStyle: {
                        italic: false,
                        fontSize: 12,
                        fontName: 'Proxima Nova',
                        color: '#555'
                    },
                    format:'M/d/yy',
                    gridlines: {
                        count: 7,
                        color: 'transparent'
                    },
                    textStyle: {
                        color: '#555',
                        fontName: 'Proxima Nova',
                        fontSize: 12
                    }
                },
                vAxis: {
                    title: 'Interactions',
                    titleTextStyle: {
                        italic: false,
                        fontSize: 12,
                        fontName: 'Proxima Nova',
                        color: '#555'
                    },
                    textStyle: {
                        color: '#555',
                        fontName: 'Proxima Nova',
                        fontSize: 12
                    },
                    gridlines: {
                        color: '#eee'
                    }
                },
                legend: { position: "bottom" }
            })
            .prepare();

        client.run([previews, interactions, interested], function(err, res){ // run the queries

            var result1 = res[0].result;  // data from first query
            var result2 = res[1].result;  // data from second query
            var result3 = res[2].result;  // data from third query
            var data = [];  // place for combined results
            var i=0;

            while (i < result1.length) {
                // res[1].result/res[0].result).toFixed(2) * 100
                // console.log(result1[i]);

                data[i] = { // format the data so it can be charted
                    timeframe: result1[i]["timeframe"],
                    value: [
                        { category: "Previews", result: result1[i]["value"] },
                        { category: "Interactions", result: result2[i]["value"] },
                        { category: "Interested in Applying", result: result3[i]["value"] }
                    ]
                };

                if (i == result1.length-1) { // chart the data
                    chart
                    .parseRawData({ result: data })
                    .render();
                }
                i++;
            }
        });

    });
</script>