<div id="my_chart"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/q.js/2.0.3/q.min.js"></script>
<script type="application/javascript">
    var client = new Keen({
        projectId: "5596ea26672e6c2eb846b682",
        readKey: "1a072662bdeff8ff84672430b306d2aae22363f7bba6c8021b71548260adb82eab584fa5db7a72bb76a9a91e1f7af2752dac5bb54c837a3bc0da3e1832638796bcbc39ea9d3341961162b08339c3043231783893681041eab5c53d221ee65dee624561fe20ed975249e4db4d62cafffb"

    });

    Keen.ready(function(){

        var weeks = [
            {
                "end": "2015-12-07T00:00:00.000+00:00",
                "start": "2015-11-30T00:00:00.000+00:00"
            },
            {
                "end": "2015-12-14T00:00:00.000+00:00",
                "start": "2015-12-07T00:00:00.000+00:00"
            },
            {
                "end": "2015-12-20T00:00:00.000+00:00",
                "start": "2015-12-14T00:00:00.000+00:00"
            }
        ];
        var timezone = "UTC";

        // Go through each week time interval and get values.
        function weeklyTotal(week) {
            var deferred = Q.defer();
            var preview = new Keen.Query("count", {
                eventCollection: "playlist",
                filters: [
                    {
                        "operator": "eq",
                        "property_name": "org_id",
                        "property_value": "59337"
                    }
                ],
                timezone: timezone,
                timeframe: week
            });

            client.run(preview, function(err, response){
                console.log('Finished with weeklyTotal. Ready to call next.');
                deferred.resolve(response.result);
            });

            return deferred.promise;
        }

        Q.all(weeks.map(weeklyTotal)).then(function(data) {
            console.log(data);
        });

        function calculateWeeklyTotals() {
            var values = [];
            var deferred = Q.defer();
            for (var i = 0, len = weeks.length; i < len; i++) {
                var value = weeklyTotal(weeks[i]).then(weeklyTotal);
            }
            resolve(values);
        }

        /*calculateWeeklyTotals().then(function(val) {
           console.log(val);
           weektoweek(val);
        });*/

        function percentDifference(num1, num2) {
            if (num1 > 0) {
                return ((num2 - num1) / num1).toFixed(2) * 100;
            }
            else {
                return 0;
            }
        }

        function weektoweek(values) {
            // Calculate week-to-week percentage based on values
            var data = [0];
            for (var i = 0, len = values.length; i < len; i++) {
                var val1 = values[i];
                var val2 = values[i + 1];
                var calc = percentDifference(val1, val2);
                console.log(val1);
                console.log(val2);
                console.log(calc);
                data.push(calc);
                console.log(data);
            }
        }

//        var previews = new Keen.Query("count", {
//            eventCollection: "playlist",
//            filters: [
//                {
//                    "operator": "eq",
//                    "property_name": "org_id",
//                    "property_value": "59337"
//                }
//            ],
//            timezone: timezone
//        });
//
//        var chart = new Keen.Dataviz()
//            .el(document.getElementById("my_chart"))
//            .colors([ "#ff0000", "#222", "lightblue" ])
//            .chartType("linechart")
//            .title([])
//            .height(350)
//            .chartOptions({
//                curveType: "function",
//                hAxis: {
//                    format:'MMM d',
//                    gridlines: { count: 7}
//                },
//                legend: { position: "bottom" }
//            })
//            .prepare();
//
//        client.run([previews], function(err, res){ // run the queries
//
//            var result1 = res[0].result;  // data from first query
//            var data = [];  // place for combined results
//            var i=0;
//
//            while (i < result1.length) {
//                // res[1].result/res[0].result).toFixed(2) * 100
//                // console.log(result1[i]);
//                data[i] = { // format the data so it can be charted
//                    timeframe: result1[i]["timeframe"],
//                    value: [
//                        { category: "Previews", result: result1[i]["value"] },
//                        { category: "Interactions", result: result2[i]["value"] },
//                        { category: "Interested in Applying", result: result3[i]["value"] }
//                    ]
//                };
//                if (i == result1.length-1) { // chart the data
//                    chart
//                    .parseRawData({ result: data })
//                    .render();
//                }
//                i++;
//            }
//        });

        /*client.draw(query, document.getElementById("my_chart"), {
            colors: [ "#ff0000", "#222", "lightblue" ],
            chartType: "linechart",
            title: [],
            height: 228,
            colorMapping: {},
            labelMapping: {},
            labels: [],
            chartOptions: {
                // pass directly through to underlying vizz library
                curveType: "function",
                hAxis: {
                    format:'MMM d'
                }
            }
        });*/

    });
</script>