<div class="main-box card">
    <h2>What Do You Think?</h2>
    <div class="card-button-sidebar row margin-top-20">
        <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-success btn-lg" onclick="window.location='{{ link.pages-j-apply }}';">
                Interested in Applying <span class="fa fa-chevron-right"></span>
            </button>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-primary btn-lg">
                Me <span class="fa fa-heart"></span>
            </button>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default btn-lg" onclick="window.location='{{ link.pages-js-jobs }}';">
                <span class="fa fa-backward"> Go Back</span>
            </button>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default btn-lg" onclick="window.location='{{ link.pages-js-jobs }}';">
                Next Job <span class="fa fa-forward"></span>
            </button>
        </div>
    </div>
</div>
<div class="main-box card to-do-card">
    <h2>To Dos</h2>
    <ul class="to-dos">
        <li class="list-group-item">
            <div class="col-xs-8">Submitted Application</div>
            <div class="col-xs-2 text-right"></div>
            <div class="col-xs-2">
                <button class="btn btn-success" title="Done!">
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-8">Sent Thank-You Note</div>
            <div class="col-xs-2 text-right"></div>
            <div class="col-xs-2">
                <button class="btn btn-success" title="Done!">
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div class="clear"></div>
        </li>
    </ul>

</div>