<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-note-modal">
    Create Note <span class="fa fa-paperclip"></span>
</button>
