<!-- Modal -->
<div class="modal fade" id="create-note-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Note</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Candidate:</label>
                        <input id="recipient-name" class="form-control" placeholder="Name or Email" type="text" >
                    </div>
                    <div class="margin-bottom-10">
                        {{> organisms-favorite-button }}
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#">
                            Pass <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <label>For a particular job:</label>
                        <select style="width:100%;">
                            <option value=""></option>
                            <option value="">Environment, Health and Safety Manager</option>
                            <option value="">Environment Protection Specialist</option>
                            <option value="">Environmental Health Specialist</option>
                            <option value="">Environmental Health and Safety Delivery Specialist</option>
                            <option value="">Environmental Health and Safety Engineer</option>
                            <option value="">Environmental Health and Safety Manager</option>
                            <option value="">Environmental Protection Specialist</option>
                            <option value="">Environmental Quality Analyst</option>
                            <option value="">Environmental Scientist</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Note:</label>
                        <textarea class="form-control" placeholder="This candidate has a lot of potential to be a great team member." rows="5" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-dashboard }}';">Save</button>
            </div>
        </div>
    </div>
</div>
