<ul class="list-group">
    <li class="list-group-item">
        <div class="col-xs-4">
            3 days ago
        </div>
        <div class="col-xs-8"><a href="#">Viewed <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            3 days ago
        </div>
        <div class="col-xs-8">Viewed <a href="{{ link.pages-cs-student-profile }}">Sonya Frost</a> profile</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            3 days ago
        </div>
        <div class="col-xs-8">Viewed <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            3 days ago
        </div>
        <div class="col-xs-8">Wants to interview <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            4 days ago
        </div>
        <div class="col-xs-8">Messaged <a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            4 days ago
        </div>
        <div class="col-xs-8">Updated their company profile</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            4 days ago
        </div>
        <div class="col-xs-8">Task Done - Are you attending the Career Fair? - Response: Yes</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="col-xs-4">
            5 days ago
        </div>
        <div class="col-xs-8"><a href="#">Messaged <a href="{{ link.pages-cs-student-profile }}">Jane Frost</a></div>
        <div class="clear"></div>
    </li>
</ul>