<hr />
<div class="pull-right">
    <span class="badge badge-warning">recommendation</span>
    {{#is_js}}
        <span class="badge badge-success">received</span>
    {{/is_js}}
    {{#is_cs}}
        <span class="badge badge-success">sent</span>
        <span class="badge">not viewed</span>
        <span class="badge">not clicked</span>
    {{/is_cs}}
</div>

<p><a href="{{ link.pages-j-posting }}">Super Awesome Job</a></p>
<p class="message-date">12/03/2015 - Viewed</p>

<hr />

<p class="text-right"><strong class="gray-color">Sonya Frost</strong> sent a message to <strong class="gray-color">you</strong></p>
<blockquote class="quote text-right blockquote-reverse">Hi John! Phasellus nulla nibh, placerat semper. <a href="{{ link.pages-e-job-posting }}">Medical Assistant</a>. Aenean fermentum condimentum tempus. Donec. Phasellus facilisis ut metus vel.</blockquote>
<p class="message-date text-right">12/07/2015 - Sent; Not Viewed</p>

<hr />

<p><strong class="gray-color">You</strong> sent a message to <strong class="gray-color">Sonya Frost</strong></p>
<blockquote class="quote">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</blockquote>

<p class="message-date">12/03/2015 - Viewed</p>

<hr />

<p>12/01/2015</p>
<p>Create Better Weekdays Account</p>
