<div class="main-box clearfix ">
    <header class="main-box-header clearfix">
        <h2>Recently Active Students</h2>
    </header>
    <div class="main-box-body clearfix">
        <div class="table-responsive">
            <table id="table-activity" class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Active</th>
                    <th>Signed Up</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ link.pages-cs-student-profile }}">Jane<br />Frost</a></td>
                    <td>07/22/15 9:10 AM</td>
                    <td>07/17/15</td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-cs-student-profile }}">Bobby<br />Jobs</a></td>
                    <td>07/22/15 9:09 AM</td>
                    <td>07/16/15</td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-cs-student-profile }}">Amy<br />Awesome</a></td>
                    <td>07/22/15 9:08 AM</td>
                    <td>07/15/15</td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-cs-student-profile }}">Johnetta<br />Fire</a></td>
                    <td>07/22/15 9:07 AM</td>
                    <td>07/11/15</td>
                </tr>
                </tbody>
            </table>
        </div>    </div>
</div>