<div class="main-box-body clearfix">
    <ul class="list-group to-dos">
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">1 day ago</div>
            <div class="col-sm-10 col-xs-8">Viewed <a href="link.pages-cs-student-profile">Jane Frost</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">2 days ago</div>
            <div class="col-sm-10 col-xs-8">Posted <a href="link.pages-cs-job-posting">Medical Assistant</a> job</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">2 days ago</div>
            <div class="col-sm-10 col-xs-8">Invited <a href="link.pages-cs-student-profile">Amy Smith</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">3 days ago</div>
            <div class="col-sm-10 col-xs-8">Reviewed <a href="link.pages-cs-student-profile">Jane Frost's</a> resume</div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">3 days ago</div>
            <div class="col-sm-10 col-xs-8">Invited <a href="link.pages-cs-student-profile">Jason Jones</a></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-sm-2 col-xs-4">5 days ago</div>
            <div class="col-sm-10 col-xs-8">Posted <a href="link.pages-cs-student-profile">Computer Technician</a> job</div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
