<h4 style="float:left;"> Complete: 9 / 9</h4>

<div class="btn-group" style="float:right; margin-bottom:20px;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">ACCET Verification Record Form</a></li>
        <li><a href="#">Vatterott Employer Verification Form</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Print</a></li>
    </ul>
</div>

<div class="table-responsive">
    <table class="table table-hover table-verification">
        <tbody>
        <tr>
            <td>Employer Name</td>
            <td>Monsanto</td>
        </tr>
        <tr>
            <td>Employer Address</td>
            <td>1234 Main Street</td>
        </tr>
        <tr>
            <td>Employer Phone Number</td>
            <td>(123) 456-7890</td>
        </tr>
        <tr>
            <td>Descriptive Job Title</td>
            <td>Lorem Ipsum Dolar</td>
        </tr>
        <tr>
            <td>Job Duties</td>
            <td>Lorem Ipsum Dolar</td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>04/02/2016</td>
        </tr>
        <tr>
            <td>Manager/Supervisor</td>
            <td>Joe Williams</td>
        </tr>
        <tr>
            <td>Wage or Salary</td>
            <td>$45,000</td>
        </tr>
        <tr>
            <td>Signature</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

