<div class="main-box-body clearfix">
    <p>Total: 15</p>
    <ul class="list-group to-dos">
        <li class="list-group-item">
            <div class="col-xs-3">
                1 day ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                3 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                4 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                4 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                5 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                7 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                10 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                13 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                14 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                14 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                15 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Medical Assistant</strong></a> <span class="small">(Chicago, IL - Rush)</span></div>
            <div class="clear"></div>
        </li>
        <li class="list-group-item">
            <div class="col-xs-3">
                17 days ago
            </div>
            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}"><strong>Awesome Medical Assistant</strong></a> <span class="small">(St. Louis, MO - BJC Healthcare)</span></div>
            <div class="clear"></div>
        </li>
    </ul>
</div>
