<!-- Modal -->
<div class="modal fade" id="peek-student-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content peek">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>Degree/Program: Medical Assistant</li>
                            <li>Email: <a href="#">amy.awesome@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>Viewed: 45</li>
                            <li>Favorites: 20</li>
                        </ul>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                            New To-Do <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse-two">
                            New Message <span class="fa fa-send"></span>
                        </button>
                    </div>
                </div>

                <div class="panel-group accordion" id="accordion">
                        <div class="panel panel-default">
                            <div id="collapse-one" class="panel-collapse collapse peek-meta-data">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="control-label">Type:</label>
                                            <select class="form-control">
                                                <option></option>
                                                <option>Getting Started</option>
                                                <option>Career Services</option>
                                                <option>Job: Medical Assistant - Chicago, IL</option>
                                                <option>Job: Medical Assistant - Columbus, Ohio</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="to-do-title" class="control-label">Title:</label>
                                            <input id="to-do-title" class="form-control" placeholder="" type="text" >
                                        </div>
                                    </form>
                                <button type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                </div>

                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <div id="collapse-two" class="panel-collapse collapse peek-meta-data">
                            <form>
                                <div class="form-group">
                                    <label for="comment">Message:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>

                <hr />

                <h5>Favorites</h5>
                <div class="peek-meta-data">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Phlebotomist</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                4 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>

                <h5>Viewed</h5>
                <div class="peek-meta-data">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Phlebotomist</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                4 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-j-posting }}">Medical Assistant</a></div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>

                <!--<form role="form">-->
                    <!--<div class="form-group">-->
                        <!--<label for="invite-email" class="control-label">To:</label>-->
                        <!--<input id="invite-email" class="form-control" placeholder="Name">-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-students-browse }}';">Recommend</button>-->
            </div>
        </div>
    </div>
</div>