<!-- Modal -->
<div class="modal fade" id="peek-job-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content peek">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><a href="{{ link.pages-cs-job-posting }}">Medical Assistant</a></h4>
                <p class="peek-meta-data">Added 3 days ago</p>
            </div>
            <div class="modal-body">

                <div class="clearfix">
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-lg-12 matchrank">
                            </div>
                        </div>

                        <div class="playlist-glances">
                            <div class="row">
                                <div class="col-xs-6 playlist-glance playlist-company">
                                    <h3>Company</h3>
                                    <p>Veterans Health Administration</p>
                                </div>
                                <div class="col-xs-6 playlist-glance playlist-location">
                                    <h3>Location</h3>
                                    <p>Indianapolis, IN</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 playlist-glance playlist-balance">
                                    <h3>Work / Life Balance</h3>
                                    <p>&#9733;&#9733;&#9733;&#189;</p>
                                </div>
                                <div class="col-xs-6 playlist-glance playlist-outlook">
                                    <h3>Job Outlook</h3>
                                    <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 playlist-glance playlist-culture">
                                    <h3>Culture & Values</h3>
                                    <p>&#9733;&#9733;</p>
                                </div>
                                <div class="col-xs-6 playlist-glance playlist-compensation">
                                    <h3>Compensation</h3>
                                    <p>$29,960 median salary</p>
                                </div>
                            </div>
                        </div>
                        <div class="row conversational-summary">
                            <div class="col-lg-12">
                                <p><strong>They're looking for:</strong> Attention to Detail, Dependability, Cooperation, Integrity</p>
                                <p><strong>I'll be responsible for:</strong> Record patients' medical history, vital statistics, or information such as test results in medical records.</p>
                                <p><strong>I'll also be responsible for:</strong> Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</p>
                                <p><strong>People who work here say:</strong> The people. Everyone here works as hard as they can toward a shared mission.</p>
                                <p><strong>They also say:</strong> Leadership is not taught or valued here - and it's needed. Managers are not empowered to make decisions for their departments, and they are not listened to.</p>
                                <p><strong>The cost of living is about:</strong> $2.80/gal for gas, $1400/mo for rent (900 sq. ft), and $33 to go to dinner for two</p>
                                <p><strong>I may be promoted to:</strong> Medical Assistant Manager</p>
                            </div>
                        </div>

                        <div class="row">
                            <p class="small playlist-glassdoor"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-students-browse }}';">Recommend</button>-->
            </div>
        </div>
    </div>
</div>