<div class="main-box clearfix visible-lg">
    <div class="main-box-body clearfix">
        <div class="row">
            <div class="col-lg-12 margin-top-20">
                <p>Search Terms <a data-original-title="We automatically search for jobs using the best industry terms to save you time." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></p>
                <p><em>medical assistant, CNA, certified</em></p>
            </div>
        </div>
    </div>
</div>