<div class="main-box card">
    <h2>What Do You Think?</h2>
    <div class="card-button-sidebar row margin-top-20">
        <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-success btn-lg" onclick="window.location='{{ link.pages-j-apply }}';">
                Favorite <span class="fa fa-heart-o"></span>
            </button>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-info btn-lg">
                Career Services Help <span class="fa fa-users"></span>
            </button>
        </div>
    </div>
</div>