<div class="main-box card">
    <h2>Explore & Learn</h2>
    <div class="card-button-sidebar row margin-top-20">
        <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-success btn-lg" onclick="window.location='{{ link.pages-j-apply }}';">
                Discover More <span class="fa fa-binoculars"></span>
            </button>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-info btn-lg">
                Contact Career Services <span class="fa fa-users"></span>
            </button>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button type="button" class="btn btn-danger btn-lg" onclick="window.location='{{ link.pages-js-jobs }}';">
                Explore this Company <span class="fa fa-building-o"></span>
            </button>
        </div>
    </div>
</div>