<div class="clearfix ">
    <div class="main-box-body clearfix">
        <div class="table-responsive">
            <table id="table-activity" class="table table-hover normal">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Job</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="lead-new">
                    <td>
                        <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Amy Awesome</a>

                        <br />
                        Better Weekdays University - CMA
                    </td>
                    <td><a href="{{ link.pages-e-job-posting }}">Medical Assistant</a></td>
                    <td>
                        {{#is_js}}
                            <div class="lead-buttons">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-message-modal">
                                    Message <span class="fa fa-send"></span>
                                </button>&nbsp;
                                <button class="btn btn-default" title="Nope">
                                    <i class="fa fa-times"> </i>
                                </button>
                            </div>
                        {{/is_js}}
                    </td>
                </tr>
                <tr class="lead-new">
                    <td>
                        <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Fiona Apple</a>
                        <br />
                        BWD University - Nursing
                    </td>
                    <td><a href="{{ link.pages-e-job-posting }}">Nurse I</a></td>
                    <td>
                        {{#is_js}}
                            <div class="lead-buttons">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-message-modal">
                                    Message <span class="fa fa-send"></span>
                                </button>&nbsp;
                                <button class="btn btn-default" title="Nope">
                                    <i class="fa fa-times"> </i>
                                </button>
                            </div>
                        {{/is_js}}
                    </td>
                </tr>
                <tr class="lead-new">
                    <td>
                        <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">Sonya Awesome</a>
                        <br />
                        Better Weekdays University - CMA
                    </td>
                    <td><a href="{{ link.pages-e-job-posting }}">Medical Assistant</a></td>
                    <td>
                        {{#is_js}}
                            <div class="lead-buttons">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-message-modal">
                                    Message <span class="fa fa-send"></span>
                                </button>&nbsp;
                                <button class="btn btn-default" title="Nope">
                                    <i class="fa fa-times"> </i>
                                </button>
                            </div>
                        {{/is_js}}
                    </td>
                </tr>
                <tr class="lead-new">
                    <td>
                        <a data-toggle="modal" data-target="#peek-student-modal" class="cursor-pointer">John Baby</a>
                        <br />
                        BWD University - Health Administration
                    </td>
                    <td><a href="{{ link.pages-e-job-posting }}">Nurse II</a></td>
                    <td>
                        {{#is_js}}
                            <div class="lead-buttons">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-message-modal">
                                    Message <span class="fa fa-send"></span>
                                </button>&nbsp;
                                <button class="btn btn-default" title="Nope">
                                    <i class="fa fa-times"> </i>
                                </button>
                            </div>
                        {{/is_js}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> organisms-new-message-modal }}
