<hr />
<div class="clearfix ">
    <div class="main-box-body clearfix">
        {{> molecules-single-browse-student }}
        <hr />
        {{> molecules-single-browse-student-alt }}
        <hr />
        {{> molecules-single-browse-student }}
        <hr />
        {{> molecules-single-browse-student-alt }}
        <hr />
        {{> molecules-single-browse-student }}
        <hr />
        {{> molecules-single-browse-student-alt }}
        <hr />
        {{> molecules-single-browse-student }}
        <hr />
        {{> molecules-single-browse-student-alt }}
    </div>
</div>

{{> organisms-new-message-modal }}
