<div class="main-box clearfix ">
    <div class="main-box-body clearfix">
        <ul class="list-group">
            <li class="list-group-item to-do-item-title">
                <strong>Dominant Career Values</strong>
            </li>
            <li class="list-group-item">
                <a data-original-title="Individual seeks out underlying reason things happen and likes to investigate." href="#" data-toggle="tooltip" title="">Theoretical Discovery</a>
            </li>
            <li class="list-group-item">
                <a data-original-title="Individual's capacity to see the big picture and develop logical strategy positions them to manage and advise." href="#" data-toggle="tooltip" title="">Strategic Decisions</a>
            </li>
            <li class="list-group-item">
                <a data-original-title="Individual is motivated by excitement and competition, entrepreneurial and challenging circumstances." href="#" data-toggle="tooltip" title="">Entrepreneurial Challenge</a>
            </li>
            <li class="list-group-item to-do-item-title">
                <strong>Key Strengths</strong>
            </li>
            <li class="list-group-item">
                Very Inquisitive
            </li>
            <li class="list-group-item">
                Accomplishment-Oriented
            </li>
            <li class="list-group-item">
                Highly Motivated
            </li>
            <li class="list-group-item to-do-item-title">
                <strong>Motivated to</strong>
            </li>
            <li class="list-group-item">
                Study difficult puzzles
            </li>
            <li class="list-group-item">
                Solve big problems
            </li>
            <li class="list-group-item">
                Conquer tough challenges
            </li>
            <li class="list-group-item to-do-item-title">
                <strong>Abilities</strong>
            </li>
            <li class="list-group-item">
                Detailed analysis
            </li>
            <li class="list-group-item">
                Strategic thinking
            </li>
            <li class="list-group-item">
                Creative thinking
            </li>
            <li class="list-group-item to-do-item-title">
                <strong>Personality</strong>
            </li>
            <li class="list-group-item">
                Thorough
            </li>
            <li class="list-group-item">
                Demanding
            </li>
            <li class="list-group-item">
                Adventurous
            </li>
        </ul>
    </div>
</div>