<!-- Modal -->
<div class="modal fade" id="peek-student-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content peek">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>Degree/Program: Medical Assistant</li>
                            <li>Email: <a href="#">amy.awesome@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>GPA: 3.7</li>
                        </ul>
                        <p class="lead-new-meta">
                            <a data-original-title="Looking for an internship." href="#" data-toggle="tooltip" data-placement="left" title=""><span class="fa fa-info"></span></a>
                            &nbsp;<a data-original-title="Favorited your company." href="#" data-toggle="tooltip" data-placement="left" title=""><span class="fa fa-heart"></span></a>
                            &nbsp;<a data-original-title="Uploaded a resume." href="#" data-toggle="tooltip" data-placement="left" title=""><span class="fa fa-file-text"></span></a>
                        </p>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                            New Note <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse-two">
                            New Message <span class="fa fa-send"></span>
                        </button>
                    </div>
                </div>

                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <div id="collapse-one" class="panel-collapse collapse peek-meta-data">
                            <form>
                                <!--<div class="form-group">-->
                                    <!--<label for="recipient-name" class="control-label">Student:</label>-->
                                    <!--<input id="recipient-name" class="form-control" placeholder="Name or Email" type="text" >-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label for="comment">Note:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <div id="collapse-two" class="panel-collapse collapse peek-meta-data">
                            <form>
                                <div class="form-group">
                                    <label for="comment">Message:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>

                <hr />

                <!--EMPTY STATE-->

                <!--<div class="peek-meta-data assessment-peek">-->
                    <!--<div class="peek-meta-data assessment-peek">-->
                                <!--<h2><span class="fa fa-pie-chart"></span> Assessment</h2>-->
                                <!--<p class="text-center gray">Has not taken asssessment yet.</p>-->
                        <!--</div>-->
                <!--</div>-->

                <!--/EMPTY STATE-->

                <div class="peek-meta-data assessment-peek">
                    <div class="peek-meta-data assessment-peek">
                        <h2><span class="fa fa-pie-chart"></span> Assessment</h2>
                        <ul class="list-group">
                            <li class="list-group-item to-do-item-title">
                                <strong>Dominant Career Values</strong>
                            </li>
                            <li class="list-group-item">
                                <a data-original-title="Individual seeks out underlying reason things happen and likes to investigate." href="#" data-toggle="tooltip" title="">Theoretical Discovery</a>
                            </li>
                            <li class="list-group-item">
                                <a data-original-title="Individual's capacity to see the big picture and develop logical strategy positions them to manage and advise." href="#" data-toggle="tooltip" title="">Strategic Decisions</a>
                            </li>
                            <li class="list-group-item">
                                <a data-original-title="Individual is motivated by excitement and competition, entrepreneurial and challenging circumstances." href="#" data-toggle="tooltip" title="">Entrepreneurial Challenge</a>
                            </li>
                            <li class="list-group-item to-do-item-title">
                                <strong>Key Strengths</strong>
                            </li>
                            <li class="list-group-item">
                                Very Inquisitive
                            </li>
                            <li class="list-group-item">
                                Accomplishment-Oriented
                            </li>
                            <li class="list-group-item">
                                Highly Motivated
                            </li>
                            <li class="list-group-item to-do-item-title">
                                <strong>Motivated to</strong>
                            </li>
                            <li class="list-group-item">
                                Study difficult puzzles
                            </li>
                            <li class="list-group-item">
                                Solve big problems
                            </li>
                            <li class="list-group-item">
                                Conquer tough challenges
                            </li>
                            <li class="list-group-item to-do-item-title">
                                <strong>Abilities</strong>
                            </li>
                            <li class="list-group-item">
                                Detailed analysis
                            </li>
                            <li class="list-group-item">
                                Strategic thinking
                            </li>
                            <li class="list-group-item">
                                Creative thinking
                            </li>
                            <li class="list-group-item to-do-item-title">
                                <strong>Personality</strong>
                            </li>
                            <li class="list-group-item">
                                Thorough
                            </li>
                            <li class="list-group-item">
                                Demanding
                            </li>
                            <li class="list-group-item">
                                Adventurous
                            </li>
                        </ul>
                    </div>
                </div>




                <!--<form role="form">-->
                <!--<div class="form-group">-->
                <!--<label for="invite-email" class="control-label">To:</label>-->
                <!--<input id="invite-email" class="form-control" placeholder="Name">-->
                <!--</div>-->
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-students-browse }}';">Recommend</button>-->
            </div>
        </div>
    </div>
</div>