<div class="modal multi-step" id="step-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                <h4 class="modal-title step-2" data-step="2">Step 2</h4>
                <h4 class="modal-title step-3" data-step="3">Step 3</h4>
                <div class="m-progress">
                    <div class="m-progress-bar-wrapper">
                        <div class="m-progress-bar">
                        </div>
                    </div>
                    <div class="m-progress-complete">
                        Completed
                    </div>
                </div>
            </div>
            <form>
                <div class="modal-body step step-1">
                    <div class="form-group">
                        <label>Select type:</label>
                        <select>
                            <option value="Job">Job</option>
                            <option value="Project">Project</option>
                            <option value="Article">Article</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body step step-2">
                    <div class="form-group">
                        <label for="school">Title</label>
                        <div class="input-group col-lg-12">
                            <input id="title" class="form-control" placeholder="Customer Success" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="school">Location</label>
                        <div class="input-group col-lg-12">
                            <input id="location" class="form-control" placeholder="St. Louis, MO" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="school">Description and Responsibilities</label>
                        <div class="input-group col-lg-12">
                            <textarea id="description" class="form-control" placeholder="What is this position responsible for?" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-body step step-3">
                    <div class="form-group form-group-select2">
                        <label>Only show this job to the following Degree/Programs:</label>
                        <div class="input-group col-lg-12">
                            <select id="sel2Multi" style="width:100%;" multiple>
                                <option value="All">All</option>
                                <option value="Administration">Administration</option>
                                <option value="Accounting/Auditing">Accounting/Auditing</option>
                                <option value="Business">Business</option>
                                <option value="Criminal Justice">Criminal Justice</option>
                                <option value="Nursing">Nursing</option>
                                <option value="Technology">Technology</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="school">Contact Email</label>
                        <div class="input-group col-lg-12">
                            <input id="contactemail" class="form-control" placeholder="hiring@abccompany.com" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="school">Contact URL</label>
                        <div class="input-group col-lg-12">
                            <input id="contacturl" class="form-control" placeholder="abccompany.com/myjob/apply" type="text">
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent('#step-modal', 2)">Continue</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#step-modal', 1)">Back</button>
                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#step-modal', 3)">Continue</button>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-default" data-toggle="modal" data-target="#demo-modal">Show</button>
<style>
    .m-progress-bar {
        min-height: 1em;
        background: #c12d2d;
        width: 5%;
    }
</style>
<script>
    sendEvent = function(sel, step) {
        $(sel).trigger('next.m.' + step);
    }
</script>