<div class="main-box clearfix">
    <div class="main-box-header">
        <h2>Quick Funnel</h2>
        <br/>
        <select onchange="javascript:location.href = this.value;">
            <option value="{{ link.pages-e-dashboard }}" selected>Candidate Engagement</option>
            <option value="{{ link.pages-e-dashboard-alt }}">My Engagement</option>
        </select>
        <select>
            <option>Last 30 days</option>
            <option>Last 60 days</option>
            <option>Last 90 days</option>
        </select>
    </div>
    <div class="main-box-body clearfix">
        <div class="infographic-box margin-bottom-10 text-center">
            <div class="col-sm-1"></div>
            <button class="col-sm-10 btn btn-lg btn-default">
                40 viewed your posts&nbsp;<span class="fa fa-user"></span>
            </button>
            <div class="col-sm-1"></div>
            <div class="col-sm-12 margin-bottom-10 margin-top-10"><span class="fa fa-arrow-down" aria-hidden="true"></span></div>
            <div class="col-sm-2"></div>
            <button class="col-sm-8 btn btn-lg btn-primary">
                10 favorited your posts&nbsp;<span class="fa fa-heart"></span>
            </button>
            <div class="col-sm-2"></div>
            <div class="col-sm-12 margin-bottom-10 margin-top-10"><span class="fa fa-arrow-down" aria-hidden="true"></span></div>
            <div class="col-sm-3"></div>
            <button class="col-sm-6 btn btn-lg btn-primary">
                4 interested in applying&nbsp;<span class="fa fa-chevron-right"></span>
            </button>
            <div class="col-sm-3"></div>
            <div class="col-sm-12 margin-bottom-10 margin-top-10"><span class="fa fa-arrow-down" aria-hidden="true"></span></div>
            <div class="col-sm-4"></div>
            <button class="col-sm-4 btn btn-lg btn-success">
                3 sent messages&nbsp;<span class="fa fa-send"></span>
            </button>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
