<div class="main-box clearfix">
      <div class="infographic-box">
        <div class="col-sm-2">
          <i class="fa fa-signal yellow-bg"></i>
        </div>
        <div class="col-sm-10">
          <span class="big yellow">Your Activity</span>
          <p>Jobs: <strong>35</strong> previewed, <strong>4</strong> favorited, <strong>1</strong> interested in applying</p>
          <p>Companies: <strong>2</strong> previewed, <strong>1</strong> favorited</p>
          <p>Advice: <strong>1</strong> previewed, <strong>0</strong> favorited</p>
          <p><strong>4</strong> messages sent, <strong>1</strong> to-do completed, <strong>2</strong> to-dos created</p>
        </div>
      </div>
</div>
