<!-- Modal -->
<div class="modal fade" id="peek-employer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content peek">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><a href="{{ link.pages-cs-employer-user-profile }}">Joshua Thomas</a></h4>
                <p class="no-margin-bottom">Human Resources Associate - Monsanto</p>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-sm-6">
                      <ul class="fa-ul no-padding peek-meta-data">
                        <li><a href="tel:+11231234567">(123) 123-4567</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 text-right">
                      <ul class="fa-ul no-padding peek-meta-data">
                        <li><a href="mailto:john.smith@monsanto.com">john.smith@monsanto.com</a></li>
                      </ul>
                  </div>
              </div>
              <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>Students Viewed: 45</li>
                            <li>Students Favorited: 20</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="fa-ul no-padding peek-meta-data">
                            <li>Students Interviewed: 5</li>
                            <li>Offers Made: 2</li>
                        </ul>
                    </div>
                </div>
                <hr />

                <div class="row">

                    <div class="col-sm-6">
                        <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse-three">
                            New Message <span class="fa fa-send"></span>
                        </button>
                    </div>
                </div>



                <div class="panel-group accordion" id="accordion">
                    <div class="panel panel-default">
                        <div id="collapse-three" class="panel-collapse collapse peek-meta-data">
                            <form>
                                <div class="form-group">
                                    <label for="comment">Message:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </form>
                            <button type="button" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>

                <hr />

                <h5>Favorites</h5>
                <div class="peek-meta-data">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Bobby Jobs</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Sonya Frost</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                3 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Tony Smith</a></div>
                            <div class="clear"></div>
                        </li>
                        <li class="list-group-item">
                            <div class="col-xs-3">
                                4 days ago
                            </div>
                            <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Rita Rocks</a></div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>

                <h5>Interviewed</h5>
                <div class="peek-meta-data">
                    <ul class="list-group">

                      <li class="list-group-item">
                          <div class="col-xs-3">
                              3 days ago
                          </div>
                          <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Amy Awesome</a></div>
                          <div class="clear"></div>
                      </li>


                      <li class="list-group-item">
                          <div class="col-xs-3">
                              4 days ago
                          </div>
                          <div class="col-xs-9"><a href="{{ link.pages-cs-student-profile }}">Rita Rocks</a></div>
                          <div class="clear"></div>
                      </li>
                    </ul>
                </div>

                <!--<form role="form">-->
                    <!--<div class="form-group">-->
                        <!--<label for="invite-email" class="control-label">To:</label>-->
                        <!--<input id="invite-email" class="form-control" placeholder="Name">-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="submit" class="btn btn-info" onclick="window.location='{{ link.pages-cs-students-browse }}';">Recommend</button>-->
            </div>
        </div>
    </div>
</div>
