<div class="clearfix ">
    <div class="main-box-body clearfix">
        <div class="table-responsive">
            <table id="table-activity" class="table table-hover normal">
                <thead>
                <tr>
                    <th>Degree / Program</th>
                </tr>
                </thead>
                <tbody>
                <tr><td>Biology</td></tr>
                <tr><td>Nursing / Health</td></tr>
                <tr><td>Biochemistry &amp; Bilogy</td></tr>
                <tr><td>Biology</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
