<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <select>
      <option>Recently Active Students</option>
      <option>Recently Active Employers</option>
      <option>Students Slipping Away</option>
      <option>Employers Slipping Away</option>
    </select>
    <select>
      <option>Last 30 days</option>
      <option>Last 60 days</option>
      <option>Last 90 days</option>
    </select>
  </header>
  <div class="main-box-body clearfix">
    <div class="table-responsive">
      <table id="table-activity" class="table table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Last Active</th>
          <th>Signed Up</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="breakable"><a href="/profile/5185/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Jason Hursey</a><br />English - 05/2020</td>
          <td>Wed, 05/25/2016 - 3:47pm</td>
          <td>04/01/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/26/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Fredric Mitchell</a><br />Electrical Engineering - 05/2019</td>
          <td>Tue, 05/24/2016 - 10:56pm</td>
          <td>04/08/2015</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/6281/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Damilola Oladele</a><br />Accounting - 12/2017</td>
          <td>Tue, 05/24/2016 - 7:30pm</td>
          <td>05/24/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/1442/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Jade McNear</a></td>
          <td>Tue, 05/24/2016 - 3:42pm</td>
          <td>09/01/2015</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/4503/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Kunal Parbadia</a></td>
          <td>Tue, 05/24/2016 - 3:02pm</td>
          <td>03/21/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/4367/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Jalen Prince</a></td>
          <td>Tue, 05/24/2016 - 1:31pm</td>
          <td>03/15/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/5487/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Brielle Bryant-Erales</a></td>
          <td>Mon, 05/23/2016 - 11:35am</td>
          <td>04/01/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/5228/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Korey Silas</a></td>
          <td>Fri, 05/20/2016 - 7:51pm</td>
          <td>04/01/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/6268/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">JaRhea Shumpert</a></td>
          <td>Fri, 05/20/2016 - 11:41am</td>
          <td>05/20/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/6262/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Stetson  McCollin</a></td>
          <td>Thu, 05/19/2016 - 3:36pm</td>
          <td>05/19/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/4503/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Kunal Parbadia</a></td>
          <td>Tue, 05/24/2016 - 3:02pm</td>
          <td>03/21/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/4367/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Jalen Prince</a></td>
          <td>Tue, 05/24/2016 - 1:31pm</td>
          <td>03/15/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/5487/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Brielle Bryant-Erales</a></td>
          <td>Mon, 05/23/2016 - 11:35am</td>
          <td>04/01/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/5228/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Korey Silas</a></td>
          <td>Fri, 05/20/2016 - 7:51pm</td>
          <td>04/01/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/6268/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">JaRhea Shumpert</a></td>
          <td>Fri, 05/20/2016 - 11:41am</td>
          <td>05/20/2016</td>
        </tr>
        <tr>
          <td class="breakable"><a href="/profile/6262/peek" class="remote-popup" data-toggle="modal" data-target="#studentPeek">Stetson  McCollin</a></td>
          <td>Thu, 05/19/2016 - 3:36pm</td>
          <td>05/19/2016</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>