<div class="main-box clearfix">
  <header class="main-box-header clearfix">
    <select>
      <option>Suggested Candidates</option>
      <option>Recently Active Candidates</option>
    </select>
      <select>
          <option>Last 30 days</option>
          <option>Last 60 days</option>
          <option>Last 90 days</option>
      </select>
      <div class="pull-right">
        <input type="checkbox" checked="checked"/> Hide Passed/Favorited
      </div>
  </header>
    <div class="col-lg-12">
        <div class="alert alert-info col-lg-8 col-lg-offset-2">
            <i class="fa fa-info fa-fw fa-lg"></i>
            200+ candidates available who are not visible. <strong><a href="#">Request upgrade</a></strong>
        </div>
    </div>
    {{> organisms-e-dashboard-suggested-candidates }}
</div>