<!-- Begin horrible hack to display graphs on this page. Do not replicate this! Not enough time to properly debug... -->

<div class="graph" id="graph-line-1" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div> 
</div> 
<div class="graph" id="graph-line-2" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div> 
</div> 
<div class="graph" id="graph-line-3" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div> 
</div> 
<div class="graph" id="graph-line-4" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div> 
</div> 
<div class="graph" id="graph-line-5" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div> 
</div> 
<div class="graph" id="graph-line-6" style="display:none;">
  <div class="morris-hover morris-default-style" style="display: none;">
  </div>
</div>
<!-- End hack. -->

<div class="row">
  <div class="col-md-6">
    <div class="main-box">
      <div class="row">
        <div class="col-md-12">
          <div class="graph-box">
            <h2>Company Views by Students</h2>
            <div class="graph" id="graph-line-7">
              <div class="morris-hover morris-default-style" style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="main-box">
      <div class="row">
        <div class="col-md-12">
          <div class="graph-box">
            <h2 class="orange">Job Views by Students</h2>
            <div class="graph" id="graph-line-8" style="max-height: 335px; position: relative;">
              <div class="morris-hover morris-default-style" style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>