<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Posts</h2>
    </header>

    <div class="main-box-body clearfix">

        <div class="table-responsive">
            <table id="table-activity" class="table table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Stats</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ link.pages-e-company-landing-new }}">World Wide Technology</a>
                        <br><span class="small">07/22/15 9:10 AM</span></td>
                    <td>Company</td>
                    <td><a href="#">7 views / 2 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-job-seeker-advice-single }}">Solve This Hard Problem for Your Summer 2017 Internship</a>
                    <br><span class="small">07/22/15 9:10 AM</span></td>
                    <td>Project</td>
                    <td><a href="#">7 views / 2 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-job-seeker-advice-single }}">What It's Like to Work at Amazon.com</a>
                    <br/><span class="small">07/22/15 9:09 AM</span></td>
                    <td>Article</td>
                    <td><a href="#">3 views / 0 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-job-seeker-advice-single }}">Amazon.com is a great place for English majors</a>
                    <br/><span class="small">07/22/15 9:11 AM</span></td>
                    <td>Article</td>
                    <td><a href="#">7 views / 2 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-e-job-posting }}">Digital Marketing Analyst</a>
                    <br/><span class="small">07/22/15 9:09 AM</span></td>
                    <td>Job</td>
                    <td><a href="#">10 previews / 2 faves / 1 interested</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Archives</h2>
    </header>

    <div class="main-box-body clearfix">

        <div class="table-responsive">
            <table id="table-activity" class="table table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Stats</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ link.pages-job-seeker-advice-single }}">Solve This Hard Problem for Your Summer 2017 Internship</a>
                        <br><span class="small">07/22/15 9:10 AM</span></td>
                    <td>Project</td>
                    <td><a href="#">7 views / 2 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit-alt }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ link.pages-job-seeker-advice-single }}">What It's Like to Work at Amazon.com</a>
                        <br/><span class="small">07/22/15 9:09 AM</span></td>
                    <td>Article</td>
                    <td><a href="#">3 views / 0 faves</a></td>
                    <td>
                        <div class="lead-buttons">
                            {{> molecules-buttons-posts-edit-alt }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>