<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>Post a Link</h2>
    </header>

    <div class="main-box-body clearfix">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="control-label">Type?</label>
                <select class="form-control">
                    <option>Day-in-the-Life story</option>
                    <option>Employee Interview</option>
                    <option>Company Culture</option>
                    <option>Program / Event</option>
                    <option>Internship / Job Opportunity</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">What is the URL?</label>
                <input id="recipient-name" class="form-control" placeholder="http://mycompany.com/blog/we-are-awesome" type="text" >
            </div>
            <div class="form-group">
                <label for="comment">Who is your target audience?</label>
                <textarea class="form-control" placeholder="I want to target all accounting and finance majors." rows="3" id="comment"></textarea>
            </div>
            <div class="form-group pull-left">
                <button type="submit" class="btn btn-info">Send for publishing</button>
            </div>
        </form>
    </div>
</div>