<div class="col-lg-1">
    <h4><a href="{{ link.pages-e-candidates-suggested }}">Suggested</a></h4>
</div>
<div class="col-lg-1">
    <h4><a href="#">Engaged</a></h4>
</div>
<div class="col-lg-1">
    <h4><a href="#">Contacted</a></h4>
</div>
<div class="col-lg-1">
    <h4><a href="{{ link.pages-e-candidates-shortlist }}">Shortlists</a></h4>
</div>
<div class="col-lg-1 pull-right">
    <h4><a href="{{ link.pages-e-candidates-search }}">Search</a></h4>
</div>