<div class="col-lg-6">
    <div class="main-box clearfix">
        <div class="main-box-body clearfix">
            <h2>Create New Report</h2>

            <form class="form-row">

                <div class="form-group">
                    <label for="data">Show me:</label>
                    <select name="dropdownmain" id="data" class="form-control">
                        <option value="job-seekers">students</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contains">that</label>
                    <select name="contains" id="contains" title="Contains" class="form-control">
                        <option value="have">have</option>
                        <option value="have-not">have not</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="job-seekers" id="" class="form-control">
                        <option value="active-account">an active account</option>
                        <option value="resume-uploaded">a resume uploaded</option>
                        <option value="viewed-job">viewed a job</option>
                        <option value="personalized-matches">personalized job matches</option>
                        <option value="expressed-interest">expressed interest in applying</option>
                    </select>
                </div>

                <div class="form-group margin-top-20">

                    <a href="{{ link.pages-e-reports-loaded }}" class="btn btn-primary btn-lg">
                        Run Report
                        <span class="fa fa-gear"></span>
                    </a>

                    <!-- <div class="col-xs-12 margin-top-20">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Email
                            <span class="fa fa-envelope-o"></span>
                        </button>
                    </div> -->

                </div>

            </form>

        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="main-box clearfix">
        <div class="main-box-body clearfix">
            <h2>Saved Reports</h2>
            <form class="form-row">
                <div class="form-group">
                    <label class="hidden">Load Report</label>
                    <select name="load" class="form-control">
                        <option value=""></option>
                        <option value="report-title-1">Report Title 1</option>
                        <option value="report-title-2">Report Title 2</option>
                        <option value="report-title-3">Report Title 3</option>
                        <option value="report-title-4">Report Title 4</option>
                    </select>
                </div>
            </form>

            <a href="{{ link.pages-e-reports-loaded }}" class="btn btn-primary btn-lg margin-top-10">
                View Report
            </a>

        </div>
    </div>
</div>