<div class="match lead-new">
    <div class="row">

        <div class="col-sm-8">
            <p class="lead-new-title"><a href="{{ link.pages-e-student-profile }}">
                Jane Awesome
            </a></p>
            <p class="lead-new-meta">BWD - Healthcare Administration</p>
            <p class="lead-new-meta">Locations: St. Louis, MO</p>
            <p class="lead-new-meta">GPA: 3.4</p>
            <p class="lead-new-meta">
                <a data-original-title="Student is looking for an internship." href="#" data-toggle="tooltip" title=""><span class="fa fa-info"></span></a>
                &nbsp;<a data-original-title="Student has taken then assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
            </p>
        </div>

        <div class="col-sm-4 text-left">
            <p class="added">Engaged</p>
            {{#is_js}}
                <div class="lead-buttons">
                    {{> molecules-buttons-e-js }}
                </div>
            {{/is_js}}
        </div>
        <div class="col-sm-12 text-right">
            <div class="lead-buttons">
                <p>Previewed <a href="{{ link.pages-e-job-posting }}">Medical Assistant II</a>, Favorited your article <a href="#">How You Can Impact Healthcare through Technology</a>
                </p>
            </div>
        </div>
    </div>
</div>