<div class="match lead-new">
    <div class="row">

            <div class="col-sm-8">
                <p class="lead-new-title"><a href="{{ link.pages-j-posting }}">
                    Certified Medical Assistant Medical Receptionist
                </a></p>
                <p class="lead-new-meta">Veterans Health Administration - Indianapolis, IN</p>
                <p class="lead-new-meta">40hr / week - $29,600 / year</p>
            </div>

            <!--<p>-->
                <!--<em>Responsibilities:</em> patients discharge appointments, in-patient procedure appointments, courteous customer service-->
            <!--</p>-->

            <div class="col-sm-4 text-left">
                <p class="added">7 days ago</p>
                {{#is_js}}
                    <div class="lead-buttons">
                        <button type="submit" class="btn btn-danger" onclick="window.location='../../patterns/04-pages-04-job-seeker-journey-04-job-seeker-browse-jobs-journey2/04-pages-04-job-seeker-journey-04-job-seeker-browse-jobs-journey2.html';"><span class="fa fa-thumbs-down"> Not Me</span></button>
                        <button type="submit" class="btn btn-success" onclick="window.location='../../patterns/04-pages-03-job-03-job-new/04-pages-03-job-03-job-new.html';"><span class="fa fa-thumbs-up"> Me</span></button>
                    </div>
                {{/is_js}}
            </div>
        </div>

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<button type="button" class="btn btn-info btn-lg" onclick="window.location='{{ link.pages-j-posting }}';">-->
                <!--View-->
            <!--</button>-->
            <!--<div class="pull-right">
                <button type="button" class="btn btn-success btn-lg">
                    <span class="fa fa-heart"></span>
                </button>
                <button type="button" class="btn btn-danger btn-lg">
                    <span class="fa fa-thumbs-down"></span>
                </button>
            </div>-->
        <!--</div>-->
    <!--</div>-->
</div>