<div class="match">
    <div class="row">
        <div class="col-xs-8">
            <a href="{{ link.pages-j-posting }}">
                <span class="title value">Certified Medical Assistant Medical Receptionist</span>
            </a>
            <p class="headline">
                <strong>Indianapolis, IN</strong> - Veterans Health Administration
            </p>
            <p>
                <em>Responsibilities:</em> patients discharge appointments, in-patient procedure appointments, courteous customer service
            </p>
        </div>
        <div class="col-xs-4 text-right">
            <p class="badge badge-success">New</p>
            <p>
                <em>Added 7 days ago</em>
            </p>
            <p>
                <span class="value">96%</span>
                <span>MatchRank</span>
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-info btn-lg" onclick="window.location='{{ link.pages-j-posting }}';">
                View
            </button>
            <div class="pull-right">
                <button type="button" class="btn btn-success btn-lg">
                    <span class="fa fa-thumbs-up"></span>
                </button>
                <button type="button" class="btn btn-danger btn-lg">
                    <span class="fa fa-thumbs-down"></span>
                </button>
            </div>
        </div>
    </div>
</div>