<div class="match lead-new">
    <div class="row">

            <div class="col-sm-8">
                <p class="lead-new-title">
                    <a href="{{ link.pages-e-student-profile }}">Sonya Frost</a>
                </p>
                <p class="lead-new-meta">Better Weekdays University - Medical Assisting</p>
                <p class="lead-new-meta">Locations: St. Louis, MO, Chicago, IL</p>
                <p class="lead-new-meta">GPA: 3.2</p>
                <p class="lead-new-meta">
                    <a data-original-title="Student has a resume." href="#" data-toggle="tooltip" title=""><span class="fa fa-file-text"></span></a>
                    &nbsp;<a data-original-title="Student has favorited your company." href="#" data-toggle="tooltip" title=""><span class="fa fa-heart"></span></a>
                    &nbsp;<a data-original-title="Student has taken the assessment." href="#" data-toggle="tooltip" title=""><span class="fa fa-pie-chart"></span></a>
                </p>
            </div>

            <div class="col-sm-4 text-left">
                <p class="added">Highly Engaged, Relevant</p>
                {{#is_js}}
                    <div class="lead-buttons">
                        {{> molecules-buttons-e-js }}
                    </div>
                {{/is_js}}
            </div>
            <div class="col-sm-12 text-right">
                <div class="lead-buttons">
                    <p>
                        Previewed, Favorited, and Interested in applying to <a href="{{ link.pages-e-job-posting }}">Medical Assistant</a>
                    </p>
                </div>
            </div>
        </div>
</div>