<div class="match lead-new">
    <div class="row">

            <div class="col-sm-8">
                <p class="lead-new-title"><a href="{{ link.pages-j-posting }}">
                    Certified Medical Assistant Medical Receptionist
                </a></p>
                <p class="lead-new-meta">Veterans Health Administration - Indianapolis, IN</p>
                <p class="lead-new-meta">40hr / week - $29,600 / year</p>
            </div>
        </div>

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<button type="button" class="btn btn-info btn-lg" onclick="window.location='{{ link.pages-j-posting }}';">-->
                <!--View-->
            <!--</button>-->
            <!--<div class="pull-right">
                <button type="button" class="btn btn-success btn-lg">
                    <span class="fa fa-heart"></span>
                </button>
                <button type="button" class="btn btn-danger btn-lg">
                    <span class="fa fa-thumbs-down"></span>
                </button>
            </div>-->
        <!--</div>-->
    <!--</div>-->
</div>