<div id="graph-flot-donut" style="height: 400px; padding: 0px; position: relative;">
    <canvas height="400" width="575" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 575px; height: 400px;" class="flot-base"></canvas>
    <canvas height="400" width="575" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 575px; height: 400px;" class="flot-overlay"></canvas>
    <span class="pieLabel" id="pieLabel0" style="position: absolute; top: 3.5px; left: 283.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(231,76,60);">Has Password
            <br>3%
        </div>
    </span>
    <span class="pieLabel" id="pieLabel1" style="position: absolute; top: 17.5px; left: 339.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(241,196,15);">Has Job Prefs.
            <br>8%
        </div>
    </span>
    <span class="pieLabel" id="pieLabel2" style="position: absolute; top: 147.5px; left: 445.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(46,204,113);">Resume Uploaded
            <br>23%
        </div>
    </span>
    <span class="pieLabel" id="pieLabel3" style="position: absolute; top: 343.5px; left: 352.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(52,152,219);">Viewed Matches
            <br>18%
        </div>
    </span>
    <span class="pieLabel" id="pieLabel4" style="position: absolute; top: 318.5px; left: 148.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(155,89,182);">Viewed a Job
            <br>21%
        </div>
    </span>
    <span class="pieLabel" id="pieLabel5" style="position: absolute; top: 69.5px; left: 128.5px;">
        <div style="font-size:medium;text-align:center;padding:2px;color:rgb(149,165,166);">Applied to a Job
            <br>28%
        </div>
    </span>
</div>