<div class="main-box">
    <header class="main-box-header clearfix">
        <h2>Overall</h2>
    </header>

    <div class="main-box-body clearfix">
        <div id="hero-donut"></div>
    </div>
</div>