<div class="btn-group">
    <button type="submit" data-toggle="modal" data-target="#create-note-modal" class="btn btn-primary">
        <span class="fa fa-plus-circle">&nbsp;Shortlist</span>
    </button>
</div>
<div class="btn-group dropup">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-ellipsis-h"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" data-toggle="modal" data-target="#new-message-modal"><span class="fa fa-send"></span>&nbsp;Send Message</a></li>
        <li><a href="#"><span class="fa fa-share"></span>&nbsp;Share</a></li>
        <li><a href="#"><span class="fa fa-question-circle"></span>&nbsp;Ask</a></li>
        <li><a href="#"><span class="fa fa-heart"></span>&nbsp;Favorite</a></li>
        <li><a href="#"><span class="fa fa-close"></span>&nbsp;Pass</a></li>
        <li><a href="#"><span class="fa fa-paperclip"></span>&nbsp;Create Note</a></li>
    </ul>
</div>