<button type="submit" class="btn btn-danger">
    <span class="fa fa-times">&nbsp;Pass</span>
</button>
<button type="submit" data-toggle="modal" data-target="#employerFavoriteStudentModal" class="btn btn-success">
    <span class="fa fa-heart">&nbsp;Favorite</span>
</button>