<div class="btn-group dropup">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-ellipsis-h"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#"><span class="fa fa-share"></span>&nbsp;Share</a></li>
        <li><a href="#"><span class="fa fa-pencil"></span>&nbsp;Edit</a></li>
        <li><a href="#"><span class="fa fa-archive"></span>&nbsp;Archive</a></li>
    </ul>
</div>