<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-sm-12 hidden-lg">
                            {{> organisms-contact-facilitator }}
                            {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                {{> organisms-advice-articles }}
                                {{> organisms-advice-videos}}
                            </div>
                            <div class="col-lg-4 visible-lg">
                                {{> organisms-contact-facilitator }}
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>