<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-lg">
                            <div class="col-sm-12">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">


                                    <header class="main-box-header clearfix">
                                        <h2>My Activity</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label for="datepickerDateRange">Date range</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                                    <input class="form-control" id="datepickerDateRange" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="table-activity" class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Activity</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>10/08/2015 - 10:00am</td>
                                                    <td class="headline">Uploaded Resume</td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline">Viewed Job - <a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:59am</td>
                                                    <td class="headline"><span class="fa fa-thumbs-up"> Me</span> - <a href="{{ link.pages-j-posting }}">Awesome Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:58am</td>
                                                    <td class="headline"><span class="fa fa-thumbs-down"> Not Me</span> - <a href="{{ link.pages-j-posting }}">Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:58am</td>
                                                    <td class="headline">Previewed Job - <a href="{{ link.pages-j-posting }}">Medical Assistant</a></td>
                                                </tr>
                                                <tr>
                                                    <td>10/08/2015 - 09:58am</td>
                                                    <td class="headline">Previewed Job - <a href="{{ link.pages-j-posting }}">Medical Assistant II</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 visible-lg">
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>