<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row hidden-md hidden-lg">
                            <div class="col-md-12">
                                <div class="margin-bottom-16">
                                {{> organisms-new-message-button }}
                                </div>
                                <div class="margin-bottom-16">
                                {{> organisms-create-to-do-student-button }}
                                </div>
                                <div class="margin-bottom-16">
                                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-message-modal">
                                    Ask for Help <span class="fa fa-question"></span>
                                  </button>
                                </div>
                                {{> organisms-student-stats }}
                                {{> organisms-contact-facilitator }}
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>


                        <div class="row">
                          <div class="col-md-8">
                            {{> organisms-student-stats }}
                            {{> organisms-request-to-dos }}
                            {{> organisms-bdubs-conversation-small }}
                            {{> organisms-activity-dashboard }}
                            {{> organisms-jobs-companies-count }}
                          </div>
                          <div class="col-md-4 hidden-sm">
                            <div class="margin-bottom-16">
                              {{> organisms-new-message-button }}
                            </div>
                            <div class="margin-bottom-16">
                              {{> organisms-create-to-do-student-button }}
                            </div>
                            <div class="margin-bottom-16">
                              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-message-modal">
                                Ask for Help <span class="fa fa-question"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>
