<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>

            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active"><span>{{ title }}</span></li>
                                </ol>

                                <h1>{{ title }}</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                {{> organisms-browse-jobs-needmore }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box small-graph-box green-bg">
                                    <span class="value">Posted by: Career Services</span>
                                </div>
                            </div>
                        </div>

                        {{> organisms-browse-jobs-multiple }}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-box small-graph-box green-bg">
                                    <span class="value">For Degree Program: Medical Assisting</span>
                                </div>
                            </div>
                        </div>

                        {{> organisms-browse-jobs-multiple }}

                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>