<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            {{> molecules-warning }}
                        </div>

                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-lg-12">
                        {{> organisms-profile-job-pref }}
                    </div>
                </div>-->

                <div class="row hidden-lg">
                    <div class="col-sm-12">
                        {{> organisms-bdubs-conversation-small }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="main-box tab-box minimal-tabs">
                            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#resumes-tab" role="tab" data-toggle="tab" aria-controls="resumes" aria-expanded="true">Resumes</a></li>
                                    <li role="presentation"><a href="#info-tab" role="tab" data-toggle="tab" aria-controls="info">Personal Info</a></li>
                                    <li role="presentation"><a href="#prefs-tab" role="tab" data-toggle="tab" aria-controls="prefs">Job Preferences</a></li>
                                    <li role="presentation"><a href="#messages-tab" role="tab" data-toggle="tab" aria-controls="messages">Messages</a></li>
                                    <li role="presentation"><a href="#to-dos-tab" role="tab" data-toggle="tab" aria-controls="to-dos">To-Dos</a></li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="resumes-tab" aria-labelledBy="resumes-tab">
                                        {{> organisms-profile-resume-upload }}
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="info-tab" aria-labelledBy="info-tab">
                                        {{> organisms-profile-personal-details }}
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="prefs-tab" aria-labelledBy="prefs-tab">
                                        {{> organisms-profile-job-pref }}
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="messages-tab" aria-labelledBy="messages-tab">
                                        {{> organisms-messages-list }}
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="to-dos-tab" aria-labelledBy="to-dos-tab">
                                        {{> organisms-to-dos }}
                                    </div>
                                </div>
                            </div><!-- /example -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="main-box">
                            <div class="main-box-header">
                                <h2>Skills Parsed from your Personalized Jobs Resume</h2>
                            </div>
                            <div class="main-box-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Medical Assisting</li>
                                    <li class="list-group-item">Taking blood pressure</li>
                                    <li class="list-group-item">Charting</li>
                                    <li class="list-group-item">Making phone calls</li>
                                </ul>
                            </div>
                        </div>
                        <div class="visible-lg">
                            {{> organisms-bdubs-conversation-small }}
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>