<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">

                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-box clearfix">
                                    <div class="main-box-header">
                                        <h2>The More You Know, The More You Can...</h2>
                                    </div>
                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <a data-flickr-embed="true"  href="https://www.flickr.com/photos/craftivist-collective/6237667320/" title="Encouraging Bunting"><img src="https://farm7.staticflickr.com/6059/6237667320_47a9ffd312_b.jpg" width="100%" alt="Encouraging Bunting"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <h3>Why should I read this?</h3>
                                                <p>Clear, step-by-step things to do for getting a job so you don't get stuck.</p>
                                                <h3>What is this about?</h3>
                                                <p>Everyone isn't just born knowing exactly what they want to do in life.</p>
                                                <p>Sure you're in school to get a job, maybe even chose a major in a field that you think you're interested in working, but that doesn't always easily translate into knowing exactly what job role or title you want to pursue and that's perfectly fine.</p>
                                                <p>If you need help figuring out what kind of work you want to do start by asking people around you about their jobs.</p>
                                                <p>People who are doing things you have interest in like bosses at work, friends who've recently graduated and landed jobs, family members, and even neighbors can shed some light on what their scope of work is and help you formulate a more solid idea of what kind of role you want.</p>
                                                <p><a href="#" class="btn btn-success">Read More</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                {{> organisms-contact-facilitator }}
                                {{> organisms-advice-articles }}
                                {{> organisms-bdubs-conversation-small }}
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>