<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-lg-5">
                                {{> organisms-assessment-completeness }}
                            </div>

                            <div class="col-lg-5">
                                {{> organisms-assessment-tips }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="iframe">
                                    <iframe src="https://assessment.betterweekdays.com/leapstart/survey/gototest/Login.asp?CMSessionKey=3934" id="bw_tai" name="bw_tai" style="-webkit-overflow-scrolling:touch;" height="700" width="900"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{> organisms-footer }}
            </div>
        </div>
    </div>
</div>