<div id="theme-wrapper">
    {{> organisms-header }}
    <div id="page-wrapper" class="container playlist">
        <div class="row">
            <div id="nav-col">
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">
                        {{> molecules-left-nav }}
                    </div>
                </section>
            </div>
            <div id="content-wrapper">
              <div class="col-md-12 hidden-md hidden-lg">
                <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg margin-bottom-10" data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                  Filter <span class="fa fa-filter"></span>
                </button>
              </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                              <div id="collapse-one" class="panel-collapse collapse peek-meta-data">
                                {{> organisms-bdubs-conversation-small }}
                                {{> organisms-playlist-filters }}
                              </div>
                                <div class="main-box infographic-box-center clearfix">
                                    <div class="clearfix">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="main-box-header playlist-tags">
                                                    <ul>
                                                        <li>New</li>
                                                        <li>Viewed</li>
                                                        <li>Degree/Program: Medical Assisting</li>
                                                        <li>Personalized</li>
                                                        <li>Internship</li>
                                                        <li>From Career Services</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <img src="../../images/employers_horizontal.jpg" alt="" class="employer-hero-image" style="height: 160px;"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 playlist-title">
                                            <a href="{{ link.pages-j-posting }}">
                                                    <span>Certified Medical Assistant Medical Receptionist</span>
                                                </a>
                                            </div>
                                            <div class="col-lg-12 playlist-sub-title">
                                                <p>Give patients the care and comfort they need to feel better, faster.</p>
                                            </div>
                                        </div>
                                        <div class="playlist-glances">
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-company">
                                                    <p><img class="employer-logo-playlist" src="../../images/company-logo-wwt.png" /></p>
                                                    <p>World Wide Technology</p>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-location">
                                                    <p>Indianapolis, IN</p>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-balance">
                                                    <h3>Work / Life Balance</h3>
                                                    <p>&#9733;&#9733;&#9733;&#189;</p>
                                                    <div id="target1" class="collapse">
                                                        <p>How current employees feel about not having to work all the time.</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-outlook">
                                                    <h3>Opportunity</h3>
                                                    <p>&#9733;&#9733;&#9733;&#9733;&#189;</p>
                                                    <div id="target2" class="collapse">
                                                        <p>How current employees feel about not having to work all the time.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 playlist-glance playlist-culture">
                                                    <h3>Culture &amp; Values</h3>
                                                    <p>&#9733;&#9733;</p>
                                                    <div id="target3" class="collapse">
                                                        <p>How employees measure company culture.</p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 playlist-glance playlist-compensation">
                                                    <h3>Compensation</h3>
                                                    <p>$29,960 median salary</p>
                                                    <div id="target4" class="collapse">
                                                        <p>The average median salary in the entire United States for folks in this industry.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                  <p class="playlist-explain">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#target1,#target2,#target3,#target4">What do these scores mean?</a>
                                                  </p>
                                            </div>
                                            <hr />
                                            <div class="playlist-glance">
                                                <h3>Responsibilities <a data-original-title="The day-to-day expectations of this job." href="#" data-toggle="tooltip" title="" class="fa fa-question-circle"></a></h3>
                                                <ul>
                                                    <li>Attention to Detail, Dependability, Cooperation, Integrity</li>
                                                    <li>Record patients' medical history, vital statistics, or information such as test results in medical records.</li>
                                                    <li>Prepare treatment rooms for patient examinations, keeping the rooms neat and clean.</li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <p class="small playlist-glassdoor"><a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></p>
                                            </div>
                                        </div>
                                        <!-- <div class="row playlist-feedback-desktop">
                                            <div class="row text-center">
                                                <form class="form-inline giant">
                                                    <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="icon-heartbrokenempty" style="font-size:22px; display:block; float:left; padding-top:6px; margin-right:4px;"></span><span style="margin-bottom:2px;"></span> Not Me</button>
                                                    <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="icon-heartempty" style="font-size:22px; display:block; float:left; padding-top:6px; margin-right:4px;"></span> Me</button>
                                                    <button type="submit" class="btn btn-default" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span> Next</button>
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <button type="button" class="accordion-toggle collapsed btn btn-primary btn-lg margin-bottom-10" data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
                                Filter <span class="fa fa-filter"></span>
                              </button>
                            </div>
                        </div>
                    </div>
              {{> organisms-footer }}
                </div>
            </div>
        </div>
    </div>
    <div class="playlist-feedback-mobile">
        <div class="row text-center">
            <form class="form-inline giant">
                <button type="submit" class="btn btn-danger" onclick="window.location='{{ link.pages-jsj-jobs-journey2 }}';"><span class="icon-heartbrokenempty" style="margin-right:5px; display:block; padding-top:2px; float:left;"></span><span style="display:block; float:right;">Not Me</span></button>
                <button type="submit" class="btn btn-success" onclick="window.location='{{ link.pages-j-posting }}';"><span class="icon-heartempty" style="margin-right:5px; display:block; padding-top:2px; float:left;"></span> <span style="display:block; float:right;"> Me</span></button>
                <button type="submit" class="btn btn-default" onclick="window.location='{{ link.pages-jsj-intro-journey2 }}';"><span class="fa fa-forward"></span> Next</button>
            </form>
        </div>
    </div>
</div>
